@import "../css/variables.css";

.passwordImg {
    width: 132px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.offcanvasBody {
    padding: 2px 50px 16px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -100px; */
}

.offcanvasFooter {
    padding: 16px 50px 16px 50px;
}

.btnSave {
    width: 100%;
}



.noScroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--transparentBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 13;
}

.dialogbox {
    background: var(--white);
    padding: 40px 30px;
    border-radius: 6px;
    width: 550px;
    display: flex;
    box-shadow: 0 2px 10px #0000001a;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.alertBox {
    width: 420px;
}

.actionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerDefaultGroup {
    margin-top: -90px;
    width: 130px;
    height: 110px;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borderColor);
    margin-bottom: 15px;
}

.headerDefaultImg {
    width: auto;
    height: 70px;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    padding-bottom: 20px;
    /* border-bottom: 1px solid var(--borderColor); */
    margin-bottom: 10px;
}

.headerImg {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.headerText {
    font-size: 18px;
    font-family: var(--fontGraphikSemibold);
    color: var(--black);
}

.content {
    padding: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.msgText {
    font-size: 16px;
    font-family: var(--fontGraphik);
    color: var(--lighBlack);
}

.action {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.btnCancel {
    padding: 15px 30px;
    background-color: var(--white);
    color: var(--lighBlack);
    font-size: 14px;
    font-family: var(--fontGraphik);
    border-radius: 6px;
    border: 1px solid var(--borderColor);
}

.btnSuccess {
    padding: 15px 30px;
    background-color: var(--textSuccess);
    color: var(--white);
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    border-radius: 6px;
    border: none;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: var(--textSuccessDark);
    }
}

.btnDelete {
    padding: 15px 30px;
    background-color: var(--textDanger);
    color: var(--white);
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    border-radius: 6px;
    border: none;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: #db4b2e;
    }
}

.btnOne:hover {
    background-color: #0ab39c !important;
    color: white !important;
}

.btnOne:hover .btnOneText {
    color: rgb(251, 253, 253) !important;
    cursor: pointer;
}

.btnTwo:hover {
    background-color: rgb(233, 18, 18);
    color: white;
}

.btnTwo:hover .btnTwoText {
    color: white;
}

.btnOneText {
    font-size: 14px;
}

.btnTwoText {
    font-size: 14px;
}

.vehicleScroll {
    height: 298px;
    overflow: auto;
}

.listStyle {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 50px;
    max-height: 298px;
    overflow: auto;
    /* justify-content: center; */
}

.checkStyle {
    width: calc(100% / 4 - 8px);
    border: 1px solid var(--borderColor);
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--white);
    transition: 0.2s ease-in-out;



    &:hover {
        background-color: var(--whitef5);

        .cityName {
            color: var(--black);
        }
    }
}

.checkValue {
    font-size: 13px;
    color: var(--black);
    font-family: var(--fontGraphik);
}

.searchGroup {
    padding: 0px 0px 16px 0px;
}

.inputSearch {
    font-size: 14px;
    border: none;
    background: var(--whitef5);
    background-image: url('../../assets/images/icons/iconSearch.svg');
    background-repeat: no-repeat;
    background-position: 10px 15px;
    background-size: 16px 16px;
    border-radius: 6px;
    width: 100%;
    padding: 16px 16px 16px 32px;
    transition: 0.2s;
    font-family: var(--fontGraphik);
    color: var(--lightBlack);

    &:focus {
        background-position: 95% 15px;
        padding: 16px 32px 16px 16px;

        color: var(--black);
    }
}

.userScroll {
    height: calc(100vh - 173px);
    overflow: auto;
}

/* Buttons */

.backBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    left: 20px;
    top: 22px;
}

.iconBack {
    width: 22px;
    height: 22px;
}

.backBtn:hover .iconBack {
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7500%) hue-rotate(44deg) brightness(104%) contrast(107%);
}

.closeBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 22px;
    transition: 0.5s ease-in-out;
}

.closeImg {
    width: 20px;
    height: 20px;
}

.closeBtn:hover .closeImg {
    filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(828%) hue-rotate(331deg) brightness(103%) contrast(88%);
}

.modalBody {
    width: 100%;
}

.continueBtn {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    background-color: var(--themeColor);
    color: var(--white);
    border: none;
    height: 48px;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
}

.wardBtn {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}

.yesBtn {
    background-color: var(--textSuccess);
    color: var(--white);
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    border: none;
    height: 48px;
    border-radius: 5px;
    width: 200px;
    display: flex;

    &:hover {
        background-color: var(--textSuccessDark);
    }
}

.noBtn {
    background-color: var(--textDanger);
    color: var(--white);
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    border: none;
    height: 48px;
    border-radius: 5px;
    width: 200px;
    display: flex;

    &:hover {
        background-color: var(--textDangerDark);
    }
}

/* issue input box*/
.issueTextarea {
    margin-bottom: 10px;
}

.issueBox {
    height: 100px;
    text-align: start;
    resize: none;
    margin-bottom: 0px;

    &:focus {
        border: 1px solid var(--borderColor) !important;
    }
}

.saveLoaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderText {
    color: white;
    font-size: 16px;
    text-transform: none;
}

.spinnerSave {
    margin-right: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 767.98px) {
    .overlay {
        z-index: 1071;
    }

    .dialogbox {
        padding: 0px 16px;
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
    }

    .alertBox {
        justify-content: center;
    }

    .backBtn {
        left: 16px;
    }

    .closeBtn {
        right: 16px;
    }

    .headerDefaultGroup {
        margin-top: 20px;
    }

    .modalBody {
        padding: 0px;
        background-color: var(--white);
        border-radius: 0px;
        /* height: calc(100vh - 234px);
  overflow: auto; */
        padding-bottom: 20px;
    }

    .modalBody::-webkit-scrollbar {
        width: 0px;
    }

    .listStyle {
        min-height: 50px;
        max-height: 428px;
        overflow: auto;
    }

    .vehicleScrollMob {
        max-height: max-content;
    }

    .vehicleScroll {
        height: calc(100vh - 260px);
        overflow: auto;
    }

    .checkStyle {
        width: calc(100% / 2 - 10px);
    }

    .checkValue {
        font-size: 14px;
    }

    .btnSuccess,
    .btnCancel,
    .btnDelete {
        padding: 15px 15px;
    }

    .msgText {
        font-size: 14px;
    }

    .inputSearch {
        background-position: 10px 15px;
        padding: 15px 16px 15px 32px;

        &:focus {
            background-position: 95% 15px;
            padding: 15px 32px 15px 16px;
        }
    }

    .searchGroup {
        display: none;
    }

    .userListTitle {
        display: block;
    }

    .userScroll {
        height: calc(100vh - 360px);
        overflow: auto;
    }
}

@media (max-width: 767.98px) {
    .btnClose {
        position: fixed;
    }

    .offcanvasBody {
        padding: 2px 30px 16px 30px;
    }

    .offcanvasFooter {
        padding: 16px 30px 16px 30px;
    }
}