/* Container styles */
.container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* Card styles */
  .card {
    max-width: 700px;
    width: 100%;
    position: relative;
  }
  
  /* Canvas style write here */
  .custom_offcanvas {
    width: 900px;
  }
  
  .custom_offcanvas_header {
    font-weight: 400;
  }
  
  .custom_offcanvas_body {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  
  /* use custom design of an add button */
  .addbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(166, 216, 255);
    color: white !important;
    border: none;
    width: 80px;
  }
  
  .addbtn:hover {
    background-color: #009aee !important;
    color: white !important;
  }
  
  .addbtn .btn_label {
    color: white  !important;
    cursor: pointer;
  }
  
  .addbtn:hover .btn_label {
    color: white !important;
  }
  
  /* use custom design of cancel button */
  .cancel_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: red !important;
    border: none;
    width: 80px;
  }
  
  .cancel_btn:hover {
    background-color: red !important;
    color: white !important;
  }
  
  .cancel_btn .btn_label {
    color: red !important;
    cursor: pointer;
  }
  
  .cancel_btn:hover .btn_label {
    color: white !important;
  }
  
  /* custom canvas style */
  .offcanvas_footer {
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 -0.75rem 1.5rem #12263f08;
    border-top: 1px solid #d0d0d0;
  }
  
  .btn_save {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 8px 14px;
    border: none;
    background: #daf4f0;
    color: #0ab39c;
    width: 80px;
    margin-right: 10px;
  
    &:hover {
        background-color: #0ab39c;
        color: #ffffff;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 700px) {
    .container {
        margin-left: 0px;
        margin-top: 50px;
    }
  }
  
  @media (min-width: 375px) and (max-width: 667px) {
    .card {
        margin-top: 200px;
        position: static;
    }
  
    .container {
        margin-left: 0px;
        margin-top: 50px;
    }
  }
  
  @media (min-width: 390px) and (max-width: 844px) {
    .card {
        margin-top: 30px;
        position: static;
    }
  
    .container {
        margin-left: 0px;
        margin-top: 50px;
    }
  }
  
  
  .loader_container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100% !important;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    /* / opacity: 0.2; /
    margin-bottom: 15px; */
  }
  
  .spinner_border_9 {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 520px;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
    font-family: "poppins" "sans serief";
  }
  
  .wrapper {
    position: absolute;
    top: 20%;
    transform: scale(1.5);
    /* / left: 50%; / */
  }
  
  .loader {
    height: 25px;
    width: 1px;
    position: absolute;
    animation: rotate 3.5s linear infinite;
  }
  
  .loader .dot {
    top: 30px;
    height: 7px;
    width: 7px;
    background: green !important;
    border-radius: 50%;
    position: relative;
  }
  
  .text {
    position: absolute;
    bottom: -96px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
    color: #000000;
  }
  @keyframes rotate {
    30% {
      transform: rotate(220deg);
    }
  
    40% {
      transform: rotate(450deg);
      opacity: 1;
    }
  
    75% {
      transform: rotate(720deg);
      opacity: 1;
    }
  
    76% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
      transform: rotate(0deg);
    }
  }
  
  .loader:nth-child(1) {
    animation-delay: 0.15s;
  }
  
  .loader:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader:nth-child(3) {
    animation-delay: 0.45s;
  }
  
  .loader:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .loader:nth-child(5) {
    animation-delay: 0.75s;
  }
  
  .loader:nth-child(6) {
    animation-delay: 0.9s;
  }

  .Loginloadercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spinnerLogin{
    margin-right: 10px;
    animation: spin 1s linear infinite;
  }
  
  
  .loaderLogin{
    height: 25px;
    width: 1px;
    position: absolute;
    animation: rotate 3.5s linear infinite;
  }
  
  .loaderLogin .dot {
    margin-right: 10px;
    animation: spin 1s linear infinite;
  }
  
  .loaderText {
    color: white;
    font-size: 13px;
    text-transform: none;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }