@import '../../assets/css/variable.css';
@import '../../assets/css/fonts.css';

.container {
    margin: auto !important;
    width: 1040px !important;
}

.section-bg {
    background: linear-gradient(-45deg, #0d6efd 50%, #198754) !important;

    width: 100%;
}

.loaderClass {
    /* background-image: url() !important; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-img {
    width: 100%;
    height: 100vh !important;
    /* background-image: url() !important; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.bg-overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.task-haeding {
    padding: 15px 15px;
}

.task-haeding h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.login100-form {
    width: 100%;
    padding: 0px 75px;
    box-sizing: border-box;
    display: "flex";
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

}

.input-green {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    display: block;
    width: 100%;
    background-color: #fff;
    font-family: var(--fontGraphikMedium);
    padding: 10px 13px !important;
    border-radius: 4px;
    border: 1px solid #ced4da !important;
}

.back-button {
    border: none;
    background: #ffffff00;
    padding: 0px;
}

.backIcon {
    width: 20px;
    height: auto;
}

.login100-form-title {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}

.imgCenter {
    text-align: center;
}

.login100-form-title h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #000000;
    font-family: var(--fontGraphikBold);
    font-size: 28px !important;
}

/* .login100-form-title p {
    font-family: var(--fontGraphik);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #93979b;
} */

.labelfont {
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #b6b6b6 !important;
    font-family: var(--fontGraphik);
}

.form-check-label {
    font-family: var(--fontGraphik);
    color: "#495057";
    font-Size: 12px;
    margin-left: 8px
}

.link-hover {
    font-family:var(--fontGraphik);
    color: "#495057";
    font-size: 12px;
}

.login {
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    border: none !important;
    width: 100%;
    border-radius: 4px;
    background-color: #29b6f3 !important;
    cursor: pointer !important;
    /* text-align: left; */
    position: relative;
    margin-top: 24px;
    font-weight: 500;
    height: 48px;
    font-family: var(--fontGraphikMedium);
}

.bg-section {
    margin-left: 80px !important;
}

.contect-story {
    position: absolute;
    top: 0;
    display: flex;
    padding: 40px 60px;
    align-items: center;
}

/* .carousel-caption h1 {
    color: #fff;
    font-size: 30px;
    font-family: var(--fontGraphikMedium);
    margin-bottom: 10px;
} */

/* .carousel-caption p {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: var(--fontGraphi);
} */

.contect-story h1 {
    color: #fff;
    font-size: 24px;
    font-family: var(--fontGraphikMedium);
}

.contect-forget {
    color: #000000;
    font-size: 24px;
    font-family: var(--fontGraphikMedium);
    margin-bottom: 10px;
}

.link-sign span {
    font-family: var(--fontGraphik)important;
    cursor: pointer;
    color: #0d6efd;
}

.link-sign p {
    font-family: var(--fontGraphik);
    font-size: 13px;
}

.link-sign {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    color: #93979b;
    font-family: var(--fontGraphik);
}

.recetive-here {
    font-family: var(--fontGraphi);
    cursor: pointer;
    color: #0d6efd;
}

.opt-text {
    font-family: var(--fontGraphik);
    font-size: 13px;
    color: #93979b;
}

.link-sign span:hover {
    color: #0556d0;
}

.recetive-here:hover {
    color: #0556d0;
}

.mail-send-text {
    font-weight: 500;
    color: #405189;
}

.floating-input {
    width: 100%;
    height: 44px;
    color: #707070;
    font-size: 12px;
    border: 1px solid #e5e5e5;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0px;
    z-index: 2;
    padding: 0;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    list-style: none;
    z-index: 100;
}

.wrap-login100 {
    background: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto !important;
    position: relative;
}

.carousel {
    z-index: 1;
    border-right: 1px solid #ededed;
}

.login100-form-title {
    width: 100%;
    display: block;
    padding-bottom: 30px;
}


.wrap-input-effects {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input-green {
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #212529;
    display: block;
    width: 100%;
    background-color: #ffff;

    font-family: var(--fontGraphik);

    padding: 10px 13px !important;
    border-radius: 4px;
    border: 1px solid #ced4da !important;
}

.login-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--fontGraphikMedium)important;
}

.floating-label {
    background-color: transparent;
    transition: background-color 0.3s ease, top 0.3s ease;
    padding: 0 5px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.floating-label.floating {
    top: -10px;
    background-color: red;
}

.float-end a {
    color: #878a99 !important;
    text-decoration: none;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;

    font-family: var(--fontGraphik);
}

.form-control:focus {
    outline: none;
    box-shadow: none;

}

input:focus {
    outline: none;
    box-shadow: none;
}

.bg-section {
    margin-left: 80px !important;
}

.auto-section {
    overflow: hidden;
    /* height: calc(100vh - 18px); */
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: grey;
    margin: 0 10px;
}

.account-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.otpcard {
    margin-bottom: 0px;
    text-align: center;
}

.input-control {
    display: block;
    width: 12%;
    align-items: center;
    padding: 0.5rem 0.9rem;
    font-size: 0.8125rem;
    font-weight: 500;
    font-family: var(--fontGraphik);
    background-color: white;
    appearance: none;
    border-radius: 0.35rem;
    border: 1px solid #ced4da;
    line-height: 1.5;
    height: 60px;
    margin: 4px;
}

.circle-background {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-bottom: 18px;
}

.done-card {
    padding-bottom: 7.5rem;
}

.loader-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 12%;
}

.back-option {
    position: absolute;
    left: 70px;
    top: 50px;
}

@media (max-width: 991px) {
    .wrapper {
        position: absolute;
        right: 43%;
        top: 45%;
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0ab39c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loader-text {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1440px) {
    .back-option {
        left: 10%;
        top: 5%;
    }
}

@media (max-width: 1279px) {
    .login100-form {
        padding: 0px 40px;
    }

    .contect-story {
        padding: 0px;
        top: 40px;
        left: 6%;
    }


}

@media (max-width: 1025px) {
    .limiterpros {
        flex: 0 0 auto;
        width: 100.666667%;
    }

    .MediaMin {
        height: auto !important;
    }

    .limiterprosSlide {
        order: 2 !important;
    }

    .wrap-login100 {
        height: 70vh;
    }

    .carousel-caption {
        padding-bottom: 0px;
    }

    .back-option {
        left: 4%;
        top: 5%;
    }
}

@media (max-width: 978px) {
    .carousel-caption {
        max-width: 350px;
    }

    .carousel-indicators {
        bottom: 0;
    }
}

@media (max-width: px) {
    .carousel-caption {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        margin: 0 auto;
        padding: 20px;
    }

    .login100-form-title img {
        width: 50px;
    }
}

@media (max-width: 576px) {
    .login100-form {
        padding: 0px 16px;
    }
}

@media (max-width: 425px) {
    .carousel {
        display: none;
    }

    .wrap-login100 {
        height: 100vh;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 74%, rgba(198, 67%, 68%) 100%);
    }

    .link-sign {
        color: #a9a9a9;
    }

    .form-floating .form-control {
        background-color: #ffff;
    }

    .contect-story-mobile {
        display: none;
    }

    .contect-story-mobile {
        position: absolute;
        top: 0;
        display: flex;
        padding: 40px 0px;
        flex-direction: column;
    }

    .contect-story-mobile h1 {
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }

    .login100-form-title h5 {
        color: #000000;
    }
}