/* .carousel-item img.zoom-animation {
    animation: zoomInOut 8s ease-in-out infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
} */
.slide{
    position: relative;
}
.slide::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%);
}
.carousel-caption {
    /* max-width: 550px; */
    /* position: absolute;
    right: 0%;
    bottom: 40px;
    left: 6%; */
    padding-top: 0px;
    padding-bottom: 30px;
    color: #fff;
    text-align: left;
    z-index: 99;
    justify-content: center;
    align-items: center;
    display: flex;
    /* text-align: center; */
  }

