.birthdayContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* width: 30%; */
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.cardCount {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.birthdayCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-right: 10px;
  text-align: center;
  scroll-snap-align: start;
  position: relative;
}

.userDp img,
.noBirthdayImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.userName {
  font-size: 18px;
  font-weight: bold;
}

.birthdayLabel {
  font-size: 14px;
  color: gray;
}

.scrollButtonLeft,
.scrollButtonRight {
  background-color: #fff;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  /* Positioning the buttons inside the card */
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.scrollButtonLeft {
  left: 10px;
  /* Adjust the left position */
}

.scrollButtonRight {
  right: 10px;
  /* Adjust the right position */
}