.mainContainer {
    display: flex;
    flex-direction: column;
 margin-top: 60px;
 padding: 10px;
}



.ModificationContainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
   
}