.selectorContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
 
}
.dateGroup{
    display: flex;
    /* align-items: center; */
    gap: 10px;
}
.toggleGroup{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}

.selectorBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.dropdown {
    padding: 10px;
    font-size: 14px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown:focus {
    outline: none;
    border-color: #4e91ff;
}

/* React-Select Styles */
.reactSelectContainer {
    width: 215px;
    cursor: pointer;
    z-index: 4;
}

.toggleLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.toggleSlider {
    width: 28px;
    height: 17px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.toggleSlider::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 2px;
    transition: 0.3s;
}

/* Active toggle state */
.toggleSlider.active {
    background-color: #0ab39c;
}

.toggleSlider.active::before {
    transform: translateX(13px);
}

.toggleText {
    width: 60px;
font-size: 13px;
font-family: var(--fontGraphikMedium);
color: var(--gray);
}



.react-select__control {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    font-size: 14px;
    background-color: #fff !important;
}

.react-select__menu {
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.react-select__option {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.react-select__option--is-selected {
    background-color: #007bff !important;
    color: white !important;
}

.react-select__option--is-focused {
    background-color: #f0f0f0 !important;
}

.react-select__indicator {
    color: #333 !important;
}
.dropDownwwwp {
  margin-bottom: 10px;
}

.projectNaam {
  /* max-width: 100px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--darkBlack);
  font-size: 13px;
  font-family: var(--fontGraphik);
  /* min-width: 150px; */
  text-align: left;
}

.selectedProject {
  border: none;
  background-color: var(--white);
  box-shadow: 0 0 20px 0 #0000001a;
  padding: 0px;
  border-radius: 6px;
  margin: 0px;
  overflow: hidden;
  transform: matrix3d(2px, 0, 0);
  transition: 0.22s ease-in linear;
  animation: slideDown 0.3s ease-out forwards;
  width: 120px;
  /* ya jitni chhoti chahiye */
  min-width: unset;
  /* agar koi min-width laga ho */
  max-width: 140px;
  z-index: 4;

}

.customDropdownItem:hover {
  background-color: var(--whitef5);
}


.customDropdownItem {
  font-size: 13px;
  font-family: var(--fontGraphik);
  padding: 10px 16px;
  width: 100%;
  text-align: left;
  outline: none;
  border: none;
  background: transparent;
}
.dropdownDesktop{
  height: calc(100vh - 120px);
  overflow: auto;
  padding: 0px 16px;
}

.dropdownLi:nth-last-child(1) {
  margin-bottom: 10px;
}
.selectedProject{
    width: 100%;
}

.dropdowmbtn {
  width: 120px;
  background-color: var(--white);
  border: 1px solid #ced4da;
  position: relative;
  height: 36px;
  padding: 0px 35px 0px 10px;
  border-radius: 4px;
}

.dropdowmbtn:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 11px;
  width: 12px;
  height: 12px;
  background-image: url(../../../src/assets/images/icons/iconDown.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dropDownwwwp {
  margin-bottom: 10px;
}