.add_plan_canvas .floating_text {
    padding: 0px;
  }
  
  .body_top {
    padding: 20px 15px 25px 15px;
  }
  
  .body_top {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .body_bottom {
    padding: 0px 15px 20px 15px;
  }
  
  .upload_main {
    display: flex;
    justify-content: end;
  }
  
  .upload_input {
    /* margin-top: 30px; */
  }
  
  .title_upload {
    color: #000;
    font-family: poppins, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .user_uploder {
    border: 1px dashed #c1c1c1;
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #daf4f0;
    width: auto;
    cursor: pointer;
    transition: 0.5s;
  
    &:hover {
      background-color: #c3ede6;
    }
  }
  .userImage_uploder {
    border: 1px dashed #c1c1c1;
    padding: 12px 66px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #daf4f0;
    width: auto;
    cursor: pointer;
    transition: 0.5s;
  
    &:hover {
      background-color: #c3ede6;
    }
  }
  
  .title_upload {
    font-size: 14px;
    font-family: "poppins", sans-serif;
    color: #000000;
    margin-bottom: 0px;
  }
  
  .icon_upload {
    color: #333;
    font-size: 18px;
    margin-right: 6px;
  }
  
  .icon_upload2 {
    color: #333;
    font-size: 18px;
    margin-right: 6px;
  }
  
  .ck_rounded_corners_text {
    height: 160px;
  }
  
  .file_upload_group {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 12px 16px;
    margin-bottom: 16px;
  }
  
  .upload_file_avatar {
    margin-right: 16px;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    background: #f3f3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  
  .file_upload_left {
    display: flex;
    align-items: center;
    width: 80%;
  }
  
  .upload_file_info {
    display: flex;
    flex-flow: column;
    justify-content: start;
  }
  
  .upload_file_title {
    font-size: 13px;
    font-family: "poppins", sans-serif;
    color: #000000;
  }
  .file_upload_right {
    width: 20%;
    display: flex;
    justify-content: end;
    margin-left: auto;
  }
  .file_download_group {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    padding: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .download_btn {
    background-color: #daf4f0;
    color: #000000;
    margin-right: 15px;
    transition: 0.5s;
    &:hover {
      background-color: #0ab39c;
      color: #fff;
    }
  }
  .delete_button {
    background-color: #ff000020;
    color: #000000;
    transition: 0.5s;
    &:hover {
      background-color: #ff0000;
      color: #fff;
    }
  }
  /* Global.module.css */
  .is_invalid {
    border-color: red !important;
  }
  
  .invalid_feedback {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25rem;
  }
  
  .uploader_item {
    max-height: 200px; /* Set a maximum height for the scrollable area */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding: 10px;     /* Optional: Add padding for better appearance */
     /* Optional: Add a border for visual separation */
  }
  
  .uploader_item2 {
    max-height: 250px; /* Set a maximum height for the scrollable area */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding: 10px 1px;     /* Optional: Add padding for better appearance */
     /* Optional: Add a border for visual separation */
  }
  
