
  .hideDesktop {
    display: none;
  }
  .userListTitle{
    font-size: 16px;
    color: var(--black);
    padding: 12px 16px;
    display: none;
    font-weight: 600;
  }

  .searchGroup {
    padding: 16px 16px;
  }
  .inputSearch {
    font-size: 13px;
    border: none;
    background: var(--whitef5);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 16px 16px;
    border-radius: 6px;
    width: 100%;
    padding: 8px 16px 8px 32px;
    transition: 0.2s;
    color: var(--lightBlack);
    &:focus {
      background-position: 95% 10px;
      padding: 8px 32px 8px 16px;
  
      color: var(--black);
      border: none;
    }
  }
  
  .userScroll{
    height: calc(100vh - 183px);
    overflow: auto;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  .userScroll1{
    height: calc(50vh - 50px);
    /* margin-bottom: 40px; */
    overflow: auto;
    margin-top: 10px;
    background-color: #ffff;
  }
  .userScroll0{
    height: calc(50vh - 50px);
    overflow: auto;
    background-color: #ffff;
  }

  @media (max-width: 767.98px) {
    .hideDesktop {
      display: flex;
    }
    .inputSearch {
      background-position: 10px 15px;
      padding: 15px 16px 15px 32px;
      &:focus {
        background-position: 95% 15px;
        padding: 15px 32px 15px 16px;
      }
    }
    .searchGroup{
      display: none;
    }
    .userListTitle{
      display: block;
    }
    .userScroll{
      height: calc(100vh - 360px);
      overflow: auto;
    }
    .dropdown44{
      margin-left: 0px;
    }
  }
  .selectedUser {
    background-color: #48b54920; 
    color: blue; 
  }
  @media (max-width: 767.98px){
    .userLeft {
        width: 100%;
        margin-top: 80px;
        margin-left: 0px;
    }
    .userRight{
      width: 100%;
      position: fixed;
      right: 0px;
      top: 70px;
      background: white;
      padding: 10px 16px;
      height: auto;
      border-bottom: 1px solid var(--borderColor);
      z-index: 3;
  }
  .orderFirst{
    order: 1;
  }
  .orderSecond{
    order: 2;
  }
  
  }
  .userRight {
    width: 250px;
    position: fixed;
    left: 0px;
    top: 70px;
    height: calc(100vh - 70px);
  }

  @media (max-width: 768px) {
    .userPage-container {
        padding: 10px;
    }
    .userPage-header {
        font-size: 24px;
    }
    .userPage-content {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}