@import "../../../css/variable.css";
@import "../../../css/fonts.css";
@import "../../../css/normalize.css";

.noteBox {
  margin: 10px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: baseline;
  &:hover{
    .iconContainer{
      opacity: 1;
    }
  }   
}
.noteLeft{
  width: 105px;
  margin-top: -2px;
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.iconAlertWarning{
  width: 18px;
}
.boxContent{
  width: calc(100% - 105px);
  font-size: 13px;
  font-family: var(--fontGraphik);
  display: flex;
  justify-content: space-between;
  margin-top: -8px;
}

.objectiveAddBtn {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}

.iconContainer {
  width: 75px;
  display: flex;
  margin-left: 10px;
  /* Adjust as needed */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  top: 3px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  &:hover {
    .iconEdit {
      filter: brightness(0) saturate(100%) invert(66%) sepia(37%) saturate(3186%) hue-rotate(172deg) brightness(99%) contrast(91%);
    }
  }
}

.iconEdit {
  width: 15px;
  /* Adjust icon size */
  height: 15px;
  cursor: pointer;
}