@import "../../../css/variable.css";
@import "../../../css/fonts.css";
@import "../../../css/normalize.css";

.subTaskBox {
  background-color: var(--white);
  border-radius: 6px;
  margin-bottom: 10px;
}

.subTaskBoxHeader {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid var(--borderColor);
}

.subTaskTile {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.subTaskCount {
  font-size: 15px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  margin-left: 5px;
}

.subTaskAddBtn {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}

.iconEye {
  width: 16px;
  height: 16px;
}

.MenuWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  background: #ffffff;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: #00000033 0px 2px 5px;
  padding: 0px;
  font-family: var(--fontGraphik);
  font-size: 13px;
  color: var(--black);
  width: 120px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 120px;
}

.MenuItem {
  padding: 8px 16px;
  cursor: pointer;
}

.ownerBG {
  width: 34px;
  height: 30px;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--darkBlack);
  font-family: var(--fontGraphik);
}

/** No Data Available **/
.noData {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.noDataImg {
  width: 110px;
  margin-bottom: 10px;
}

.noDataText {
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

/**  Loader **/

.loaderContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--themeColor);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loaderText {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}

.subTaskBoxFooter {
  width: 100%;
  /* padding: 16px 16px; */
  background-color: var(--white);
  text-align: center;
  position: relative;
  position: relative;
  border-radius: 6px;
}
.tableSubTask td {
  padding: 6px 16px !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.customTable {
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
}
.tableRow {
  display: flex;
  width: 100%;
  gap: 16px;
  padding-bottom: 8px;
  align-items: flex-start;
  padding: 8px 16px;
  transition: all 0.3s;
  border-bottom: 1px solid var(--borderColor);
  &:hover {
    background-color: var(--whitef5);
  }
  &:nth-last-child(1) {
    padding-bottom: 10px;
    border-bottom: none;
  }
}
.tableLeft {
  width: calc(100% - 482px);
  display: flex;
  gap: 10px;
}
.tableTask {
  width: calc(100% - 25px);
}
.tableRight {
  width: 482px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}
.btnMore:disabled {
  pointer-events: auto;
}
.customDropdown {
  padding: 12px;
  margin: 0px;
  box-shadow: 0px 0px 8px 0px #0000001a;
  border-radius: 6px;
  border: none;
  min-width: 140px;
}
.dropdownItem {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--white);
  transition: 0.2s;
  &:hover {
    background-color: var(--whitef5);
    .dropdownText {
      color: var(--black);
    }
    .iconDefault {
      filter: brightness(0) saturate(100%) invert(58%) sepia(27%)
        saturate(7413%) hue-rotate(334deg) brightness(99%) contrast(89%);
    }
    .iconBox {
      background-color: var(--white);
    }
  }
}
.iconBox {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  color: var(--darkBlack);
  font-family: var(--fontGraphik);
  font-size: 13px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  padding: 8px;
}
.dropdownText {
  font-size: 13px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
}
.statusText {
  font-size: 11px !important;
  background: #ffffff00 !important;
  margin-left: -5px;
}
.statusCricle {
  width: 5px;
  height: 5px !important;
  border-radius: 50% !important;
  padding: 0px !important;
}
