@import "../../../css/variable.css";
@import "../../../css/fonts.css";
@import "../../../css/normalize.css";

.taskBox {
  background-color: var(--white);
  border-radius: 6px;
  /* box-shadow: 0px 4px 8px #0000000d; */
  margin-bottom: 10px;
  overflow: hidden;
}

.taskBox2 {
  display: flex;
  margin-bottom: 10px;
  border-radius: 0px 0px 6px 6px;
  padding: 16px;
  align-items: baseline;

  &:hover {
    .iconEditBox {
      opacity: 1;
    }
  }
}

.descriptionArea {
  width: calc(100% - 40px);
}

.taskBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 10px 16px;
  background-color: var(--white);
  border-bottom: 1px solid var(--borderColor);
}

.iconHeader {
  width: 16px;
  height: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(37%) saturate(3186%) hue-rotate(172deg) brightness(99%) contrast(91%);
  }
}

.iconEditBox {
  opacity: 0;
  transition: 0.2s ease-in;
  width: 40px;
  text-align: end;
}

.taskBoxTitle {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.taskBoxContent2 {
  padding: 0px !important;
}

.taskBoxContent {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  padding: 16px;
}

.taskBoxContent p {
  padding-bottom: 12px;
}

.taskBoxContent ul {
  margin: 0px;
}

.taskBoxContent ol:nth-last-child(1) {
  margin-bottom: 0px;
}

.taskBoxParagraph {
  font-size: 14px;
  font-family: var(--fontGraphikMedium);
}

.MenuWrapper {
  position: relative;
  display: inline-block;
}

.MenuIcon {
  cursor: pointer;
}

.Menu {
  position: absolute;
  top: 15px;
  right: 100%;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  box-shadow: 0px 2px 4px #0000001a;
  z-index: 2;
  width: 120px;
  font-size: 13px;
  font-family: var(--fontGraphik);
  border-radius: 6px;
  overflow: hidden;
}

.Menu div {
  padding: 10px 12px;
  cursor: pointer;
}

.Menu div:hover {
  background-color: var(--whitefa);
}

/** No Data Available **/
.noData {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.noDataImg {
  width: 110px;
  margin-bottom: 10px;
}

.noDataText {
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.viewMoreBtn {
  background: none;
  border: none;
  color: rgb(109, 186, 234);
  cursor: pointer;
  margin-top: 5px;
  margin-left: auto;
}


/* this is attachment styles  */
.DetailsCard {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  height: 300px;
  font-family: 'Poppins', sans-serif;
  transition: box-shadow 0.3s ease;
}

.CardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebec;
  padding: 14px 16px;
}

.heading {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.custom_AddAttachment_btn {
  color: #5eb1f4;
  border-radius: 4px;
  border: #5eb1f4;
  display: flex;
  padding: 0px;
}

.add_icon {
  width: 14px;
  margin-right: 16px;
}

.add_icon:hover {
  filter: brightness(0) saturate(100%) invert(47%) sepia(77%) saturate(1520%) hue-rotate(162deg) brightness(99%) contrast(101%);
}

.custom_AddAttachment_btn:hover {
  color: #5eb1f4;
}

.add_plan_canvas .floating_text {
  padding: 0px;
}

.body_top {
  padding: 20px 15px 25px 15px;
}

.body_top {
  border-bottom: 1px solid #e5e5e5;
}

.body_bottom {
  padding: 0px 15px 20px 15px;
}

.upload_main {
  display: flex;
  justify-content: end;
}

.upload_input {
  /* margin-top: 30px; */
}

.title_upload {
  color: #000;
  font-family: poppins, sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}

.user_uploder {
  border: 1px dashed #c1c1c1;
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #daf4f0;
  width: auto;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #c3ede6;
  }
}

.userImage_uploder {
  border: 1px dashed #c1c1c1;
  padding: 12px 66px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #daf4f0;
  width: auto;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #c3ede6;
  }
}

.title_upload {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  color: #000000;
  margin-bottom: 0px;
}

.icon_upload {
  color: #333;
  font-size: 18px;
  margin-right: 6px;
}

.icon_upload2 {
  color: #333;
  font-size: 18px;
  margin-right: 6px;
}

.ck_rounded_corners_text {
  height: 160px;
}

/* .uploader_item2{
  display: flex;
  gap: 10px;
} */
/* .file_upload_group {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 12px 16px;
  margin-bottom: 16px;
} */
.uploader_item2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.file_upload_group {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 12px 16px;
  margin-bottom: 16px;
  width: auto;
  /* Adjust width based on content */
  max-width: 100%;
  /* Prevent overflow */
  min-width: 200px;
  /* Ensure a minimum width */
}

.file_upload_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.upload_file_avatar {
  margin-right: 16px;
  width: 40px;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  background: #f3f3f9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.file_upload_left {
  display: flex;
  align-items: center;
}

.upload_file_info {
  display: flex;
  flex-flow: column;
  justify-content: start;
}

.upload_file_title {
  font-size: 13px;
  font-family: "poppins", sans-serif;
  color: #000000;
}

.file_download_group {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  padding: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.download_btn {
  background-color: #daf4f0;
  color: #000000;
  margin-left: 5px;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color: #0ab39c;
    color: #fff;
  }
}

.delete_button {
  background-color: #ff000020;
  color: #000000;
  margin-left: 5px;
  transition: 0.5s;
  border: none;
  &:hover {
    background-color: #ff0000;
    color: #fff;
  }
}

/* Global.module.css */
.is_invalid {
  border-color: red !important;
}

.invalid_feedback {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25rem;
}