@import "../../../css/variable.css";
@import "../../../css/fonts.css";
@import "../../../css/normalize.css";

.pageContent {
  margin-top: 60px;
  padding: 16px;
}
.pageTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.pageTitleRowLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}
.iconBack {
  width: 16px;
  height: 16px;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(25%)
    hue-rotate(36deg) brightness(92%) contrast(108%);
  &:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(25%)
      hue-rotate(36deg) brightness(92%) contrast(108%);
  }
}
.pageTitle {
  font-size: 16px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
}

.MenuWrapper {
  position: relative;
  display: inline-block;
}

.MenuIcon {
  cursor: pointer;
}

.Menu {
  position: absolute;
  top: 15px;
  right: 100%;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  box-shadow: 0px 2px 4px #0000001a;
  z-index: 2;
  width: 120px;
  font-size: 13px;
  font-family: var(--fontGraphik);
  border-radius: 6px;
  overflow: hidden;
}

.Menu div {
  padding: 10px 12px;
  cursor: pointer;
}

.Menu div:hover {
  background-color: var(--whitefa);
}

.taskDetailsPage {
  display: flex;
  width: 100%;
  gap: 16px;
}
.taskDetailsLeft {
  width: calc(100% - 370px);
}

.taskDetailsRight {
  width: 370px;
}
