@import "../../../css/variable.css";
@import "../../../css/fonts.css";
@import "../../../css/normalize.css";

.pageContent {
  margin-top: 60px;
  padding: 16px;
}

.pageTitleRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  background: var(--white);
  border-radius: 6px;
  padding: 16px 16px;
  position: relative;

  &:hover {
    .iconContainer {
      opacity: 1;
    }

    .statusRigth {
      margin-right: 16px;
    }
  }
}
.taskBadge{
  height: 26px;
}
.taskID {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #f0f9fe;
  color: var(--black);
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.taskStatus {
  background-color: #3fb2f118;
  color: #3fb2f1;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  border-radius: 4px;
  padding: 5px 7px;
}

.taskPriority {
  background-color: #ffa50018;
  color: #ffa500;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  border-radius: 4px;
  padding: 5px 7px;
}

.pageTitleRowLeft {
  display: flex;
  width: calc(100% - 440px);
  flex-flow: column;
}
.pageTitleRowRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 440px;
  gap: 10px;
}

.iconBack {
  width: 16px;
  height: 16px;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(25%) hue-rotate(36deg) brightness(92%) contrast(108%);

  &:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(25%) hue-rotate(36deg) brightness(92%) contrast(108%);
  }
}

.pageTitleWrapper {
  max-width: 100%;
  word-break: break-word;
}

.pageTitle {
  display: inline-flex;
  /* Keeps text and icon in line */
  align-items: baseline;
  /* Aligns icon to the last line */
  position: relative;

  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
  width: 100%;
  margin-bottom: 5px;
}


.btnCommon {
  padding: 5px 10px;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  outline: none;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btnTheme {
  background-color: var(--white);
  border: 1px solid var(--themeColor);
  color: var(--themeColor);

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}
.btnReadytoTest{
  background-color: var(--white);
  border: 1px solid var(--readytotest);
  color: var(--readytotest);
  &:hover {
    background-color: var(--readytotest);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

.btnReviewDone{
  background-color: var(--white);
  border: 1px solid var(--reviewDone);
  color: var(--reviewDone);
  &:hover {
    background-color: var(--reviewDone);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

.iconReviewDone{
  filter: brightness(0) saturate(100%) invert(37%) sepia(94%) saturate(701%) hue-rotate(132deg) brightness(91%) contrast(91%);
}

.btnAssignforReview{
    background-color: var(--white);
  border: 1px solid var(--assignReviewer);
  color: var(--assignReviewer);
  &:hover {
    background-color: var(--assignReviewer);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

.iconAssignReviewer{
  filter: brightness(0) saturate(100%) invert(56%) sepia(39%) saturate(1433%) hue-rotate(209deg) brightness(101%) contrast(92%);
}

.btnCompleted {
  background-color: var(--white);
  border: 1px solid var(--textSuccess);
  color: var(--textSuccess);

  &:hover {
    background-color: var(--textSuccess);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

.btnDelete {
  background-color: var(--white);
  border: 1px solid var(--textDanger);
  color: var(--textDanger);

  &:hover {
    background-color: var(--textDanger);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

.btnPause {
  background-color: var(--white);
  border: 1px solid var(--textPause);
  color: var(--textPause);

  &:hover {
    background-color: var(--textPause);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

.iconPause {
  filter: brightness(0) saturate(100%) invert(56%) sepia(73%) saturate(2599%) hue-rotate(330deg) brightness(95%) contrast(98%);
}

.btnOpen {
  background-color: var(--whitefa);
  border: 1px solid var(--borderColor);
  color: #999191;

  &:hover {
    background-color: var(--whitef5);
    color: var(--black);
  }
}

.iconRightStatus {
  width: 12px;
}

.iconTest{
  filter: brightness(0) saturate(100%) invert(45%) sepia(53%) saturate(1347%) hue-rotate(5deg) brightness(98%) contrast(95%);
}

.iconDone {
  filter: brightness(0) saturate(100%) invert(65%) sepia(52%) saturate(1999%) hue-rotate(172deg) brightness(95%) contrast(98%);
}

.iconCompleted {
  filter: brightness(0) saturate(100%) invert(67%) sepia(90%) saturate(4476%) hue-rotate(138deg) brightness(97%) contrast(92%);
}

.iconDelete {
  filter: brightness(0) saturate(100%) invert(56%) sepia(73%) saturate(2599%) hue-rotate(330deg) brightness(95%) contrast(98%);
}

.iconOpen {
  width: 10px;
}

.statusRigth {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: margin-left 0.3s ease-in-out;
}

.MenuWrapper {
  position: relative;
  display: inline-block;
}

.iconRight {
  cursor: pointer;
  width: 16px;
  transition: 0.2s;

  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(37%) saturate(3186%) hue-rotate(172deg) brightness(99%) contrast(91%);
  }
}

.iconEditDiv {
  display: flex;
  align-items: center;
  margin-top: -12px;
}

.iconContainer {
  width: 75px;
  display: flex;
  margin-left: 10px;
  /* Adjust as needed */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  top: 3px;
  position: relative;

  &:hover {
    .iconEdit {
      filter: brightness(0) saturate(100%) invert(66%) sepia(37%) saturate(3186%) hue-rotate(172deg) brightness(99%) contrast(91%);
    }
  }
}

.iconEdit {
  width: 15px;
  /* Adjust icon size */
  height: 15px;
  cursor: pointer;
}

.custom_AddAttachment_btn {
  padding: 5px 7px;
  background-color: #3fb2f118;
  color: #3fb2f1;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.iconAttachement {
  width: 10px;
}

.iconAdd {
  width: 8.5px;
}

.iconEye {
  width: 12px;
}

.AddAttachment_btn {
  padding: 5px 7px;
  background-color: var(--whitefa);
  border: 1px solid var(--borderColor);
  color: var(--black);
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
  line-height: 0px;
  height: 26px;
}

.Disable_btn {
  padding: 5px 7px;
  background-color: var(--whitefa);
  border: 1px solid var(--borderColor);
  color: #999191;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.Menu {
  position: absolute;
  top: 15px;
  right: 100%;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  box-shadow: 0px 2px 4px #0000001a;
  z-index: 2;
  width: 120px;
  font-size: 13px;
  font-family: var(--fontGraphik);
  border-radius: 6px;
  overflow: hidden;
}

.Menu div {
  padding: 10px 12px;
  cursor: pointer;
}

.Menu div:hover {
  background-color: var(--whitefa);
}

.taskDetailsPage {
  display: flex;
  width: 100%;
  gap: 16px;
}

.taskDetailsLeft {
  width: calc(100% - 350px);
}

.taskDetailsRight {
  width: 350px;
}

.titleInput {
  font-size: 13px;
  /* color: var(--gray);
  font-family: var(--fontGraphikMedium); */

  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  background: transparent;
}

.badgedefault {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-family: var(--fontGraphik);
  font-size: 10px;
  font-weight: 300;
  height: 26px;
  justify-content: center;
  line-height: 0px;
  padding: 5px 8px;
  text-transform: uppercase;
}

.badgeColor {
  background-color: #f8f9fa;
  color: #000;
}