.loadercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); 
    flex-direction: column;
  }
  .loadercontainer p{
    font-size: 11px;
    font-family: var(--fontGraphik);
    color: var(--gray);
    margin-top: 10px;
  }
  
  .loader {
    width: 30px;
    height:30px;
    position: relative;
  }
  
  .rotatingBorder {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-top: 1.6px solid #4ab549; /* Google Blue color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  .logo{
    width: 30px;
    height: 30px;

  }
  
  .fixedContent {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    /* No animation here - stays fixed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
