@import '../../../../assets/css/variable.css';
@import '../../../../assets/css/fonts.css';
@import '../../../../assets/css/normalize.css';

.hideDesktop {
    display: none;
}

.userScroll {
    height: calc(100vh - 162px);
    overflow: auto;
}

.userListTitle {
    font-size: 15px;
    color: var(--darkBlack);
    font-family: var(--fontGraphikMedium);
    padding: 12px 16px;
    display: none;
}

.pageDropdown {
    height: calc(100vh - 60px);
}

.employeeName {
    font-size: 13px;
    color: var(--black);
    font-family: var(--fontGraphik);
    margin: 0px;
}

.employeeCode {
    font-size: 10px;
    color: var(--lightBlack);
    font-family: var(--fontGraphik);
    margin: 0px;
}

.checkMark {
    margin: 0px;
}

.noUserData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: calc(100vh - 340px);
    font-size: 14px;
    font-family: var(--fontGraphik);
    color: var(--lightBlack);
}

.noUserImg {
    height: 88px;
    margin-bottom: 15px;
}

.loaderContainer {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader {
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--themeColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loaderText {
    font-size: 11px;
    font-family: var(--fontGraphik);
    color: var(--gray);
    margin-top: 10px;
}

/* Keyframe for spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 767.98px) {
    .hideDesktop {
        display: flex;

        justify-content: space-between;
        width: 100%;
    }
}