/* Card */
.card {
    /* width: calc(100% / 4 - 10px); */
    width: 100%;
    padding: 25px 16px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 0px;
}

.cardTitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.section_right{
    width: calc(100% - 240px);
}