@import "../../css/variable.css";
@import "../../css/fonts.css";

.accordion {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 10px #0000000d;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  background: var(--white);
  border-bottom: 1px solid var(--borderColor);
}
.accordionTitle{
  font-size: 16px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
}
.accordionHeaderRight{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.iconEdit{
  width: 14px;
  
  &:hover{
    filter: brightness(0) saturate(100%) invert(65%) sepia(57%) saturate(6247%) hue-rotate(164deg) brightness(102%) contrast(102%);
  }
}
.iconSpan {
 display: flex;
}
.iconAccordion{
  width: 14px;
}
.aboutEmployeeInfo{
  font-size: 14px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
}

.accordionContent {
  padding: 15px 20px;
  font-size: 14px;
  color: #555;
  background: #fff;
}
.noData{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-flow: column;
}
.comingSoon{
  height: 100px;
  margin-bottom: 15px;
}
.noDataText{
  font-size: 12px;
  color: #707070;
  font-family: var(--fontGraphik);
}