@import "../../css/variable.css";
@import "../../css/fonts.css";

.faceVerificationCard {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 15px 0 #00000008;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.profileBG {
  background: var(--whitefa);
  background: linear-gradient(to top, var(--white), #e2f1fa);
  padding: 0px 30px;
  height: 80px;
  position: relative;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 100%;
  /* background-image: url(../../images/faceVerificationBG.png);
  background-size: cover; */
  /* background-position: center; */
}

.profileParent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  flex-flow: column;
}
.profileUpload {
  position: relative;
  width: 95px;
  height: 95px;
}
.openCamera {
  position: absolute;
  right: -14px;
  z-index: 1;
  bottom: 6px;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  padding: 4px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profileEdit {
  position: absolute;
  right: -14px;
  z-index: 1;
  bottom: 6px;
}
.fileInput {
  display: none;
}
.profileImg {
  width: 95px;
  height: 95px;
  border-radius: 6px;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid var(--borderColor);
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);

  img {
    object-fit: cover;
    width: 95px;
    height: 95px;
    border-radius: 6px;
  }
}
.profileUpload .profileEdit .fileInput + .uploadLabel {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 0;
  border-radius: 4px;
  background: #fafafa;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #0000001f;
  padding: 4px;
}
.dataUploadGrop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 60px;
  padding: 0px 30px 20px 30px;
}
.username {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikSemibold);
}
.dataParagraph {
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  text-align: center;
}
