@import "../../css/variable.css";
@import "../../css/fonts.css";

.profileLeft {
  /* height: calc(100vh - 80px); */
  width: 100%;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 0 10px 15px 0 #00000008;
  margin-bottom: 10px;
}
.profileTop {
  position: relative;
  border-bottom: 1px solid var(--borderColor);
}
.profileTopBG {
  background: radial-gradient(circle, #3fb2f1, #1a8ed8);

  padding: 0px 30px;
  height: 80px;
  position: relative;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.profileParent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  flex-flow: column;
}
.profileUpload {
  position: relative;
  width: 95px;
  height: 95px;
}
.profileEdit {
  position: absolute;
  right: -14px;
  z-index: 1;
  bottom: 6px;
}
.fileInput {
  display: none;
}
.profileImg {
  width: 95px;
  height: 95px;
  border-radius: 6px;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid var(--borderColor);
 
  img {
    object-fit: cover;
    width: 95px;
    height: 95px;
    border-radius: 4px;
  }
}
.profileUpload .profileEdit .fileInput + .uploadLabel {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 0;
  border-radius: 4px;
  background: #fafafa;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #0000001f;
  padding: 4px;
}
.userInfo {
  padding: 20px 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.userInfoLeft {
  text-align: center;
}
.userName {
  font-size: 16px;
  font-family: var(--fontGraphikSemibold);
  color: var(--black);
}
.userDesigantionRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.userDesigantion {
  font-family: var(--fontGraphik);
  border-radius: 4px;
  font-size: 12px;
  color: #9f9f9f;
  word-break: break-all;
}
.badgeGray {
  padding: 5px 10px;
  background-color: #ecf0f2;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  border-radius: 4px;
  font-size: 12px;
  font-family: var(--fontGraphikMedium);
  border-radius: 4px;
  font-size: 12px;
}
.userDetailsBox {
  padding: 10px 20px;
}
.userDataRow {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.userDataLeft {
  width: 135px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.userInfoRightBG {
  background-color: var(--white);
  border: 1px solid var(--borderColor);
}

.imgBox {
  width: 24px;
  display: flex;
  margin-right: 5px;
}
.iconLeft {
  height: 14px;
  width: auto;
  margin-top: -3px;
}
.imgLabel {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--lightBlack);
}
.userDataRight {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--darkBlack);
  width: calc(100% - 135px);
  text-align: end;
  word-break: break-all;
}
.profileBody {
  padding: 30px 20px 20px 20px;
  border-bottom: 1px solid var(--borderColor);
}
.profileBodyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.profileHeaderLeft {
  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
}
.iconEdit {
  width: 16px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    filter: brightness(0) saturate(100%) invert(65%) sepia(57%) saturate(6247%)
      hue-rotate(164deg) brightness(102%) contrast(102%);
  }
}
.btnTheme {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  padding: 8px 16px;
  font-family: var(--fontGraphikMedium);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  transition: 0.2s;
  &:hover {
    background-color: var(--themeColorDark);
    color: var(--white);
  }
}

.empCode {
  position: absolute;
  right: 25px;
  top: 30px;
}
.commonBox {
  padding: 16px 16px;
  border-radius: 6px;
  background-color: var(--white);
  width: 100%;
  margin-bottom: 10px;
}
.commonBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.btnEdit{
  border: none;
  background-color: transparent;
  background-color: transparent;
}
.headerTitle {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.listUL {
  padding: 0px;
  margin: 0px;
}
.listRow {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
  &:nth-last-child(1) {
    padding-bottom: 0px;
  }
}
.detailsLeft {
  margin-right: 15px;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.iconCommon {
  width: 16px;
}

.detailsRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
  word-break: break-word;
}
.label{
  font-size: 11px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}