.filterCard {
  padding: 16px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  margin-bottom: 10px;
}
.filterLabel {
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  font-size: 13px;
  margin-bottom: 8px;
}
.filterRow {
  display: flex;
  gap: 10px;
}
.filterBtn {
  background: var(--whitef5);
  border: 1px solid var(--borderColor);
  border-radius: 37px;
  padding: 5px 16px;
  font-family: var(--fontGraphik);
  font-size: 13px;
  color: var(--regularColor);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    border: 1px solid var(--themeColor);
  }
}
.filterBtn.active {
  background-color: #3fb2f110;
  border: 1px solid var(--themeColor);
  color: var(--themeColor);
}

.filterReset {
  color: var(--themeColor);
  cursor: pointer;
  display: flex;
  justify-content: start;
  font-family: var(--fontGraphik);
  font-size: 11px;
  margin-top: 15px;
  width: 100%;
  &:hover{
    color: var(--themeColorDark);
  }
}

.customCheckboxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.customCheckboxInput {
  display: none;
}

.customCheckbox {
  width: 15px;
  height: 15px;
  border: 1.5px solid var(--gray);
  border-radius: 2px;
  position: relative;
  transition: all 0.2s ease;
}

.customCheckboxInput:checked + .customCheckbox {
  border-color: var(--themeColor);
  background-color: var(--themeColor);
}

.customCheckboxInput:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckboxLabel {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  &:hover {
    color: var(--darkBlack);
  }
}

.customCheckboxInput:checked + .customCheckbox + .customCheckboxLabel {
  color: var(--black);
}

