.mainSection{
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.salesDataLeft{
    width: 250px;
    height: calc(100% - 60px);
}
.salesDataRight{
    width: calc(100% - 250px);
    padding: 10px;
}
.activeBG{
  background-color: #3fb2f114;
}
.activeText{
    color: var(--darkBlack);
}
.totalULBs{
    font-size: 13px;
    font-family: var(--fontGraphik);
    color: var(--regularColor);
}
.dropdownItem:hover .totalULBs{
    color: var(--darkBlack);
}