.hideDesktop {
  display: none;
}
.pageDropdown {
    height: calc(100vh - 60px);
  }
  .stateList{
    font-size: 13px;
    color: var(--lightBlack);
    font-family: var(--fontGraphik);
  }
  .userListTitle {
    font-size: 15px;
    color: var(--darkBlack);
    font-family: var(--fontGraphikMedium);
    padding: 12px 16px;
    display: none;
  }
  .userScroll {
    height: calc(100vh - 162px);
    overflow: auto;
  }
  .loaderContainer {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .employeeName {
    font-size: 13px;
    color: var(--black);
    font-family: var(--fontGraphik);
    margin: 0px;
  }
  
.noUserData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: calc(100vh - 340px);
    font-size: 14px;
    font-family: var(--fontGraphik);
    color: var(--lightBlack);
  }
  .noUserImg {
    height: 88px;
    margin-bottom: 15px;
  }
  
@media (max-width: 767.98px) {
  .hideDesktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
