.modalBodyAs {
    padding: 20px 30px 0px 30px;
}

.userdetail {
    width: calc(100% - 52px);
}

.userOver {
    height: 50vh;
    overflow: auto;
}

.searchGroup {
    padding-bottom: 16px;
}

.LoginUse {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid var(--borderColor);

    &:hover {
        background-color: var(--whitef5);
    }
}

.activeTab {
    background-color: rgb(234, 248, 255);
}

.userAvtar {
    height: 38px;
    width: 42px;
    background-color: var(--whitef5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 13px;
    font-family: var(--fontGraphik);
    letter-spacing: 1px;
    border-radius: 6px;
    overflow: hidden;
    text-transform: uppercase;
}

.userdetail p {
    font-size: 11px;
    color: #9f9f9f;
    font-family: var(--fontGraphik);
    word-break: break-word;
}

.userdetail h5 {
    font-size: 15px;
    color: var(--black);
    font-family: var(--fontGraphikMedium);
    word-break: break-word;
}

.Owner {
    display: flex;
    align-items: center;
    gap: 10px;

}

.Owner p {
    background-color: #3fb2f118;
    border-radius: 4px;
    font-family: var(--fontGraphikMedium);
    font-size: 10px;
    letter-spacing: 0.2px;
    padding: 2px 6px;
    color: #3fb2f1;
}

.footer {
    padding: 20px 30px 30px 30px;
}

.btnDisble {
    background-color: var(--themeColor);
    color: var(--white);
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    padding: 0px 15px;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: not-allowed;
    opacity: 0.3;
    visibility: hidden;

}


.noDataView {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 14px;
    font-family: var(--fontGraphik);
    color: var(--gray);
}

.noDataView img {

    height: 88px;
    margin-bottom: 15px
}

;

.noData {
    width: 110px;
    height: auto;
    margin-bottom: 12px;
}

.noDataText {
    font-size: 14px;
    font-family: var(--fontGraphik);
    color: var(--gray);
}

.userLog {
    font-size: 14px;
    font-family: var(--fontGraphik);
    color: var(--white);
    margin: 5px;
}

.tabButton {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    width: 100%;

    &:hover {
        background-color: var(--whitef5);

        .tabButtonText {
            color: var(--black);
        }
    }
}

.tabButton.active {
    background: #eaf8ff;
}

.tabButton.active .tabButtonText {
    /* font-family: var(--fontGraphikMedium); */
    color: var(--black);
}

.tabButtonText {
    font-size: 13px;
    font-family: var(--fontGraphik);
    color: var(--gray);
    width: calc(100% - 26px);
    text-align: start;
}

.tabButton {
    &:nth-last-child(1) {
        margin-right: 100px;
    }
}

.tabButtonText {
    white-space: nowrap;
}

.login_icon {
    :hover {
        cursor: pointer;
        color: #3fb2f1;
    }

}
  
  .assignBtnNow,
.assignBtnLater {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  width: 170px;
  text-align: center;
}

.assignBtnLater {
  background-color: #6c757d; /* Different color for variety */
}
