.noScroll {
    overflow: hidden;
  }
  .blackOverlay {
    background: #00000095 !important  ;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--transparentBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
   
  }
  .modal {
    background-color: var(--white);
    width: 500px;
    border-radius: 6px;
    position: relative;
    /* overflow: hidden; */
    z-index: 10;
   
  }
  .actionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 30px;
    box-shadow: 0 8px 20px 0 #0000000a;
  }
  .headerText {
    font-size: 18px;
    color: var(--darkBlack);
    font-family: var(--fontGraphikSemibold);
  }
  .closeBtn {
    border: none;
    background-color: transparent;
    outline: none;
    transition: 0.2s;
    padding: 0px;
    &:hover {
      .iconClose {
        filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(828%)
          hue-rotate(331deg) brightness(103%) contrast(88%);
      }
    }
  }
  .iconClose {
    width: 18px;
  }
  .modalBody {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  .modelContentCenter {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
  }
  .errorImg {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
  }
  .action {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .actionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 30px;
    box-shadow: 0 8px 20px 0 #0000000a;
  }
  .btnDelete {
    padding: 10px 20px;
    background-color: var(--textDanger);
    color: var(--white);
    font-size: 14px;
    font-family: var(--fontGraphikSemibold);
    border-radius: 6px;
    border: none;
    transition: 0.2s ease-in-out;
    height: 40px;
    &:hover {
      background-color: #db4b2e;
    }
  }
  .btnSuccess {
    padding: 10px 20px;
    background-color: var(--white);
    border: 1px solid var(--borderColor);
    color: var(--gray);
    font-size: 14px;
    font-family: var(--fontGraphikMedium);
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    height: 40px;
  }