.modal {
  width: 70%;
  height: 90vh;
}

.modalBodyAttachements {
  padding: 0px;
}

.actionBtnLeft {
  width: 33%;
}

.actionBtnCenter {
  width: 33%;
  text-align: center;
}

.actionBtnRight {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filePreviewBox {
  border: 1px solid var(--borderColor);
  height: calc(100vh - 10vh - 140px);
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.pdfPreviewBox {
  border: none !important;
}

.previewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoPreview {
  width: auto !important;
  height: auto !important;
}

.pdfPreview {
  width: 80% !important;
  height: auto !important;
}

.previewContainer img,
.previewContainer iframe {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  cursor: grab;
}

.videoOpen {
  padding: 20px 20px 20px 20px !important;
  left: 0px;
  top: 0px;
  bottom: auto !important;
  background: transparent !important;
}

.previewContainer video {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  cursor: grab;
  border-radius: 6px;
  z-index: 1;
}

.attachementFooter {
  background: linear-gradient(to bottom,
      #ffffff00 0%,
      #ffffff1a 25%,
      #ffffff4d 50%,
      #ffffffb3 80%,
      #ffffff 100%);
  padding: 70px 20px 20px 20px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.attachementFooterRight {
  display: flex;
  gap: 10px;
}

.fileRotate {
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  box-shadow: 0 10px 20px 0 #0000000f;
}

.iconRotate {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(78%) saturate(1059%) hue-rotate(177deg) brightness(107%) contrast(89%);

  }
}

.iconDownload {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(0) saturate(100%) invert(54%) sepia(85%) saturate(2926%) hue-rotate(137deg) brightness(96%) contrast(92%);
  }
}

.zoomInOutBg {
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 6px 14px;
  box-shadow: 0 10px 20px 0 #0000000f;
}

.iconZoom {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(78%) saturate(1059%) hue-rotate(177deg) brightness(107%) contrast(89%);
  }
}

.zoomInOutText {
  font-size: 14px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.fileMessageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.fileMessage {
  font-size: 14px;
  color: var(--black);
  font-family: var(--fontGraphik);
  padding-bottom: 10px;
}

.btnDownload {
  background-color: var(--themeColor);
  color: var(--white);
  padding: 0px 15px;
  height: 36px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  font-family: var(--fontGraphikMedium);

  &:hover {
    background-color: var(--themeColorDark);
    color: var(--white);
  }
}

.loaderContainer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--themeColor);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loaderText {
  font-size: 11px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  margin-top: 10px;
}

.imageBtn {
  width: 100%;
  position: absolute;
  top: 50%;
  justify-content: space-between;
  display: flex;
}




.BtnPrev:hover img {
  filter: invert(55%) sepia(94%) saturate(500%) hue-rotate(180deg);
}
.BtnNext:hover img {
  filter: invert(55%) sepia(94%) saturate(500%) hue-rotate(180deg);
}

.prev {
  width: 24px;
}

.next {
  width: 24px;
}

.BtnPrev {
  padding: 5px 8px;
  position: absolute;
  left: 45px;
  z-index: 1;
  border: 1px solid var(--borderColor);
  background-color: var(--white)
}

.BtnNext {
  padding: 5px 8px;
  position: absolute;
  right: 45px;
  z-index: 1;
  border: 1px solid var(--borderColor);
   background-color: var(--white)

}