.iconEditBox {
  /* opacity: 0; */
  transition: 0.2s ease-in;
  /* width: 40px; */
  text-align: end;
}

.iconHeader {
  width: 16px;
  height: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(37%) saturate(3186%) hue-rotate(172deg) brightness(99%) contrast(91%);
  }
}

.descriptionArea {
  width: calc(100% - 40px);
}

.descripationBox {
  height: calc(100vh - 70px);
  overflow: auto;
}

.noData {
  height: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.noDataImg{
  height: 80px;
  padding: 0px !important;
}
.noDataText{
  padding: 0px !important;
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.addDesc {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}

.btnCommon {
  padding: 5px 10px;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  outline: none;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btnTheme {
  background-color: var(--white);
  border: 1px solid var(--themeColor);
  color: var(--themeColor);
  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%)
        hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}
iconRightStatus {
  width: 12px;
}
.iconDone {
  filter: brightness(0) saturate(100%) invert(65%) sepia(52%) saturate(1999%)
    hue-rotate(172deg) brightness(95%) contrast(98%);
}

.ButtonAddTask {
  color: var(--themeColor);
  border: none;
  /* width: 110px; */
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--themeColor);
  line-height: 0px;
  gap: 4px;
}

.addIcon {
  font-family: var(--fontGraphikMedium);
  font-size: 18px;
  color: var(--themeColor);
}

.ButtonAddTask {
  transition: all 0.3s ease;
  /* Smooth transition effect */
}

.ButtonAddTask:hover {
  background-color: var(--themeColor);
  /* Button ka hover color */
  color: var(--white);
}

.ButtonAddTask:hover .addIcon {
  color: var(--white);
  /* + icon ka color bhi change ho */
}

.addIcon {
  font-family: var(--fontGraphikMedium);
  font-size: 18px;
  color: var(--themeColor);
}

