/* Container Styling */
.DetailsCard {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  /* width: 490px; */
  /* height: 280px; */
  font-family: 'Poppins', sans-serif;
  transition: box-shadow 0.3s ease;
}
.tableSubTask{
  height: 210px;
  overflow: auto;
}
.tableSubTask tr th{
  position: sticky;
  background-color: #fff;
  top: 0px;
  z-index: 1;
}
/* Header Section */
.CardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebec;
  padding: 14px 16px;
}

.heading {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.custom_AddSubTask_btn {
  color: #5eb1f4;
  border-radius: 4px;
  border: #5eb1f4;
  display: flex;
  padding: 0px;
}

.add_icon {
  width: 14px;
  margin-right: 16px;
}
.CardFooter {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd; /* Adds a subtle separator */
  background-color: #f9f9f9; /* Light background to differentiate */
  text-align: center; /* Center align content */
  position: relative; /* Ensure it stays within the card */
}
.tableSubTask{
  min-height: 50px;
}
.loaderContainer {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--themeColor);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
.loaderText{
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
