.taskTypeCard {
  background-color: var(--white);
  border-radius: 6px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 16px;
}

.taskTypeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.taskTypeHeaderTitle {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.taskTypeList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  transition: 0.3s;
  &:nth-last-child(1) {
    padding-bottom: 0px;
  }
  &:hover {
    .taskTypeTime {
      color: var(--black);
    }
  }
}
.taskTypeName {
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
  word-break: break-word;
  width: calc(100% - 75px);
}
.taskTypeTime {
  color: var(--gray);
  font-size: 12px;
  font-family: var(--fontGraphik);
  width: 75px;
  text-align: end;
}

.ownerList {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  gap: 16px;
  &:nth-last-child(1) {
    padding-bottom: 0px;
  }
}
.ownerImg {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid var(--borderColor);
  background-color: var(--whitefa);
  object-fit: cover;
}
.ownerText {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphikMedium);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderColor);
  background-color: var(--whitefa);
}
.ownerName {
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
}
.StatusDropdown {
  font-family: var(--fontGraphik);
  font-size: 13px;
  color: var(--black);
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  width: 100%;
  padding: 0px 16px;
}

.TaskidInformation {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.loaderContainer {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--themeColor);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
.loaderText {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
