.attachementCard {
  background-color: var(--white);
  border-radius: 6px;
  margin-bottom: 82px;

}

.attachementHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}

.attachementTitle {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.btnAdd {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-top: 0px;
}
.btnAdd:hover {
  background-color: var(--themeColor);
  color: var(--white);
}
.fileInput {
  display: none;
}

.attachementBody {
  padding: 0px 16px 10px 16px;

}

.fileUploadGroup {
  display: flex;
  width: 100%;
  padding: 4px 10px 4px 4px;
  margin-bottom: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  transition: 0.3s;
  &:hover {
    background-color: var(--whitef5);
    .iconFileAction{
  opacity: 1;
    }
    .filePreviewBg {
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 10;
        left: 10;
        background-image: url(../../images/icons/iconEye.png);
        background-size: cover;
        width: 18px;
        height: 18px;
      }
    }
    .iconFileType {
      display: none;
    }
  }
}
.filePreviewBg:hover::after {
  filter: brightness(0) saturate(100%) invert(70%) sepia(39%) saturate(4290%)
  hue-rotate(172deg) brightness(100%) contrast(90%);
}

.fileUploadLeft {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
}

.filePreviewBg {
  background-color: transparent;
  border-radius: 6px;
  /* border: 1px solid var(--borderColor); */
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 4px;
  transition: 0.3s;
}
.iconFileType {
  width: 22px;
  height: 22px;
}
.uploadFileInfo {
  width: calc(100% - 50px);
}

.uploadFileTitle {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileUploadRight {
  width: 40px;
  display: flex;
  justify-content: flex-end;
}
.iconFileAction{
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
}
.iconDefault{
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.iconFileAction:hover .iconDelete{
  filter: brightness(0) saturate(100%) invert(50%) sepia(17%) saturate(7168%) hue-rotate(336deg) brightness(105%) contrast(88%);
}
.iconFileAction:hover .iconEdit{
  filter: brightness(0) saturate(100%) invert(70%) sepia(39%) saturate(4290%)
  hue-rotate(172deg) brightness(100%) contrast(90%);
}
.iconOtherFile{
  filter: brightness(0) saturate(100%) invert(50%) sepia(17%) saturate(7168%) hue-rotate(336deg) brightness(105%) contrast(88%);
  width: 16px;
  height: 16px;
}
.file_download_group {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  padding: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.download_btn {
  background-color: #daf4f0;
  color: #000000;
  margin-right: 15px;
  transition: 0.5s;

  &:hover {
    background-color: #0ab39c;
    color: #fff;
  }
}

.delete_button {
  background-color: #ff000020;
  color: #000000;
  transition: 0.5s;

  &:hover {
    background-color: #ff0000;
    color: #fff;
  }
}

.add_plan_canvas .floating_text {
  padding: 0px;
}

.body_top {
  padding: 20px 15px 25px 15px;
}

.body_top {
  border-bottom: 1px solid #e5e5e5;
}

.body_bottom {
  padding: 0px 15px 20px 15px;
}

.upload_main {
  display: flex;
  justify-content: end;
}

.upload_input {
  /* margin-top: 30px; */
}

.title_upload {
  color: #000;
  font-family: poppins, sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}

.user_uploder {
  border: 1px dashed #c1c1c1;
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #daf4f0;
  width: auto;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #c3ede6;
  }
}

.userImage_uploder {
  border: 1px dashed #c1c1c1;
  padding: 12px 66px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #daf4f0;
  width: auto;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #c3ede6;
  }
}

.title_upload {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  color: #000000;
  margin-bottom: 0px;
}

.icon_upload {
  color: #333;
  font-size: 18px;
  margin-right: 6px;
}

.icon_upload2 {
  color: #333;
  font-size: 18px;
  margin-right: 6px;
}

.ck_rounded_corners_text {
  height: 160px;
}

/* Global.module.css */
.is_invalid {
  border-color: red !important;
}

.invalid_feedback {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.uploader_item {
  max-height: 200px;
  /* Set a maximum height for the scrollable area */
  overflow-y: auto;
  /* Enable vertical scrolling */
  padding: 10px;
  /* Optional: Add padding for better appearance */
  /* Optional: Add a border for visual separation */
}
.attachmentInfoPoints {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  list-style: none;
  padding: 5px 0px 5px 0px;
  /* text-align: center; */
  /* border: dashed 2px var(--borderColor); */
  margin-bottom:0px;
  /* background-color: #f8f8ff; */
  display: flex;
  justify-content: center;
  
}
.liAttachmentText{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 4px;
}

