/* Container Styling */
.DetailsCard {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  height: 280px;
  font-family: "Poppins", sans-serif;
  transition: box-shadow 0.3s ease;
}

/* Header Section */
.CardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebec;
  padding: 14px 16px;
}

.Title {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.CardContent {
  padding: 12px 16px;
  color: #555;
  height: 180px;
  overflow-y: auto;
}

.CardContent::-webkit-scrollbar {
  width: 6px;
}

.CardContent::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.MenuWrapper {
  position: relative;
  display: inline-block;
}

.MenuIcon {
  cursor: pointer;
}

.Menu {
  position: absolute;
  top: 15px;
  left: 100%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.Menu div {
  padding: 8px 12px;
  cursor: pointer;
}

.Menu div:hover {
  background-color: #f1f1f1;
}

.FooterButton {
  /* background: #9dc7f3; */
  color: #4b5154;
  padding: 8px 12px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #e9ebec;
  margin-top: 4px;
}

.DropdownOption:hover {
  background: #f8f9fa;
}

.FooterDropdown {
  background: #ffffff;
  border: 1px solid #ddd;
  position: absolute;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  max-height: 200px;
  overflow-y: auto;
}

.FooterDropdown div {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
}

.FooterDropdown div:hover {
  background: #f8f9fa;
}
