@import "../../assets/css/variable.css";
@import "../../assets/css/fonts.css";
@import "../../assets/css/normalize.css";


.dropdownScrollable {
  max-height: calc(100vh - 200px);
  /* adjust 180px based on your fixed headers */
  overflow-y: auto;
  padding: 0px 16px;
}

.branchBG {
  width: 350px;
  padding: 0px;
  border: none;
  box-shadow: 0 10px 20px 0 #e5e5e5;
  z-index: 1;
  background-color: var(--white);
  border-radius: 0px;
 margin-top: 60px;
}
.dropdownDesktop{
  height: calc(100vh - 120px);
  overflow: auto;
  padding: 0px 16px;
}

.dropdownLi:nth-last-child(1) {
  margin-bottom: 10px;
}


.dropdowmbtn {
  width: 153px;
  background-color: var(--white);
  border: 1px solid #ced4da;
  position: relative;
  height: 36px;
  padding: 0px 35px 0px 10px;
  border-radius: 4px;
}

.dropdowmbtn:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 11px;
  width: 12px;
  height: 12px;
  background-image: url(../../../src/assets/images/icons/iconDown.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dropDownwwwp {
  margin-bottom: 10px;
}

.projectNaam {
  /* max-width: 100px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--darkBlack);
  font-size: 13px;
  font-family: var(--fontGraphik);
  /* min-width: 150px; */
  text-align: left;
}

.selectedProject {
  border: none;
  background-color: var(--white);
  box-shadow: 0 0 20px 0 #0000001a;
  padding: 0px;
  border-radius: 6px;
  margin: 0px;
  overflow: hidden;
  transform: matrix3d(2px, 0, 0);
  transition: 0.22s ease-in linear;
  animation: slideDown 0.3s ease-out forwards;
  width: 120px;
  /* ya jitni chhoti chahiye */
  min-width: unset;
  /* agar koi min-width laga ho */
  max-width: 140px;

}

.customDropdownItem:hover {
  background-color: var(--whitef5);
}


.customDropdownItem {
  font-size: 13px;
  font-family: var(--fontGraphik);
  padding: 10px 16px;
  width: 100%;
  text-align: left;
  outline: none;
  border: none;
  background: transparent;
}

.totalUserbg {
  background-color: var(--whitef5);
  padding: 0px 10px;
  width: auto;
  height: 36px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

} 

.totalUserbg p {
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  color: var(--black);
  display: flex;
  align-items: center;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px 0px;
  gap: 10px;

}
.boxList{
    background: white;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
    transition: all 0.3s ease;
    border: 1px solid var(--borderColor);
}
.cityName{
      text-transform: capitalize;
    font-size: 13px;
    color: var(--black);
    font-family: var(--fontGraphikMedium);
}
.eployeeCode{
    font-size: 13px;
    color: var(--regularColor);
    font-family: var(--fontGraphikMedium);
}
.branchEdit{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.branchEdit span{
       text-transform: capitalize;
    font-size: 13px;
   color: var(--regularColor);
    font-family: var(--fontGraphik);
}