.lastLoginBox {
  /* background-color: var(--white); */
  /* background: linear-gradient(135deg, #ffffff 0%, #fffff3 100%); */
  border-radius: 6px;
  margin-bottom: 10px;
  width: 310px;
  padding: 16px;
  box-shadow: 0 2px 8px #0000000f;
  position: relative;

  background: linear-gradient(
    135deg,
    #ffffff,
    #ffffff,
    #ffffff,
    #f7fffa,
    #fff6d2
  );
  background-size: 400% 400%;
  animation: gradientFlow 14s ease-in-out infinite;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.lastLoginHeader {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.viewhistoryBtn {
  background: var(--gradientTheme);
  color: var(--white);
  border: none;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.3s ease;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-flow: column;
}
.loginImg {
  width: 50px;
}
.loginTitle {
  font-size: 18px;
  font-family: var(--fontGraphikSemibold);
  color: var(--black);
}
.loginTime {
  font-size: 13px;
  color: var(--regularColor);
}
