@import "../../assets/css/variable.css";
@import "../../assets/css/fonts.css";
@import "../../assets/css/normalize.css";

.greenDot {
  width: 5px;
  height: 5px;
  background-color: var(--textSuccess);
  border-radius: 50%;
  display: inline-block;
}
.redDot {
  width: 5px;
  height: 5px;
  background-color: var(--textDanger);
  border-radius: 50%;
  display: inline-block;
}
.userListTitle {
  display: none;
}
.userMeta {
  display: flex;
  align-items: center;
  gap: 6px; /* spacing between emp_code, icon, and red dot */

}
/********** New CSS *******/
.userFilterBG {
  padding: 10px 10px;
  background: linear-gradient(10deg, #ffffff, #f0f8ff);

  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;
}
.userFilter {
  display: flex;
  gap: 5px;
  width: 100%;
  margin-bottom: 5px;
}
.customDropdownBtn {
  font-family: var(--fontGraphik);
  font-size: 13px;
  width: 100%;
  background: var(--white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderColor);
  border-image: initial;
  border-radius: 4px;
  padding: 0px 16px;
  transition: 0.3s;
  flex: 1;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  &:after {
    background-image: url(../../assets/images/icons/iconDown.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 9px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 10px;
  }
}
.customDropdownMenu {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 #0000001a;
  margin: 0;
  min-width: 140px;
  padding: 12px;
  background-color: var(--white);

  padding: 12px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px soolid var(--borderColor);
  animation: dropdownSlideUp 0.4s ease;
}
@keyframes dropdownSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdownItem {
  padding: 12px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  width: 100%;
  outline: none;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: var(--whitef5);
    color: var(--darkBlack);
  }
}
.dropdownItem.active {
  background: linear-gradient(
    135deg,
    rgb(102, 126, 234) 0%,
    rgb(118, 75, 162) 100%
  );
  color: var(--white);
}
.textHighlight {
  font-family: var(--fontGraphik);
  font-size: 9px;
  color: var(--regularColor);
}
.selectedText {
  font-family: var(--fontGraphikSemibold);
  font-size: 9px;
  color: var(--white);
  background: var(--gradientTheme);
  border-radius: 4px;
  padding: 2px 4px;
  letter-spacing: 0.5px;
}
.listIcon {
  width: 12px;
  color: var(--regularColor);
}

.noUserData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: calc(100vh - 340px);
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--lightBlack);
}

.noUserImg {
  height: 80px;
  margin-bottom: 10px;
}

.loaderContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid var(--themeColor);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loaderText {
  font-size: 11px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  margin-top: 10px;
}
.userScroll {
  padding: 5px 10px 10px 10px;
  height: calc(100vh - 190px);
  overflow: auto;
}
