.sheetContent {
    margin: 10px 16px 10px;
    background: #fff;
height: calc(100vh - 340px);
    padding: 16px;
    border-radius: 6px;
}
.sheetTitle {
  font-size: 18px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikSemibold);
  margin-bottom: 10px;
  padding: 0px 16px;
}
.searchBox {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.searchInput {
  padding: 0px 16px;
  font-size: 13px;
  width: 100%;
  color: var(--gray);
  font-family: var(--fontGraphik);
  border: 1px solid var(--borderColor);
  height: 48px;
  border-radius: 6px;
}
.vehicleList {
padding: 0px;
    height: calc(100vh - 440px);
    overflow: auto;
}
.vehicleItem {
  list-style-type: none;
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  padding: 12px 16px;
  transition: 0.2s;
  &:hover {
    background: #fafafa;
  }
}
.vehicleItem.activeVehicle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 6px;
}
.noResult {
  list-style-type: none;
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  height: calc(70vh - 280px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
}
.noResultImg {
  height: 80px;
}
:global(.react-modal-sheet-header-container) {
  background: #f3f3f9;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
:global(.react-modal-sheet-content-scroller) {
  background: #f3f3f9;
}


@media screen and (min-width: 992px) {
  :global(.react-modal-sheet-root) {
position: fixed;
    inset: 0px;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    visibility: visible;
        width: 335px;
        left: 50% !important;
        transform: translateX(-50%);
        height: calc(100vh - 13vh);
        margin-top: 5vh;
        border-radius: 20px;
  }


}