.sheetContent {
  margin: 0px 0px 10px;
  padding: 0px 16px;
  border-radius: 6px;
}
.sheetTitle {
  font-size: 18px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikSemibold);
  margin-bottom: 10px;
  padding: 0px 16px;
}
.iconSearch {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 15px;
}
.btnClose {
  position: absolute;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    right: 12px;
    gap: 5px;
    font-size: 12px;
    font-family: var(--fontGraphikMedium);
    text-transform: uppercase;
    padding: 3px 5px;
    color: #000000;
    letter-spacing: 0.5px;
  &:hover {
    .iconClose {
      filter: brightness(0) saturate(100%) invert(22%) sepia(93%)
        saturate(5314%) hue-rotate(354deg) brightness(91%) contrast(123%);
    }
  }
}
.iconClose {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.searchBox {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.searchInput {
  padding: 0px 46px 0px 36px;
  font-size: 13px;
  width: 100%;
  color: var(--gray);
  font-family: var(--fontGraphik);
  border: 1px solid var(--borderColor);
  height: 48px;
  border-radius: 6px;

  background-image: url(../../../../../assets/images/icons/iconSearch.png);
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px 16px;
  transition: all ease 0.1s;
  &:focus {
    background-position: 95% 12px;
    color: var(--black);
    padding: 13px 32px 13px 16px;
  }
}
.vehicleList {
  padding: 0px;
  max-height: calc(70vh - 130px);
  overflow: auto;
  margin-bottom: 0px;
  background-color: var(--white);
  border-radius: 6px;
}
.vehicleItem {
  list-style-type: none;
  font-size: 14px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  padding: 12px 16px;
  transition: 0.2s;
  border-bottom: 1px solid #eee;
  &:hover {
    background: #fafafa;
  }
  &:nth-last-child(1) {
    margin-bottom: 30px;
    border-bottom: 0px solid #eee;
  }
}
.vehicleItem.activeVehicle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 6px;
}
.noResult {
  list-style-type: none;
  font-size: 11px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 8px;
}
.noResultImg {
  height: 60px;
}
:global(.react-modal-sheet-header-container ){
  height: 45px;
}
:global(.react-modal-sheet-drag-indicator-container) {
  margin-top: -18px;
}
:global(.react-modal-sheet-drag-indicator) {
  background-color: #00b300 !important;
  width: 21px !important ;
}
:global(.react-modal-sheet-header-container) {
  background: #f3f3f9;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
:global(.react-modal-sheet-container ){
    border-top-left-radius: 12px!important;
  border-top-right-radius: 12px!important;
}
:global(.react-modal-sheet-content-scroller) {
  background: #f3f3f9;
}

/* @media (max-width: 767.98px) {
  .sheetContent {
    height: calc(100vh - 450px);
    padding: 16px;
    border-radius: 6px;
  }
  .vehicleList {
    padding: 0px;
    height: calc(100vh - 540px);
    overflow: auto;
  }
} */
@media screen and (min-width: 992px) {
  :global(.react-modal-sheet-root) {
    position: fixed;
    inset: 0px;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    visibility: visible;
    width: 335px;
    left: 50% !important;
    transform: translateX(-50%);
    height: calc(100vh - 11.5vh);
    margin-top: 5vh;
    border-radius: 20px;
  }
}
