.mainContainer {
    display: flex;
    background-color: #f4f4f4;
    height: 100%;
    top: 0;
}

.card {
    background-color: #fff;
    width: 100%;
    overflow: auto;
}

.tableContainer {
    overflow: auto;
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 16px;
    border: 1px solid #ddd;
}

.table th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 10;
    font-weight: bold;

}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table td {
    background-color: #fff;
}

.tooltipWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #d9534f;
}

.tooltipBox {
    visibility: hidden;
    width: max-content;
    max-width: 300px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 25;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    background-color: rgb(228, 228, 228);
    color: black;
    font-weight: bold;
    word-break: break-word;
}

.tooltipWrapper:hover .tooltipBox {
    visibility: visible;
    opacity: 1;
}