.container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    height: 100vh;
}

.selectorContainer {
    background-color: #fff;
    padding: 10px;
}

.attendanceContainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: calc(100vh - 120px);
    overflow: auto;
    z-index: 0;
}

.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;
}

/* Loader Animation */
.loader {
    border: 6px solid #f3f3f3; /* Light gray */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Keyframe for spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
