.selectorContainer {
    display: flex;
    width: 365px;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .selectorBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 14px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdown:focus {
    outline: none;
    border-color: #4e91ff;
  }
  