.mainContainer {
    display: flex;
    background-color: #f4f4f4;
    height: 100%;
    top: 0;
}

.card {
    background-color: #fff;
    width: 100%;
    overflow: auto;
}

.tableContainer {
    overflow: auto;
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    flex-flow: column;
}

.noDataImg {
    height: 90px;
    margin-bottom: 16px;
}

.noDataText {
    font-size: 14px;
    font-family: var(--fontGraphik);
    color: var(--gray);
}

.table th,
.table td {
    padding: 12px 16px;
    border: 1px solid #ddd;
}

.table th {
    position: sticky;
    top: -1px;
    background-color: #f2f2f2;
    z-index: 10;
    font-weight: bold;

}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table td {
    background-color: #fff;
}

.popupCard {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
}

.popupMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popupMenu li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popupMenu li:hover {
    background: #f0f0f0;
}

.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    white-space: normal;
    width: max-content;
    max-width: 250px;
    text-align: left;
    font-size: 13px;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Ensure tooltip is fully visible */
.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}


.statusBadge {
    padding: 0px 5px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    display: inline-block;
}

.pending {
    background-color: rgb(250, 250, 162);
    color: black;
}

.approved {
    background-color: green;
}

.halfDay {
    background-color: orange;
}

.rejected {
    background-color: rgb(255, 43, 43);
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.popupContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.textarea {
    width: 100%;
    height: 170px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popupActions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.submitButton {
    background: green;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.errorText {
    color: red;
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
}

.textarea.error {
    border: 1px solid red;
}