.leaveContainer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    height: 100vh;
}

.filterContainer{
    background-color: #fff;
    padding: 10px;
}

.LeaveContainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: calc(100vh - 120px);
    overflow: auto;
    z-index: 0;
}