.dashboardPage {
    display: flex;
    width: 100%;
}

.dashboardRight {
    width: calc(100% - 360px);
    padding: 10px 10px;
    margin-top: 60px;
    display: flex;
}
.dashboardLeft {
    width: 360px;
    margin-top: 60px;
    padding: 10px 0px 10px 10px;
}
.dashboardInnerLeft{
    width: 310px;
}

.dashboardInnerRight{
    width: calc(100% - 310px);
    padding: 0px 10px;
}
.container {
    background-color: #fff;
    height: 100vh;
    padding-top: 70px;
    padding-left: 10px;
}

.newContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}