@import "../../css/variable.css";
@import "../../css/fonts.css";
@import "../../css/normalize.css";

.employeeListContainer {
    background-color: white;
}

.employeeList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.employeeListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: white;   
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 16px;
}

.employeeCount {
    padding: 5px 7px;
    border-radius: 15px;
    font-size: 14px;
}

.selectedEmployee {
    background-color: #e0f7fa; /* Light cyan background */
    border: 2px solid #007bff; /* Blue border */
    font-weight: bold;
}

