.container {
  margin-left: 12px;
  font-size: 12px;
  font-weight: bold;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0px;
  /* overflow-y: auto; */
  /* max-height: 750px; */
}

.mainList {
  position: relative;
  background-color: var(--whitefa);
  padding: 16px;
  /* height: calc(100vh - 75px); */
  overflow: auto;
  padding-bottom: 100px;
}

.card {
  margin-bottom: 10px;
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background: white;
}

.cardLarge {
  margin-bottom: 20px;
  width: 320px;
  height: 200px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.date {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.status {
  font-size: 12px;
  background: #ccc;
  padding: 3px 8px;
  border-radius: 5px;
  color: #444;
  font-weight: bold;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
}

label {
  font-size: 11px;
  /* font-weight: bold; */
  display: block;
  /* margin-top: 5px; */
  text-align: left;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  max-width: 150px;
}

.truncated-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}