@import "../../css/variable.css";
@import "../../css/fonts.css";
@import "../../css/normalize.css";

.cameraContainer {
  width: 100%;
  max-width: 700px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.iconScanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.hiddenCanvas {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.btnTOP {
  position: relative;
  top: -60px;
}

.error {
  width: 300px;
  padding: 20px;
  background-color: var(--white);
  color: #f44336;
  border: 1px solid #f44336;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error p {
  margin: 10px 0;
}

.error button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #f44336;
  align-self: center;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error button:hover {
  background-color: #d32f2f;
}

.Loginloadercontainer {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  margin-top: 10px;
  height: 50;
  background-color: #0077ff;
  border-radius: 5px;
}

.spinnerLogin {
  align-self: center;
  color: var(--white);
  margin-right: 10px;
  animation: spin 1s linear infinite;
}
.video {
  width: 100%;
  max-width: 700px;
  border-radius: 6px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

.loaderText {
  align-self: center;
  color: var(--white);
  font-size: 13px;
  text-transform: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/********* Face Verification Camera CSS Starts Here *******/
.modalLoader{
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoContainerhide {
  overflow: hidden;
}
.videoContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.videoFaceContainer {
  top: -32px;
}

.blurOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.clearRectangle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: transparent;
  box-shadow: 0 0 0 9999px var(--white);
  border-radius: 6px;
  &:before {
    content: "";
    position: absolute;
    width: 265px;
    height: 265px;
    border: 2px solid var(--borderColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
}
.cameraFooter {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  position: relative;
  top: -70px;
  text-align: center;
  z-index: 3;
}
.cameraFooterTitle {
  font-size: 15px;
  font-family: var(--fontGraphikSemibold);
  color: var(--black);
}
.cameraFooterMsg {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}
