@import "../../assets/css/variable.css";
@import "../../assets/css/fonts.css";
@import "../../assets/css/normalize.css";

.hideDesktop {
  display: none;
}

.userScroll {
  height: calc(100vh - 146px);
  overflow: auto;
}

.userListTitle {
  font-size: 16px;
  color: var(--black);
  padding: 12px 16px;
  display: none;
  font-weight: 600;
}

.pageDropdown {
  /* height: calc(100vh - 0px); */
  display: block;
   width: 380px; 
  /* position: absolute;
  top: 60px;
  z-index: 0px;
  width: 380px; */
}

.employeeName {
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
  margin: 0px;
}

.employeeCode {
  font-size: 10px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  margin: 0px;
}

.checkMark {
  margin: 0px;
}

.noUserData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: calc(100vh - 340px);
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--lightBlack);
}

.noUserImg {
  height: 88px;
  margin-bottom: 15px;
}

.loaderContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid var(--themeColor);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loaderText {
  font-size: 11px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  margin-top: 10px;
}

.expenseBG {
  position: relative;
  background-color: var(--whitefa);
  padding: 16px;
  height: calc(100vh - 60px);
  overflow: auto;
  padding-bottom: 100px;
}

.buttonAdd {
  position: fixed;
  left: 325px;
  bottom: 60px;
}

/* Default styling */
/* .fixedHeader {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
} */
.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterHeader {
  display: flex;
  align-items: center;
  gap: 0px 16px;
  padding: 16px 16px 0px 16px;
}
.filterselect{
  padding: 0px 16px 0px 16px;
}
.scrollableList {
  max-height: 736px;
  /* Adjust based on screen size */
  overflow-y: auto;
}

.dropdownScrollable {
  max-height: calc(100vh - 200px);
  /* adjust 180px based on your fixed headers */
  overflow-y: auto;
  padding: 0px 16px; 
}

.dropdownLi:nth-last-child(1) {
  margin-bottom: 10px;
}
.scrollList{
  min-height: 90px;
  max-height: 320px;
  overflow: auto;
}


.dropdowmbtn {
  width: 120px;
  background-color: var(--white);
  border: 1px solid #ced4da;
  position: relative;
  height: 36px;
  padding: 0px 35px 0px 10px;
  border-radius: 4px;
}

.dropdowmbtn:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 11px;
  width: 12px;
  height: 12px;
  background-image: url(../../../src/assets/images/icons/iconDown.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dropDownwwwp{
  margin-bottom: 10px;
}

.projectNaam {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--darkBlack);
  font-size: 13px;
  font-family: var(--fontGraphik);
  min-width: 150px;
  text-align: left;
}

.selectedProject {
  border: none;
  background-color: var(--white);
   box-shadow: 0 0 20px 0 #0000001a;
  padding: 0px;
  border-radius: 6px;
  margin: 0px;
  overflow: hidden;
  transform: matrix3d(2px, 0, 0);
  transition: 0.22s ease-in linear;
  animation: slideDown 0.3s ease-out forwards;
  width: 120px;
  /* ya jitni chhoti chahiye */
  min-width: unset;
  /* agar koi min-width laga ho */
  max-width: 140px;

}
.customDropdownItem:hover {
   background-color: var(--whitef5);
}


.customDropdownItem {
  font-size: 13px;
  font-family: var(--fontGraphik);
  padding: 10px 16px;
  width: 100%;
  text-align: left;
  outline: none;
  border: none;
  background: transparent;
}
.totalUserbg {
  background-color: var(--whitef5);
  padding: 0px 0px;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.totalUserbg p {
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  color: var(--black);
  display: flex;
  align-items: center;
}
.UserIcon {
  /* filter: brightness(0) saturate(100%) invert(56%) sepia(0%) saturate(557%) hue-rotate(181deg) brightness(75%) contrast(74%); */
  font-size: 9px;
  font-family: var(--fontGraphik);
  color: var(--regularColor);
}
.dropwidth{
  width: 100%;
}
.selectWidth{
   width: 100%;
  /* ya jitni chhoti chahiye */
  min-width: unset;
  /* agar koi min-width laga ho */
  max-width: 100%;
}
.iconRupee{
  width: 13px;
}

.searchInputWrapper {
  padding: 8px;
}

.searchInput {
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.noResult {
  padding: 8px;
  color: #999;
  text-align: center;
}








@media (max-height: 709) {
  .dropdownScrollable {
    max-height: 60vh;
    /* slightly less on small screens */
  }
}

/* On smaller screens (e.g., max-width: 768px) */
@media (max-width: 768px) {
  .scrollableDropdown {
    max-height: 500px;
    /* adjust as needed */
    overflow-y: auto;
  }
}


/* Keyframe for spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767.98px) {
  .hideDesktop {
    display: flex;

    justify-content: space-between;
    width: 100%;
  }
}