.container {
    width: 397px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* height: 375px;
    overflow-y: auto; */
  }

  .holidayList::-webkit-scrollbar {
    display: none;
}
  
  .heading {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #2e2e2e;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
  }
  
  .holidayList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    max-height: 350px;
    overflow-x: auto;
  }
  
  .card {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    max-height: 80px;
  }
  
  .date {
    font-size: 16px;
    font-weight: 600;
    color: #87af88;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    min-width: 100px;
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    font-family: 'Poppins', sans-serif;
    margin-left: 75px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    .heading {
      font-size: 24px;
    }
  
    .card {
      padding: 15px;
    }
  }
  