.mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.mapStyle {
    width: 100%;
    height: 100%;
}

:global(.pac-container) {
    z-index: 10000 !important;
}