.menuList {
  display: flex;
  flex-direction: column;
}

.menuItem {
  padding: 12px 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: var(--fontGraphik);
}

.menuItem:hover {
  background-color: #bfdefc;
  padding-left: 22px;
}

.active {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 18px;
  border: none;
  background: var(--gradientTheme);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-family: var(--fontGraphik);
  transition: 0.3s;
  text-align: left;
  box-shadow: #667eea4d 0px 4px 12px;
}


@media (max-width:767.98px){
    .menuList{
        flex-direction: row;
        gap: 10px;
        overflow-x: auto;
    }
    .menuItem{
        white-space: nowrap;
    }
}
