.container {
    width: 260px;
    background: #fff;
    border-right: 1px solid #ddd;
    height: calc(100vh - 75px);
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menuList {
    display: flex;
    flex-direction: column;
}

.menuItem {
    padding: 14px 18px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    transition: 0.2s;
}

.menuItem:hover {
    background-color: #bfdefc;
    padding-left: 22px;
}

.active {
    background-color: #dcecff;
    font-weight: 600;
}