.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  backdrop-filter: blur(20px);
  border-radius: 6px;
  box-shadow: #00000014 0px 8px 32px;
  border: 1px solid #ffffffcc;
  height: calc(100vh - 80px);
}
.menuItem {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7px;
  width: 100%;
  padding: 10px 6px;
  text-align: center;
}
.menuItem:has(.menuIcon.active) {
  color: var(--darkBlack);
}
.menuIconBG {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #667eea0d;
  color: var(--regularColor);
  transition: 0.3s ease-in-out;
  .menuIcon {
    width: 26px;
    height: 26px;
  }
}
.menuItem.active .menuIconBG {
  gap: 12px;
  border: none;
  /* background: linear-gradient(135deg, #5a6cf0 0%, #6b3fa0 100%);
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.15),
    inset 0 -3px 8px rgba(0, 0, 0, 0.4), 0 15px 40px rgba(0, 0, 0, 0.5); */

  color: var(--white);
  cursor: pointer;
  font-family: var(--fontGraphik);
  transition: 0.3s;
  text-align: left;
}
.menuItem:hover .menuIconBG {
  background: linear-gradient(135deg, #5a6cf0 0%, #6b3fa0 100%);

  color: var(--white);
}
.menuText {
  font-size: 9px;
  font-family: var(--fontGraphik);
  color: var(--regularColor);
}
.menuItem.active .menuText {
  color: var(--darkBlack);
}

/********** Dark Theme ************/

.dark {
  background: linear-gradient(to top right, #091350 0%, #000000 100%);
  /* background: linear-gradient(to top right, #5a6cf0 0%, #320567  100%); */
}

/* .dark .menuItem .menuIconBG:hover {
  background: var(--white);
  .menuIcon {
    color: #5a6cf0;
  }
} */

/* .dark .menuIconBG {
  background: #ffffff14;
  color: var(--white);
} */

.dark .menuText {
  color: #cfcfe6;
}

.dark .menuItem.active .menuText {
  color: #fff;
}
/* .dark .menuItem.active .menuIconBG {
  background: var(--white);
  color: #5a6cf0;
} */

@media (max-width: 767.98px) {
  .menuList {
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .menuItem {
    white-space: nowrap;
    width: auto;
  }
}
