.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 15px; */
}
.menuItem {
  cursor: pointer;
  font-size: 9px;
  font-family: var(--fontGraphik);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7px;
  /* border-bottom: 1px solid var(--borderColor); */
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  &:hover{
      background: #667eea0d;
  }
  &:nth-last-child(1){
    border-bottom: none;
  }
}
.menuItem:has(.menuIcon.active) {
  color:var(--darkBlack);
}
.menuIcon {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  background-color: #667eea0d;
  color: var(--regularColor);
  transition: 0.3s  ease-in-out;
}
.active {
  gap: 12px;
  border: none;
  background: var(--gradientTheme);
  color: var(--white);
  cursor: pointer;
  font-family: var(--fontGraphik);
  transition: 0.3s;
  text-align: left;
  box-shadow: #667eea4d 0px 4px 12px;
}

@media (max-width: 767.98px) {
  .menuList {
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .menuItem {
    white-space: nowrap;
    width: auto;
  }
}
