.container {
  padding: 16px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ----------- TITLE ----------- */
.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #222;
}

/* ----------- TOP BAR ----------- */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.dateBox {
  position: relative;
  width: 200px;
}

.dateBox input {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 11px;
  color: #444;
}

/* ----------- RIGHT CONTROLS ----------- */

.rightControls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.totalBox {
  text-align: right;
}

.totalBox span {
  font-size: 12px;
  color: rgb(40, 167, 69);
}

.totalBox strong {
  display: block;
  color: #28a745;
  font-size: 18px;
}

/* EXPORT BUTTON */
.exportBtn {
  background: #2db742;
  color: white;
  border: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  cursor: pointer;
}

/* ----------- TABLE ----------- */

.tableWrapper {
  flex: 1;
  overflow-y: auto;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

.table th {
  background: #f1f1f1;
  padding: 10px;
  border: 1px solid #ddd;
  position: sticky;
  top: 0;
  font-weight: 600;
}

.table td {
  padding: 10px;
  border: 1px solid #ddd;
}
