.container {
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.emptyCell {
  padding: 40px 0;
  text-align: center;
}

.emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.emptyContent img {
  width: 120px;
  opacity: 0.8;
}

.emptyContent p {
  font-size: 14px;
  color: #6b7280; /* soft gray */
}

.tableContainer {
  background-color: var(--white);
  border-radius: 6px;
  overflow-x: auto;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
  max-height: calc(100vh - 66px);
  overflow: auto;
  padding-left: 8px;
}

.tableContainerFull {
  max-height: calc(100vh - 80px);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white);
  table-layout: fixed;
}

.table thead {
  background: #f3f4f6;
}

.table th,
.table td {
  padding: 12px 14px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}
.th1{
  width: 10%;
}
.th2{
  width: 30%;
}
.th3{
  width: 40%;
}
.th4{
width: 10%;
}
.th5{
width: 10%;
}
.table tbody tr:hover {
  background: #f9fafb;
}

.actionCol {
  display: flex;
  gap: 8px;
}

.editBtn {
  padding: 4px 10px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.editBtn:disabled,
.deleteBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.noData {
  height: 300px;
  /* controls vertical centering */
  text-align: center;
  vertical-align: middle;
}

/* Toggle Switch Container */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #d1d5db; /* gray */
  transition: 0.3s;
  border-radius: 999px;
}

/* Knob */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* ON state */
.switch input:checked + .slider {
  background-color: #22c55e; /* green */
}

/* Move knob */
.switch input:checked + .slider::before {
  transform: translateX(22px);
}

/* Disabled / loading state (optional) */
.switch input:disabled + .slider {
  opacity: 0.6;
  cursor: not-allowed;
}
