@import "../../../assets/css/variable.css";
.FETaskContainer {
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.FETaskHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: var(--white);
  align-items: center;
  transition: all 0.3s ease;
  z-index: 1;
}
.pageTitle {
  font-size: 15px;
  font-family: var(--fontGraphikSemibold);
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 8px;
}
.pageTitle span{
  background-color: var(--whitefa);
  width: 28px;
  height: 28px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderColor);
}
.tableContainer {
  border-radius: 6px;
  height: calc(100vh - 155px);
  overflow: auto;
  transition: all 0.3s ease;
  z-index: 1;
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px; /* vertical gap = 10px */
}
.table thead::after {
  content: "";
  display: block;
  height: 4px;
}
.table thead tr {
  border: 1px solid var(--borderColor);
}
.table thead th {
  background: var(--whitef5);
  color: var(--black);
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 12px 16px;
  transition: all 0.3s;
}
.table tbody tr {
  border-radius: 6px;
  border: 1px solid transparent;
  transition: background-color 0.25s ease;
  background-color: var(--white);
}
.table tbody td {
  padding: 5px 16px;
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
      vertical-align: middle;
}

/* .table tbody tr:hover {
background-color: #f1f8ff;
    border: 1px solid #4876ef;
} */
.table tbody tr td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid transparent;
}
.table tbody tr td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid transparent;
}
.table tbody tr:hover td {
  background-color: #f6fafd;
}

.table tbody tr:hover td:first-child {
  border-left: 1px solid #4876ef70;
}

.table tbody tr:hover td:last-child {
  border-right: 1px solid #4876ef70;
}

.table tbody tr:hover td {
  border-top: 1px solid #4876ef70;
  border-bottom: 1px solid #4876ef70;
}
.th1 {
  border-right: 1px solid var(--borderColor);
  width: 70px;
}

.table tbody tr:hover .snNumber {
  background: var(--gradientTheme);
  .editIcon {
    display: block;
    margin-left: -3px;
  }
  span {
   display: none;
  }
}
.snNumber {
  text-align: center;
  background-color: var(--white);
  height: 36px;
  width: 36px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.editIcon {
  color: var(--white);
  display: none;
}
.editBtn:disabled,
.deleteBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
