
.noScroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--transparentBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}
.modal {
  background-color: var(--white);
  width: 500px;
  border-radius: 6px;
  position: relative;
  /* overflow: hidden; */
  z-index: 10;
}
.modalTask {
  width: 670px !important;
}
.modalPersonalDetails {
  width: 661px;
}
.modalPersonalDetailsTask{
  width: 660px;
}
.modalCamera {
  width: 650px;
}
.closeBtn {
  border: none;
  background-color: transparent;
  outline: none;
  transition: 0.2s;
  padding: 0px;
  &:hover {
    .iconClose {
      filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(828%)
        hue-rotate(331deg) brightness(103%) contrast(88%);
    }
  }
}
.iconClose {
  width: 18px;
}
.actionBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 30px;
  box-shadow: 0 8px 20px 0 #0000000a;
}
.headerDefaultGroup {
  width: 90px;
  height: 85px;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderColor);
  box-shadow: #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
  margin-bottom: 10px;
}
.ImgAdd {
  width: auto;
  height: 55px;
}

.headerText {
  font-size: 18px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikSemibold);
}
.headerDefaultImg {
  width: auto;
  height: 70px;
}
.textboxGroup{
  margin-bottom: 24px;
  font-family: var(--fontGraphik);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.textbox{
  margin-bottom: 27px;
  text-align: center;
  font-family: var(--fontGraphik);
  font-size: 15px;
}

.modalBody {
  width: 100%;
  padding: 30px 30px 30px 30px;
}

.btnSave {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: var(--themeColorDark);
  }
}
.btnDanger {
  background-color: var(--textDanger);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: var(--textDangerDark);
  }
}
.btnMtop {
  margin-top: 30px;
}
.Loginloadercontainer {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.iconEye {
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 16px;
  width: 16px;
  height: auto;
}

/** Radio Button CSS Starts here **/
.radioBtnGroup {
  display: flex;
}
.radioBtnGroupNew {
  align-items: center;
  padding: 0px 10px;
  height: 36px;
}

.labelStyle {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  margin-bottom: 10px;
}
.radioGroup {
  display: flex;
  gap: 10px;
  margin-right: 16px;
}
.radioGroupNew {
  align-items: center;
}
.radioLabel {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  cursor: pointer;
}
.radioBtnBox {
  display: flex;
}
.radioBtn {
  appearance: none;
  border: 1px solid var(--regularColor);
  border-radius: 50px;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.radioBtnNew {
  width: 16px;
  height: 16px;
}
.radioBtnNew:checked::before {
  width: 8px !important;
  height: 8px !important;
}
.radioBtn:checked {
  background-color: var(--white);
  border-color: var(--themeColor);
}
.radioBtn:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--themeColor);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** Radio Button CSS Ends here **/
.imgEnd {
  margin-bottom: 20px;
}
.fileInputContainer {
  display: flex;
  gap: 16px;
}
.imgBtn {
  width: 75px;
  height: 70px;
  border: 1px solid var(--borderColor);
  background: var(--whitefa);
  border-radius: 6px;
  font-size: 18px;
  color: var(--black);
  font-family: var(--fontGraphik);
  &:hover {
    background: var(--whitef5);
  }
}
.selectedImageBox {
  width: 75px;
  height: 70px;
  border: 1px solid var(--borderColor);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.selectedImage {
  width: 50px;
}

/** Holliday Image Grid Modal **/

.imageCol {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 16px;
}
.imgBox {
  border: 1px solid var(--borderColor);
  padding: 10px;
  border-radius: 6px;
  width: calc(100% / 4 - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
.imgBox img {
  width: 60px;
}

/*** Error Messages **/
.errorMessage,
.invalidfeedback {
  font-size: 12px;
  color: var(--textDanger);
  font-display: var(--fontGraphik);
  margin-top: 2px;
}

/*** Textbox New Design Starts here **/
.textboxGroup {
  margin-bottom: 10px;
}
.textboxMain {
  display: flex;
  border-radius: 6px;
  border: 1px solid #ced4da;
  width: 100%;
}
.textboxLeft {
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  background-color: #eff2f7;
  padding: 0px 10px;
  height: 36px;
  width: 131px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.textLableLeft{
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  background-color: #eff2f7;
  padding: 0px 10px;
  height: 36px;
  width: 65px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.textboxRight {
  width: calc(100% - 131px);
  position: relative; /* Ensure proper positioning */
  overflow: visible !important;
}
.textboxRightSelect {
  width: calc(100% - 65px);
  position: relative; /* Ensure proper positioning */
  overflow: visible !important;
}
.formTextbox {
  border: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  padding: 0px 10px;
  height: 36px;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
}
.formCalendarBox {
  position: relative;
}
.formCalendarBox::after {
  content: "";
  position: absolute;
  left: auto;
  right: 16px;
  top: 11px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  pointer-events: none;
}
.formTextbox::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 16px;
  cursor: pointer;
  opacity: 1;
  filter: invert(30%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerLogin {
  animation: spin 1s linear infinite;
}

