@import "../../css/variable.css";
@import "../../css/fonts.css";
@import "../../css/normalize.css";
.verticalTabsContainer {
  display: flex;
  width: 100%;
  min-height: 236px;
}

.tabs {
  display: flex;
  flex-flow: column;
  background-color: var(--white);
  border-radius: 6px;
  margin-right: 10px;
  width: 200px;
  overflow: hidden;
}

.tab {
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
  transition: background-color 0.3s ease;
}
.tabHeader {
  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
  padding: 10px 16px;
}

.tab.active {
  background-color: #eaf8ff;
  color: var(--black);
}

.tab:hover {
  background-color: var(--whitef5);
}

.tabContent {
  padding: 20px;
  width: 100%;
  background-color: var(--white);
  border-radius: 6px;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  flex-flow: column;
}
.noDataImg {
  height: 90px;
  margin-bottom: 16px;
}
.noDataText {
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}

@media (max-width: 767.98px) {
  .hideDesktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .verticalTabsContainer {
    flex-flow: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .tabHeader{
    display: none;
  }
  .tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    flex-direction: row;
    width: 100%;
  }
  .tabs::-webkit-scrollbar {
    height: 6px;
  }

  .tabs::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  .tabs::-webkit-scrollbar-track {
    background: transparent;
  }
}
