@import "../../css/variable.css";
@import "../../css/fonts.css";
@import "../../css/normalize.css";

.profileBG {
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  padding: 30px 16px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  &:after{
    content: "";
    display: inline-block;
    background-image: url(../../images/profile-mask.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 98px;
    height: 50px;
  }
}
.profileImg{
  height: 40px;
    width: 40px;
    background-color: #e5f2f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #333333;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    border-radius: 10%;
    overflow: hidden;
}
.empID{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #f0f9fe;
  color: var(--black);
  font-size: 11px;
  font-family: var(--fontGraphikMedium);
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.profilLeft {
  width: 120px;
  display: flex;
  justify-content: flex-start;
}
.profileRight {
  width: calc(100% - 120px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}
.userName {
  font-size: 16px;
  font-family: var(--fontGraphikSemibold);
  color: var(--black);
}
.userDesignation {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--lightBlack);
}

.profileParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.profileUpload {
  position: relative;
  width: 95px;
  height: 95px;
}
.profileEdit {
  position: absolute;
  right: 22px;
  z-index: 1;
  bottom: -9px;
}
.fileInput {
  display: none;
}
.profileImg {
  width: 95px;
  height: 95px;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid var(--borderColor);
  img {
    object-fit: cover;
    width: 95px;
    height: 95px;
    border-radius: 6px;
  }
}
.profileUpload .profileEdit .fileInput + .uploadLabel {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 0;
  border-radius: 6px;
  background: #fafafa;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #0000001f;
  padding: 4px;
}
.profilRight {
  width: calc(100% - 120px);
}

@media (max-width: 767.98px) {
  .hideDesktop {
    display: flex;

    justify-content: space-between;
    width: 100%;
  }
}
