.scrollableContainer {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.iconAmount {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--fontGraphikMedium);
}

.iconRupee {
  width: 15px;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;
}

.customTable thead {
  background: var(--whitefa);
  color: black;
}

.customTable thead th {
  padding: 12px 10px;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
  position: sticky;
  top: 0;
  background-color: var(--themeColor);
}

.customTable tbody tr {
  background: white;
  border-bottom: 1px solid #eee;
  transition: background 0.2s ease;
}

.customTable tbody tr:hover {
  background: #f4f6ff;
}

.customTable td {
  padding: 10px;
  white-space: nowrap;
}

.amount {
  font-weight: bold;
  color: #2e7d32;
}

.table-th {
  padding: 12px 16px;
  font-weight: 600;
  font-size: 13px;
  border-bottom: 2px solid #ddd;
  font-family: 'Segoe UI', sans-serif;
}

.table-td {
  padding: 10px 14px;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}


.bottomEmployeebtn {
  height: 36px;
  border-radius: 4px;
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  line-height: 0px;
  gap: 4px;
  padding: 0px 14px;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}

.iconExportDwn{
  width: 16px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(62%) saturate(4195%) hue-rotate(174deg) brightness(102%) contrast(89%);
}
.bottomEmployeebtn:hover .iconExportDwn {
  filter: invert(1) brightness(2);
}

.foundNot {
  height: 90px;
}

.dropdownItemNot {
  height: calc(100vh - 200px);
  font-size: 12px;
  color: #707070;
  font-family: var(--fontGraphik);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

}