@import "../css/variable.css";

.passwordImg {
  width: 132px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.offcanvasBody {
  padding: 2px 50px 16px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: -100px; */
}
.offcanvasFooter {
  padding: 16px 50px 16px 50px;
}
.btnSave {
  width: 100%;
}
.iconEye {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 16px;
  width: 16px;
  height: auto;
}
@media (max-width: 767.98px) {
  .btnClose {
    position: fixed;
  }

  .offcanvasBody {
    padding: 2px 30px 16px 30px;
  }
  .offcanvasFooter {
    padding: 16px 30px 16px 30px;
  }
}
