@import "../css/variable.css";

.checkbox-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 12px 20px 12px 16px;
    border-top: 1px solid var(--borderColor);
    background: var(--whitef5);
    align-items: center;
  }
  
  .checkbox-container input {
    position: relative;
    opacity: 0;
    height: 0;
    width: 0; 
  }
  
  .checkmark {
    height: 18px;
    width: 18px;
    background-color: var(--lightGray);
    border-radius: 4px;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--themeColor);
  }
  
  .checkmark:after {
    content: "";
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    position: relative;
    right: -7px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .label-text {
    flex-grow: 1;
    font-size: 13px;
    font-family: var(--fontGraphik);
    color: var(--lightBlack);
    margin-left: 10px;
  }

  @media (max-width: 767.98px){


  }
  