@import "../css/variable.css";
@import "../css/fonts.css";
@import "../css/normalize.css";

.react-datepicker__aria-live {
  display: none;
}
.react-datepicker__triangle {
  display: none !important;
}
.react-datepicker-popper {
  z-index: 9999 !important;
  top: 36px !important;
}
.react-datepicker {
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  box-shadow: 0px 4px 10px #00000033;
  border-radius: 6px;
  position: absolute !important;
  z-index: 9999 !important;
}

/* Header of the Datepicker */
.react-datepicker__header {
  background-color: var(--white);
  color: var(--white);
  padding: 10px;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 8px 20px 0 #0000000a;
}

.react-datepicker__day {
  border: 1px solid var(--borderColor);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-family: var(--fontGraphik);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__day--selected {
  background-color: var(--themeColor) !important;
  color: var(--white) !important;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: var(--themeColor);
  color: var(--white);
}

/* Previous & Next Arrow Buttons */
.react-datepicker__navigation {
  top: 12px;
}

.react-datepicker__navigation--previous {
  left: 10px;
}

.react-datepicker__navigation--next {
  right: 10px;
}

/* Today Button & Clear Button */
.react-datepicker__today-button,
.react-datepicker__clear-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.react-datepicker__current-month {
  font-size: 15px;
}
.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  font-size: 12px;
  font-family: var(--fontGraphik);
  color: var(--black);
}
.react-datepicker__month {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.custom-datepicker-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0px 10px;
}
.custom-nav-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
  line-height: 0px;
}
.iconPreNext {
  width: 12px;
}

.month-title {
  font-size: 15px;
  font-family: var(--fontGraphikMedium);
  color: var(--black);
}
.react-datepicker__week {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  &:nth-last-child(1) {
    margin-bottom: 0px;
  }
}
.month-dropdown,
.year-dropdown {
  border: none;
  font-size: 14px;
  width: auto;
}
.month-year-dropdown {
  border: none;
}
.btnMonthYear {
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--black);
}
.DropdownMonthYear {
  border-radius: 6px;
  border: 1px solid var(--borderColor);
  padding: 0px;
  overflow: hidden;
  box-shadow: 0 5px 10px #1e20251f;
  height: 200px;
  overflow: auto;
}
.dropdownItemMonthYear {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}
.dropdownItemMonthYear.active {
  background-color: var(--themeColor);
}

@media (max-width: 767.98px) {
  .react-datepicker {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.css-13cymwt-control {
  width: 100%;
  color: #333333;
  font-size: 13px !important;
  border-color: #e5e5e5 !important;
  border-width: 1px !important;
  border-style: solid;
  height: 36px !important;
  font-family: var(--fontGraphik);
  font-weight: 400;
  position: relative;
}
