@import "../css/variable.css";
@import "../css/fonts.css";
@import "../css/normalize.css";

/*** Responsive Dropdown Menu CSS ***/
.dropDown {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.dropdownMenu {
  padding: 0px;
  border: none;
  box-shadow: 0 10px 20px 0 #e5e5e5;
  z-index: 1;
  background-color: var(--white);
  border-radius: 0px;
  overflow: hidden;
  background: var(--glassBG);
  backdrop-filter: blur(20px);
  border-right: 1px solid var(--glassBorder);
}

.dropdownMenu::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}

.dropdownMenu::-webkit-scrollbar-track {
  background: #ffffff;
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.dropdownMenu:hover::-webkit-scrollbar-thumb {
  background: var(--themeColor);
}
.dropdownDesktop {
  top: 0px;
  left: 0px;
  width: 250px;
  border-radius: 0px;
  height: calc(100vh - 60px);
  padding: 0px;
  border: none;
  box-shadow: 0 10px 20px 0 #e5e5e5;
}

.searchGroup {
  padding: 16px 16px;
}

.inputSearch {
  font-size: 14px;
  border: none;
  background: var(--whitef5);
  background-image: url(../../assets//images/icons/iconSearch.svg);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  background-size: 16px 16px;
  border-radius: 6px;
  width: 100%;
  padding: 13px 16px 13px 32px;
  transition: 0.2s;
  font-family: var(--fontGraphik);
  color: var(--lightBlack);

  &:focus {
    background-position: 97% 12px;
    padding: 13px 13px 13px 16px;

    color: var(--black);
  }
}

@media (max-width: 767.98px) {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000090;
    z-index: 3;
  }
}
