/* @import "../css/variable.css";
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1200;
  display: flex;
  width:550px;
  visibility: hidden;
  background-color: #ffffff;
  background-clip: padding-box;
  outline: 0;
  transition: 0.3s ease-in-out !important;
  box-shadow: #8c939f40 -4px 0px 50px 0px;
  border: none;
}
.defaultImg{
  width: auto;
  height: 116px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.offcanvasScroll{
  flex-grow: 1;
  height: calc(100vh - 100px);
  overflow: auto;
}
.offcanvasHeader {
  padding: 20px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.passwordHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.offcanvasTitle {
  font-size: 20px;
  color: var(--black);
  font-family: var(--fontGraphikSemibold);
}
.offcanvasSubTitle {
  font-size: 14px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
  text-align: center;
}
.btnClose {
  position: absolute;
  top: 10px;
  left: -37px;
  padding: 12px 2px 12px 12px;
  min-height: auto;
  background: #ffffff;
  box-shadow: #8c939f40 -4px 0px 50px 0px;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-size: 0.8em;
}
.iconClose {
  width: 20px;
  height: 20px;
}
.btn-close {
  background-size: 0.7em;
  filter: brightness(0) saturate(100%) invert(27%) sepia(69%) saturate(6472%) hue-rotate(352deg) brightness(94%) contrast(134%);
}

.btnSave {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  &:hover {
    background-color: var(--themeColorDark);
  }
}

.offcanvas-body {
  padding: 5px 16px 16px 16px;
}
.offcanvas-footer {
  padding: 16px 16px;
}

@media (max-width: 767.98px) {
  .offcanvas {
    width: 100%;
  }
  .btnClose {
    position: absolute;
    top: 10px;
    left: 16px;
    padding: 0px;
    background: #241e1e00;
    box-shadow: #8c939f00 -4px 0px 50px 0px;
  }

  .btn-close {
    background-size: 1.3em;
  }
  .offcanvasHeader {
    margin-top: 30px;
  }
  .offcanvasTitle {
    font-size: 20px;
  }
  .offcanvasSubTitle {
    width: 85%;
  }
  .defaultImg{
    height: 85px;
    margin-top: 0px;
  }
  .offcanvas-body {
    height: calc(100vh - 200px);
    overflow: auto;
  }
} */

/* @import "../css/variable.css"; */
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 14;
  display: flex;
  width:550px;
  visibility: hidden;
  background-color: #ffffff;
  background-clip: padding-box;
  outline: 0;
  transition: 0.3s ease-in-out !important;
  box-shadow: #8c939f40 -4px 0px 50px 0px;
  border: none;
}
.defaultImg{
  width: auto;
  height: 116px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.offcanvasScroll{
  flex-grow: 1;
  height: calc(100vh - 100px);
  overflow: auto;
}
.offcanvasHeader {
  padding: 20px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.passwordHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.offcanvasTitle {
  font-size: 20px;
  color: var(--black);
  font-family: var(--fontGraphikSemibold);
}
.offcanvasSubTitle {
  font-size: 14px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
  text-align: center;
}
.btnClose {
  position: absolute;
  top: 10px;
  left: -37px;
  padding: 12px 2px 12px 12px;
  min-height: auto;
  background: #ffffff;
  box-shadow: #8c939f40 -4px 0px 50px 0px;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-size: 0.8em;
}
.iconClose {
  width: 20px;
  height: 20px;
 
}
.btn-close {
  background-size: 0.7em;
  filter: brightness(0) saturate(100%) invert(27%) sepia(69%) saturate(6472%) hue-rotate(352deg) brightness(94%) contrast(134%);
}

.btnSave {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  &:hover {
    background-color: var(--themeColorDark);
  }
}

.offcanvas-body {
  padding: 5px 16px 16px 16px;
}
.offcanvas-footer {
  padding: 16px 16px;
}

@media (max-width: 767.98px) {
  .offcanvas {
    width: 100%;
  }
  .btnClose {
    position: absolute;
    top: 10px;
    left: 16px;
    padding: 0px;
    background: #241e1e00;
    box-shadow: #8c939f00 -4px 0px 50px 0px;
  }

  .btn-close {
    background-size: 1.3em;
  }
  .offcanvasHeader {
    margin-top: 30px;
  }
  .offcanvasTitle {
    font-size: 20px;
  }
  .offcanvasSubTitle {
    width: 85%;
  }
  .defaultImg{
    height: 85px;
    margin-top: 0px;
  }
  .offcanvas-body {
    height: calc(100vh - 200px);
    overflow: auto;
  }
}

