@import "./fonts.css";
@import "./variable.css";

.blurRight{
  position: absolute;
  right: 0px;
  width: 50px;
  height: 40px;
  filter: blur(7px);
  background: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 100%);
}
.tabAccesContainer{
  display: flex;
  width: 100%;
  gap: 10px;
}
.tabButtonAccess{
  width: 200px;
  background: #fff;
}

.tabPanelAccess{
  width:calc(100% -  198px);
}
.permissionHeader{
  padding: 10px 16px;
}
.permissionTitle {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.tabButton {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  &:hover {
    background-color: var(--whitef5);
    .tabButtonText {
      color: var(--black);
    }
  }
}
.tabButton.active {
  background: #eaf8ff;
}
.tabButton.active .tabButtonText {
  /* font-family: var(--fontGraphikMedium); */
  color: var(--black);
}
.tabButtonText {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  width: calc(100% - 26px);
  text-align: start;
}
.iconNext {
  width: 12px;
  transform: rotate(-90deg);
}
.tabPanels {
  background-color: var(--white);
  border-radius: 6px;
  /* padding: 20px 16px; */
   min-height: 130px;
  max-height: max-content;
}


.noDataView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 388px;
}

.noData {
  width: 110px;
  height: auto;
  margin-bottom: 12px;
}

.noDataText {
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}

@media (max-width: 767.98px) {
  .tabContainer {
    flex-direction: column;
  }
  .permissionHeader{
    display: none;
  }
  .tabButtonBG{
    width: 100%;
    margin-bottom: 10px;
  }
  .tabButtonScroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  .tabButtonScroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .tabButton{
    &:nth-last-child(1){
      margin-right: 100px;
    }
  }
  .tabButtonText {
    white-space: nowrap;
  }
  .iconNext {
    display: none;
  }
  .tabPanels {
    width: 100%;
  }
  .noDataView {
    height: 250px;
  }
}
