/* ================= Quick App Selection ================= */
.overlay2 {
  background: transparent;
  padding: 70px 20px 0px 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  display: flex;
}
.modalApp {
  display: flex;
  justify-content: flex-end;
  max-width: 480px;
  width: 100%;
  flex-flow: column;
  border-radius: 12px;
  background: #fffffffa;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffffcc;
  overflow: hidden;
  animation: modalSlideUp 0.5s ease;
}
.orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.3;
  /* animation: float 20s infinite ease-in-out; */
}

.orbOne {
  width: 300px;
  height: 300px;
  background: #e3cbfc;
  top: -150px;
  left: -150px;
}

.orbTwo {
  width: 400px;
  height: 400px;
  background: #e3cbfc;
  bottom: -200px;
  right: -200px;
  animation-delay: 6s;
}

.orbThree {
  width: 250px;
  height: 250px;
  background: #fbffc6;
  top: 30%;
  left: 32%;
  animation-delay: 12s;
}

/* Overlay */
.dropdownOverlay {
  background: transparent;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 70px 20px 0 0;
}

/* Modal body */

.modalBodyApp{
max-height: calc(100vh - 90px);
}

/* Section Titles */
.sectionHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.sectionTitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.sectionNumber{
  font-size: 11px;
    font-family: var(--fontGraphikSemibold);
    color: #94a3b8;
    background: #f1f5f9;
    padding: 4px 10px;
    border-radius: 4px;
}

/* Grids */
.appsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 7px;
}

.appsGridDropdown {
  grid-template-columns: repeat(3, 1fr);
}

.managementGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.singleColumn {
  grid-template-columns: 1fr;
}

.accountGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

/* Cards */
.userTypeCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  background: var(--white);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
    width: 140px;
    height: 95px;
}

.userTypeCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

/* Icons */
.userTypeIcon {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBlue {
  background: rgba(102, 126, 234, 0.15);
  color: #667eea;
}

.iconRed {
  background: rgba(245, 101, 101, 0.15);
  color: #f56565;
}

/* Labels */
.userTypeLabel2 {
  font-size: 11px;
  font-family: var(--fontGraphik);
  color: var(--regularColor);
}

/* Divider */
.sectionDivider {
  /* border-top: 1px solid var(--borderColor); */
  margin-top: 10px;
  padding-top: 10px;
}

/* ================= OVERLAY ================= */
.overlay {
  position: fixed;
  inset: 0;
  background: #000000ad;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  padding: 20px;
  animation: popup_modalFadeIn__yzkB8 0.3s ease;
}

/* ================= MODAL ================= */
.modal {
  position: relative;
  width: 100%;
  max-width: 520px;
  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  overflow: hidden;
  animation: modalSlideUp 0.5s ease;
}

/* ================= HEADER ================= */
.modalHeader {
  padding: 14px 30px;
  background: linear-gradient(135deg, #667eea0d, #764ba20d);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  background: var(--gradientTheme);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  box-shadow: 0 8px 24px rgba(102, 126, 234, 0.3);
  animation: modalPulse 2s ease-in-out infinite;
}
.headerTextRight {
  width: calc(100% - 65px);
}
.modalTitle {
  font-size: 18px;
  font-family: var(--fontGraphikSemibold);
  word-break: break-word;
  color: var(--darkBlack);
  background: var(--gradientTheme);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.modalSubtitle {
  font-size: 13px;
  color: #6b7280;
  font-family: var(--fontGraphik);
  margin: 0;
}

.closeBtn {
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6b7280;
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(19%) saturate(5835%)
      hue-rotate(343deg) brightness(97%) contrast(94%);
  }
}
/* ================= Search Bar ================= */
.searchSection {
  padding: 20px 30px 0px 30px;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 16px;
  color: #9ca3af;
  pointer-events: none;
}

.searchInput {
  width: 100%;
  padding: 14px 16px 14px 48px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--regularColor);
  transition: all 0.3s ease;
  background: var(--white);
  font-family: inherit;
  outline: none;
  height: 44px;
}

.searchInput:focus {
  border-color: var(--themeColor);
}

/* ================= BODY ================= */
.modalBody {
  padding: 30px;
  max-height: calc(100vh - 250px);
  overflow: auto;
}

.inputGroup {
  margin-bottom: 16px;
  &:nth-last-child(1) {
    margin-bottom: 0px;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  color: var(--black);
  font-family: var(--fontGraphik);
  font-size: 13px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 16px;
  color: #9ca3af;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.input {
  font-family: var(--fontGraphik);
  font-size: 13px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
  border-image: initial;
  border-radius: 4px;
  padding: 14px 46px 14px 48px;
  transition: 0.3s;
}
.input:focus {
  outline: none;
  border-color: var(--themeColor);
  box-shadow: 0 0 0 4px #667eea1a;
}
.inputWrapper:focus-within .inputIcon {
  color: var(--themeColor);
}
.inputWrapper:focus-within svg {
  color: var(--themeColor);
}
.eyeBtn {
  position: absolute;
  right: 16px;
  background: none;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}
.textareaWrapper .inputIcon{
top: 16px;
}
/* ================ Disabled INNPUT ===============*/
.input:disabled {
  background: #f3f4f6;
  cursor: not-allowed;
  opacity: 0.5;
}

.input:disabled::placeholder {
  color: #9ca3af;
}

.input:disabled:hover {
  box-shadow: none;
  border-color: #e5e7eb;
}
/* ================= REQUIREMENTS ================= */
.requirementsBox {
  margin-top: 10px;
  padding: 20px 30px;
  background: linear-gradient(
    135deg,
    rgba(102, 126, 234, 0.05),
    rgba(147, 51, 234, 0.05)
  );
  border-radius: 6px;
  border: 1px solid rgba(102, 126, 234, 0.2);
}
.requirementsBoxTitle {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  margin-bottom: 8px;
}
.requirementsBox ul {
  list-style: none;
  padding: 0;
  margin: 0 0 6px 0;
}
.requirementsBox li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.valid {
  color: var(--textSuccess);
  font-size: 13px;
  font-family: var(--fontGraphik);
}

.invalid {
  color: var(--textDanger);
  font-size: 13px;
  font-family: var(--fontGraphik);
}

.strengthBar {
  height: 6px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 16px;
  font-size: 13px;
  font-family: var(--fontGraphik);
}

.strengthFill {
  height: 100%;
  background: var(--textSuccess);
  transition: width 0.3s ease;
  font-size: 13px;
  font-family: var(--fontGraphik);
}
/* ================= User Type ================= */
.userTypeGrid {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.userTypeCard {
  position: relative;
  padding: 12px 10px;
  background: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: addUserCardPop 0.5s ease backwards;
}

.userTypeCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.userTypeCardActive {
  border-color: transparent;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.userTypeIcon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.userTypeLabel {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--regularColor);
  flex: 1;
}

.checkMark {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 2px;
  animation: addUserCardPop 0.3s ease;
}

@keyframes addUserCardPop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ================= FOOTER ================= */
.modalFooter {
  padding: 14px 30px;
  background: rgba(249, 250, 251, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.cancelBtn {
  padding: 12px 24px;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: #6b7280;
  cursor: pointer;
  height: 44px;
  transition: all 0.3s ease;
  flex: 1;
}

.submitBtn {
  padding: 12px 24px;
  background: var(--gradientTheme);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: var(--fontGraphikSemibold);
  cursor: pointer;
  display: flex;
  color: var(--white);
  align-items: center;
  gap: 8px;
  box-shadow: 0 8px 24px #667eea4d;
  transition: all 0.3s ease;
  height: 44px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  flex: 1;
}
.submitBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.5s ease;
}

.submitBtn:hover::before {
  left: 100%;
}

.submitBtn:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0 15px 40px #667eea66;
}

.submitBtn:disabled {
  opacity: 0.75;
  cursor: not-allowed;
  box-shadow: none;
}

.spinningIcon {
  animation: spin 0.9s linear infinite;
}
/* ================= ANIMATIONS ================= */
@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes modalOrbFloat {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(20px);
  }
}

@keyframes modalParticleFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767.98px) {
  .modalHeader {
    padding: 20px 16px;
  }
  .searchSection {
    padding: 20px 16px 0px 16px;
  }
  .modalBody {
    padding: 20px 16px;
  }
  .modalFooter {
    padding: 20px 16px;
  }
  .headerLeft {
    width: calc(100% - 36px);
  }
  .iconWrapper {
    display: none;
  }
  .cancelBtn {
    display: none;
  }
}
