:root {
  /**** Font Family Variables ***/
  --fontGraphik: "Graphik-Regular";
  --fontGraphikSemibold: "Graphik-Semibold";
  --fontGraphikMedium: "Graphik-Medium";
  --fontGraphikBold: "Graphik-Bold";

  /**** Color Variables ***/
  --darkBlack: #000000;
  --lightBlack: #333333;
  --black: #212121;
  --transparentBlack: #00000095;

  --gray: #757575;
  --lightGray: #cccccc;
  --regularColor: #707070;

  --borderColor: #eeeeee;
  --glassBorder: #ffffff2e;

  --white: #ffffff;
  --whitefa: #fafafa;
  --whitef5: #f5f5f5;
  --glassBG: #ffffffb3;


  /* --readytotest: #d97706;
  --assignReviewer: #667eea;
  --reviewDone: #0b8f7d;
  --textPause: #f65d5d; */
  /* --pending: #f06548; */

  --textDanger: #f06548;
  --textDangerTransparent: #f0654818;
  --textDangerDark: #c43c21;  --textSuccess: #0ab39c;
  --textSuccessDark: #0b8f7d;
  --pending: #dda10b;

  --themeColor: #667eea;
  --themeColorDark: #4b66df;
  /**** Gradient Variables ***/
  --gradientTheme: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
