/* YearMonthSelector.module.css */
.container {
    display: flex;
    gap: 10px;
    align-items: center;
    /* margin-left: 16px; */
}

.select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
}
