.logo_container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: linear-gradient(135deg, #667eea1f 0%, #764ba21f 100%);
  border-radius: 4px;

}

.logo_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}