.logo_container {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow: hidden;

}

.logo_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}