.logo_container {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
  /* background: linear-gradient(135deg, #667eea1f 0%, #764ba21f 100%);
  border: 1px solid var(--borderColor); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 6px;
}

.city_logo_std {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  display: block;
}