.cameraOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e6;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cameraContainer {
    width: 100%;
    max-width: 700px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.video {
    width: 100%;
    max-width: 700px;
    border-radius: 6px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
}
.videoContainer{
    position: relative;
}
.iconScanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}
.hiddenCanvas {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.captureButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.captureButton:hover {
    background-color: #45a049;
}

.closeButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #e60000;
}

.error {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    color: #f44336;
    border: 1px solid #f44336;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error p {
    margin: 10px 0;
}

.error button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #f44336;
    align-self: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error button:hover {
    background-color: #d32f2f;
}

.Loginloadercontainer {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    margin-top: 10px;
    height: 50;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
}


.spinnerLogin {
    align-self: center;
    color: white;
    margin-right: 10px;
    animation: spin 1s linear infinite;
}

.loaderText {
    align-self: center;
    color: white;
    font-size: 13px;
    text-transform: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}