.addPeopleImg {
  width: 116px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.detail_box {
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detail_box.basic_detail_box {
  padding: 0px;
}

.profile_group {
  display: flex;
  flex-flow: column;
}

.profile_right {
  padding: 20px 20px;
  width: 100%;
}

.invalidfeedback {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
  display: block;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0ab39c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loader_text {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Loginloadercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerLogin {
  margin-right: 10px;
  animation: spin 1s linear infinite;
}

.loaderText {
  color: white;
  font-size: 13px;
  text-transform: none;
}
.AddProject_button {
  position: fixed;
  right: 14px;
  bottom: 50px;
}

.AddProject_button2 {
  position: fixed;
  right: 14px;
  bottom: 50px;
}

.icon_add_project {
  font-size: 15px;
}

.custom_AddProject_btn {
  background-color: #5eb1f4;
  color: white;
  border-radius: 10%;
  border: #5eb1f4;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.custom_small_btn:hover {
  background-color: #5eb1f4;
  color: white;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 360px;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-left: 280px;
  margin-top: -10px;
}


.noScroll {
  overflow: hidden;
}

.overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: var(--transparentBlack);
display: flex;
justify-content: center;
align-items: center;
z-index: 3;
}

.dialogbox {
background: var(--white);
padding: 24px 24px;
/* border-radius: 6px; */
width: 650px;
display: flex;
box-shadow: 0 2px 10px #0000001a;
justify-content: center;
flex-direction: column;
align-items: center;
/* position: relative; */
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}
.alertBox {
width: 420px;
}
.actionBtn {
display: flex;
justify-content: center;
align-items: center;
background-color: #3fb2f1;
position: relative;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
padding: 40px;
}
.headerDefaultGroup {

border-top-right-radius: 6px;
width: 90px;
height: 73px;
/* border-radius: 6px; */
overflow: hidden;
padding: 5px;
background-color: var(--white);
display: flex;
justify-content: center;
align-items: center;
/* border: 1px solid var(--borderColor); */
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
/* margin-bottom: 15px; */
border-top-left-radius: 6px;
position: absolute;
top: 40px;
}
.ImgAdd{
width: 100%;
height: auto;
padding:10px;
}
.headerDefaultImg {
width: auto;
height: 70px;
}
.header {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
width: 100%;
padding: 20px;
/* border-bottom: 1px solid var(--borderColor); */
/* margin-bottom: 10px; */
}

.headerImg {
width: 80px;
height: 80px;
margin-bottom: 30px;
}

.headerText {
font-size: 18px;
color: var(--black);
font-weight: bold;
}

.content {
padding: 2px;
margin-bottom: 5px;
text-align: center;
}

.msgText {
font-size: 16px;
font-family: var(--fontGraphik);
color: var(--lighBlack);
}

.action {
display: flex;
justify-content: center;
width: 100%;
gap: 10px;
}

.btnCancel {
padding: 15px 30px;
background-color: var(--white);
color: var(--lighBlack);
font-size: 14px;
font-family: var(--fontGraphik);
border-radius: 6px;
border: 1px solid var(--borderColor);
}

.btnSuccess {
padding: 15px 30px;
background-color: var(--textSuccess);
color: var(--white);
font-size: 14px;
font-family: var(--fontGraphikSemibold);
border-radius: 6px;
border: none;
transition: 0.2s ease-in-out;

&:hover {
  background-color: var(--textSuccessDark);
}
}
.formGroup{
  margin-bottom: 10px;
}
.formSelect{
  height: 44px !important;
  cursor: pointer;
}
.formfloating{
  padding-top: 0 !important;
  padding-bottom:0 !important ;

}
.btnDelete {
padding: 15px 30px;
background-color: var(--textDanger);
color: var(--white);
font-size: 14px;
font-family: var(--fontGraphikSemibold);
border-radius: 6px;
border: none;
transition: 0.2s ease-in-out;

&:hover {
  background-color: #db4b2e;
}
}

.btnOne:hover {
background-color: #0ab39c !important;
color: white !important;
}

.btnOne:hover .btnOneText {
color: rgb(251, 253, 253) !important;
cursor: pointer;
}

.btnTwo:hover {
background-color: rgb(233, 18, 18);
color: white;
}

.btnTwo:hover .btnTwoText {
color: white;
}

.btnOneText {
font-size: 14px;
}

.btnTwoText {
font-size: 14px;
}
.vehicleScroll{
height: 298px;
overflow: auto;
}
.listStyle {
width: 100%;
display: flex;
flex-flow: row;
flex-wrap: wrap;
gap: 10px;
min-height: 50px;
max-height: 298px;
overflow: auto;
/* justify-content: center; */
}

.checkStyle {
width: calc(100% / 4 - 8px);
border: 1px solid var(--borderColor);
padding: 10px 16px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 4px;
background-color: var(--white);
transition: 0.2s ease-in-out;



&:hover {
  background-color: var(--whitef5);

  .cityName {
    color: var(--black);
  }
}
}
.checkValue {
font-size: 13px;
color: var(--black);
font-family: var(--fontGraphik);
}
.searchGroup {
padding: 0px 0px 16px 0px;
}

.inputSearch {
font-size: 14px;
border: none;
background: var(--whitef5);
/* background-image: url(../../../assets//images/icons/iconSearch.svg); */
background-repeat: no-repeat;
background-position: 10px 15px;
background-size: 16px 16px;
border-radius: 6px;
width: 100%;
padding: 16px 16px 16px 32px;
transition: 0.2s;
font-family: var(--fontGraphik);
color: var(--lightBlack);

&:focus {
  background-position: 95% 15px;
  padding: 16px 32px 16px 16px;

  color: var(--black);
}
}

.userScroll {
height: calc(100vh - 173px);
overflow: auto;
}

/* Buttons */

.backBtn {
border: none;
background-color: transparent;
position: absolute;
left: 20px;
top: 22px;
}
.iconBack {
width: 22px;
height: 22px;
}
.backBtn:hover .iconBack {
filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7500%)
  hue-rotate(44deg) brightness(104%) contrast(107%);
}
.closeBtn {
border: none;
background-color: transparent;
position: absolute;
right: 12px;
top: 12px;
transition: 0.5s ease-in-out;
}
.closeImg {
width: 20px;
height: 20px;
}
.closeBtn:hover .closeImg {
filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(828%)
  hue-rotate(331deg) brightness(103%) contrast(88%);
}
.modalBody {
width: 100%;
}

.continueBtn {
align-items: center;
justify-content: center;
text-align: center;
font-size: 14px;
font-family: var(--fontGraphikSemibold);
background-color: var(--themeColor);
color: var(--white);
border: none;
height: 48px;
width: 100%;
border-radius: 6px;
margin-top: 20px;
}
.wardBtn {
display: flex;
gap: 10px;
margin: 10px 0;
justify-content: center;
}
.yesBtn {
background-color: var(--textSuccess);
color: var(--white);
align-items: center;
justify-content: center;
font-size: 14px;
font-family: var(--fontGraphikSemibold);
border: none;
height: 48px;
border-radius: 5px;
width: 200px;
display: flex;
&:hover {
  background-color: var(--textSuccessDark);
}
}


.noBtn {
background-color: var(--textDanger);
color: var(--white);
align-items: center;
justify-content: center;
font-size: 14px;
font-family: var(--fontGraphikSemibold);
border: none;
height: 48px;
border-radius: 5px;
width: 200px;
display: flex;
&:hover {
  background-color: var(--textDangerDark);
}
}

/* issue input box*/
.issueTextarea {
margin-bottom: 10px;
}
.issueBox {
height: 100px;
text-align: start;
resize: none;
margin-bottom: 0px;
&:focus {
  border: 1px solid var(--borderColor) !important;
}
}

.saveLoaderContainer {
display: flex;
align-items: center;
justify-content: center;
}

.loaderText {
color: white;
font-size: 16px;
text-transform: none;
}

.spinnerSave {
margin-right: 10px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}

100% {
  transform: rotate(360deg);
}
}

@media (max-width: 767.98px) {
.overlay {
  z-index: 1071;
}
.dialogbox {
  padding: 0px 16px;
  border-radius: 0px;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
}
.alertBox {
  justify-content: center;
}
.backBtn {
  left: 16px;
}
.closeBtn {
  right: 16px;
}
.headerDefaultGroup {
  margin-top: 20px;
}
.modalBody {
  padding: 0px;
  background-color: var(--white);
  border-radius: 0px;
  /* height: calc(100vh - 234px);
  overflow: auto; */
  padding-bottom: 20px;
}
.modalBody::-webkit-scrollbar {
  width: 0px;
}
.listStyle {
  min-height: 50px;
  max-height: 428px;
  overflow: auto;
}
.vehicleScrollMob{
  max-height: max-content;
}
.vehicleScroll{
  height: calc(100vh - 260px);
  overflow: auto;
}
.checkStyle {
  width: calc(100% / 2 - 10px);
}
.checkValue {
  font-size: 14px;
}
.btnSuccess,
.btnCancel,
.btnDelete {
  padding: 15px 15px;
}

.msgText {
  font-size: 14px;
}

.inputSearch {
  background-position: 10px 15px;
  padding: 15px 16px 15px 32px;

  &:focus {
    background-position: 95% 15px;
    padding: 15px 32px 15px 16px;
  }
}

.searchGroup {
  display: none;
}

.userListTitle {
  display: block;
}

.userScroll {
  height: calc(100vh - 360px);
  overflow: auto;
}
}
.action{
  margin-top: 20px;
  width: 100%;
}
.dialogbox2{
  width: 490px;
}
.btnSave {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  &:hover {
    background-color: var(--themeColorDark);
  }
}
.mobileBody{
  flex-grow: 1;
}

@media (max-width : 767.98px){
  .action{
      margin-bottom: 20px;
  }
}


.close_popup {
  filter: brightness(0) saturate(100%) invert(0%) sepia(86%) saturate(7443%) hue-rotate(220deg) brightness(105%) contrast(84%);
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.close_popup:hover {
filter: brightness(0) saturate(100%) invert(28%) sepia(51%) saturate(2305%) hue-rotate(345deg) brightness(93%) contrast(94%);
}

/* .selectOwner {
color:  #b6b6b6 !important; 
} */

.userRight {
width: 250px;
position: fixed;
left: 0px;
top: 70px;
height: calc(100vh - 70px);
}
.userPage {
width: 100%;
display: flex;
}
.userLeft {
width: calc(100% - 240px);
margin-left: 250px;
/* width: 100%; */
}
@media (max-width: 767.98px){
.userLeft {
    width: 100%;
    margin-top: 80px;
    margin-left: 0px;
}
.userRight{
  width: 100%;
  position: fixed;
  right: 0px;
  top: 70px;
  background: white;
  padding: 10px 16px;
  height: auto;
  border-bottom: 1px solid var(--borderColor);
  z-index: 3;
}
.orderFirst{
order: 1;
}
.orderSecond{
order: 2;
}

}
