.AddUser_button {
    position: fixed;
    right: 14px;
    bottom: 50px;
}

.AddUser_button2 {
    position: fixed;
    right: 14px;
    bottom: 50px;
}

.icon_add_user {
    font-size: 15px;
}

.custom_small_btn {
    background-color: #5eb1f4;
    color: white;
    border-radius: 10%;
    border: #5eb1f4;
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.custom_small_btn:hover {
    background-color: #5eb1f4;
    color: white;
}

.details {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* width: 360px; */
    height: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: -10px;
}
.details2{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: -10px;
}

