/* PeopleDetails.module.css */


.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.Details {
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
}
.Details p{
    margin-bottom: 10px;
}

.icon {
    color: #007bff;
    margin-right: 10px;
    font-size: 1.2rem;
    vertical-align: middle;
}

strong {
    font-weight: 600;
    color: #333;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.iconGroup {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: 10px; */
    cursor: pointer;
    /* margin-left: 300px; */
    transition: all 0.3s ease-in-out;
}

.manager {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;

}

.action {
    display: flex;
    justify-content: space-between;
}

.iconGroup .icon {
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.managerToggle {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.managerToggle label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.toggle {
    width: 30px;
    height: 18px;
    background-color: #ccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle.on {
    background-color: #4CAF50;
}

.toggle.off {
    background-color: #ecbaba;
}

.toggleCircle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: left 0.3s ease;
}

.toggle.on .toggleCircle {
    left: 15px;
}

.toggle.off .toggleCircle {
    left: 3px;
}


/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin: 10px;
    }

    .header {
        font-size: 1.2rem;
    }

    span {
        font-size: 0.9rem;
    }
}
.Input {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.customAvatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}