.modal {
  width: 615px;
}
.iconDown {
  width: 12px;
  height: 7px;
}
.modalBodyMain {
  display: flex;
}
.modalBodyLeft {
  width: 125px;
  background-color: var(--whitefa);
  display: flex;
  flex-flow: column;
  height: 400px;
  overflow: auto;
}
.dateCell {
  padding: 10px 30px;
  transition: 0.3s ease-in;
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  &:hover {
    background-color: #3fb2f114;
    color: var(--black);
  }
}
.dateCell.selected{
   background-color: #3fb2f114;
     color: var(--darkBlack);
}
.modalBodyRight {
  width: calc(100% - 125px);
}
.modalBodyTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--borderColor);
}

.modalBodyTopLeft {
  width: 50%;
  display: flex;
  align-items: center;
}

.imageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;

  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  background-color: var(--white);
  border: 2px solid var(--borderColor);
  overflow: hidden;
}

.defaultImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  /* border-radius: 6px; */
}
.Img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  background-color: var(--white);
  border: 2px solid var(--borderColor);
  overflow: hidden;
}

.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inOutLabel {
  font-size: 11px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.inOutInfo {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.inOutTime {
  font-size: 14px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.modalBodyTopRight {
  width: 50%;
  display: flex;
  align-items: center;
}

.modalBodyMiddle {
  padding-bottom: 16px;
  display: flex;
}

.modalBodyUl {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.modalBodyLi {
  list-style-type: none;
  display: flex;
  width: 50%;
  align-items: center;
  padding-bottom: 10px;
}

.iconCalendar {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(47%) sepia(7%) saturate(137%)
    hue-rotate(314deg) brightness(91%) contrast(86%);
}

.iconPending {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(66%) sepia(15%) saturate(6539%)
    hue-rotate(358deg) brightness(101%) contrast(99%);
}

.iconApproved {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(437%)
    hue-rotate(122deg) brightness(90%) contrast(98%);
}

.modalBodyFooter {
  padding-top: 20px;
  border-top: 1px solid var(--borderColor);
  display: flex;
}

.btnModification {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
  font-family: var(--fontGraphikSemibold);
  color: var(--themeColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  &:hover {
    color: var(--themeColor);

    .iconModify {
      filter: brightness(0) saturate(100%) invert(58%) sepia(68%)
        saturate(1191%) hue-rotate(173deg) brightness(100%) contrast(89%);
    }
  }
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 310px;
  width: 100%;
}

.imgHoliday {
  width: 80px;
  margin-bottom: 16px;
}
.noDataHeader {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  text-align: center;
}
.noDataText {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  text-align: center;
}
