.card {
  background: var(--white);
  border-radius: 6px;
  padding: 16px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.cardTitle {
  font-size: 15px;
  font-family: var(--fontGraphikMedium);
  color: var(--black);
}

.btnLeave {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}

.cardBody {
  max-height: 400px;
  overflow: auto;
}

.name {
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 18px;
  color: var(--black);
  position: relative;
  font-family: var(--fontGraphikMedium);
}
