.leaveCard {
  background-color: var(--whitefa);
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 5px;
  transition: 0.3s;
  &:hover {
      background-color: #3fb2f110;
    .iconNext {
      visibility: visible;
    }
  }
}
.leaveTypeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leaveTypeRowTwo {
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 10px;
}
.leaveType {
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  color: var(--black);
}
.iconNext {
  width: 12px;
  visibility: hidden;
  cursor: pointer;
  &:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(27%) saturate(5606%)
      hue-rotate(173deg) brightness(95%) contrast(98%);
  }
}
.appliedDate {
  font-size: 12px;
  color: #707070;
  font-family: var(--fontGraphik);
}
.textMuted {
  font-size: 10px;
  color: var(--gray);
}
.approvedBy {
  font-size: 10px;
  color: #707070;
  font-family: var(--fontGraphik);
}
.noData {
  height: 300px;
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.noHoliday{
  height: 60px;
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  background: white;
}

.cardLarge {
  margin-bottom: 20px;
  width: 320px;
  height: auto;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
}

label {
  font-size: 11px;
  display: block;
  /* margin-top: 5px; */
  text-align: left;
}

.row {
  display: flex;
  /* gap: 150px; */
  /* justify-content: space-between; */
}
