.radioWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  transition: border 0.2s ease;
}

/* Hide the actual radio input */
.radioInput {
  display: none;
}

/* Default radio appearance */
.customRadio {
  height: 16px;
  width: 16px;
  border: 1.5px solid var(--gray);
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* Dot inside the selected radio */
.radioInput:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: var(--themeColor);
  border-radius: 50%;
}

/* Add themeColor border on selected radio */
.radioInput:checked + .customRadio {
  border-color: var(--themeColor);
}

/* Default label style */
.radioLabel {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  transition: color 0.2s ease-in-out;
  &:hover{
      color: var(--darkBlack);
  }
}

/* Change label color to black if selected */
.radioInput:checked + .customRadio + .radioLabel {
  color: black;
}

.labelLeave {
  font-size: 11px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.leaveRow {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.leave50 {
  width: auto;
}
.leaveTypeRow {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.leaveTypeCard {
  display: flex;
  align-items: center;
  width: calc(100% / 3 - 10px);
  /* width: auto; */
  line-height: 0px;
}
.formCheckLabel {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}


.customCheckboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: calc(100% / 3 - 10px);
}

.customCheckboxInput {
  display: none;
}

.customCheckbox {
  width: 15px;
  height: 15px;
  border: 1.5px solid var(--gray);
  border-radius: 2px;
  position: relative;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.customCheckboxInput:checked + .customCheckbox {
  border-color: var(--themeColor);
  background-color: var(--themeColor);
}

.customCheckboxInput:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckboxLabel {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
    &:hover{
      color: var(--darkBlack);
  }
}

.customCheckboxInput:checked + .customCheckbox + .customCheckboxLabel {
  color: var(--black);
}
