.CardBox {
  box-shadow: 0 10px 20px 0 #e5e5e5;
  background-color: var(--white);
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.borderSpinner {
  color: var(--white);
}

.punchMain {
  width: 110px;
  height: 110px;
  box-shadow: 0 10px 20px 0 #0000000f;
  border: 1px solid var(--borderColor);
  background-color: var(--white);
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 8px;
  position: relative; /* Make this the reference for absolute positioning */
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeafultImg {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
}

.cameraIcon {
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: var(--white);
  border-radius: 6px;
  padding: 2px;
  box-shadow: 0 10px 20px 0 #0000000f;
  cursor: pointer;
  border: 1px solid var(--borderColor);
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .punchMain { */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* width: 110px;
    height: 110px;
    box-shadow: 0 10px 20px 0 #0000000f;
    border: 1px solid var(--borderColor);
    background-color: var(--white); */
/* padding: 0px; */
/* border-radius: 6px;
    margin-top: 16px;
    margin-bottom: 8px; */
/* } */

/* .DeafultImg {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
}

.cameraIcon{
    width: 18px;
    height: 18px;
    object-fit: cover;
} */

.BoxBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 16px;
  background-color: var(--white);
  border-radius: 6px;
  margin-bottom: 10px;
}

/*** Welcome Message CSS Starts Here ***/
.welcomeHeader {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 16px;
}

.welcomeName {
  font-size: 11px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.sessionFormat {
  font-size: 20px;
  color: var(--black);
  font-family: var(--fontGraphikSemibold);
}

.date {
  font-size: 11px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.button {
  padding: 10px 14px;
  background-color: var(--themeColor);
  /* background: linear-gradient(#57c3fe, #3291ce); */
  width: 105px;
  height: 80px;
  border-radius: 6px;

  &:hover {
    background-color: var(--themeColorDark);
    color: var(--white);
  }
}

.PunchInBox3 {
  margin-bottom: 10px;
}

.punchInBox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btnText {
  font-size: 11px;
  color: var(--white);
  font-family: var(--fontGraphik);
}

.PunchIcon {
  width: 34px;
  margin-bottom: 5px;
}

.pinchIn {
  text-align: center;
  object-fit: cover;
}

.timeView {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.puchName {
  font-size: 11px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.holidayBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  margin-top: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.holidayBox {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.holidayHead {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}

.holidayBoxes span {
  font-size: 14px;
  color: #3a94f5;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
