.branchPage{
  padding-top: 60px;
  display: flex;
  width: 100%;
}
.branchRight{
  width: calc(100% - 360px);
}

.branchLeft {
  width:360px;
  -webkit-box-shadow: 1px 0 0 0 #f1f1f1;
    -moz-box-shadow: 1px 0 0 0 #f1f1f1;
    box-shadow: 1px 0 0 0 #f1f1f1;

}
.addButton {
  position: fixed;
  bottom: 44px;
  right: 44px;
  background-color: #3fb2f1;
  border: none;
  border-radius: 10%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}


.addButton:hover {
  background-color: #3aa6e0;
}

.iconAddUser {
  pointer-events: none; /* Prevent interaction with the icon itself */
}

@media (max-width: 1191.98px) {
  .mainPage {
    padding: 0px !important;
  }
}

