.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 360px;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: -10px;
}

.selection {
  width: auto;
  height: auto;
  position: relative;
}

.btnToggle {
  width: 26px !important;
  height: 16px;
  margin: auto;
  border: var(--themeColor);
  background-color: #e7e7e7;
}

.userListLeft {
  display: flex;
  align-items: center;
}

.userStatus {
    margin-top: 7px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 200px;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.iconGroup {
  display: flex;
  gap: 10px;
}

.iconGroup .icon {
  font-size: 18px;
  cursor: pointer;
  color: gray;
}

.iconGroup .icon:hover {
  color: black;
}
