.mapContainer {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative
  }
  
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
    .mapStyle{
    width: 100%;
    height: 100%;
  }
  