.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--transparentBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.dialogbox {
  background: var(--white);
  padding: 40px 30px;
  border-radius: 6px;
  width: 650px;
  display: flex;
  box-shadow: 0 2px 10px #0000001a;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.actionBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerDefaultGroup {
  margin-top: -90px;
  width: 130px;
  height: 110px;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderColor);
  margin-bottom: 15px;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.headerText {
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
}

.formGroup {
  margin-bottom: 15px;
}

.closeBtn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 22px;
  transition: 0.5s ease-in-out;
}

.issueTextarea {
  margin-bottom: 10px;
}

.dialogbox2 {
  width: 550px;
}

.btnSave {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  &:hover {
    background-color: var(--themeColorDark);
  }
}

.close_popup {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
}

.close_popup:hover {
  color: #3fb2f1;
}
