:root {

    /**** Font Family Variables ***/
    --fontGraphik: 'Graphik-Regular';
    --fontGraphikSemibold: 'Graphik-Semibold';
    --fontGraphikMedium: 'Graphik-Medium';
    --fontGraphikBold: 'Graphik-Bold';

    /**** Color Variables ***/
    --darkBlack: #000000;
    --lightBlack: #424242;
    --black: #212121;
    --transparentBlack: #00000095;

    --gray : #757575;
    --lightGray : #cccccc;

    --borderColor: #eeeeee;

    --white: #ffffff; 
    --whitefa: #fafafa;  
    --whitef5: #f5f5f5;
    --regularColor: #707070;
    --themeColor: #3fb2f1;
    --themeColorDark: #0a6fa5;

    --textDanger: #f06548;
    --textDangerTransparent: #f0654818;
    --textDangerDark: #c43c21;
    --textSuccess: #0ab39c;
    --textSuccessDark: #0b8f7d;
    /* --pending: #dda10b; */
    --pending: #f06548;

  }