.uploadWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.uploadRow {
  display: flex;
  gap: 12px;
  align-items: center;
}

.fileInput {
  display: none;
}

.uploadArea {
  flex: 1;
  /* height: 90px; */
  padding: 40px 20px;
  border: 2px dashed var(--borderColor);
  border-radius: 4px;
  background: rgba(249, 250, 251, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.uploadArea:hover {
  border-color: var(--themeColor);
  background: #4facfe0d;
}

.uploadAreaSuccess {
  border-color: var(--textSuccess);
  background: var((--gradientTheme));
  width: 110px;
  height: 110px;
  flex: inherit;
  border-width: 1px;
  border-radius: 4px;

  border-color: var(--themeColor);
}

.uploadIcon {
  width: 52px;
  height: 52px;
  background: var(--gradientTheme);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 18px;
}

.uploadText {
  font-size: 13px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
}

.uploadSubtext {
  font-size: 11px;
  color: #9ca3af;
}

.uploadSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successIcon {
  width: 40px;
  height: 40px;
  background: var(--gradientTheme);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-bottom: 6px;
  font-weight: bold;
}

.fileName {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 6px;
}

.changeBtn {
  padding: 6px 14px;
  background: transparent;
  border: 2px solid #4facfe;
  border-radius: 4px;
  color: #4facfe;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.changeBtn:hover {
  background: #4facfe;
  color: #fff;
}

.previewBox {
  width: 110px;
  height: 110px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.previewImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 4px;
}

.uploadAreaActive {
  border-color: #4facfe;
  background: rgba(79, 172, 254, 0.05);
  transform: scale(1.02);
}
.btnContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
