.toggleCard {
  background: var(--white);
  border-radius: 6px;
  padding: 16px;
  width: 370px;
}

.headingLabel {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  margin-bottom: 16px;
}
.toggleRow {
  background-color: var(--whitefa);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.toggleLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.toggleIcon {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  border: 1px solid var(--borderColor);
  svg {
    color: var(--regularColor);
  }
}
.textLabel {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
}

/* Toggle Switch */
.toggleSwitch {
  position: relative;
  width: 40px;
  height: 22px;
  background-color: #ccc;
  border-radius: 26px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  outline: none;
}

.toggleSwitch.active {
  background: var(--gradientTheme);
}

.toggleSlider {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.toggleSwitch.active .toggleSlider {
  transform: translateX(15px);
}

/* Ward map row */
.wardMapRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add button */
.addBtn {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: var(--gradientTheme);
  color: var(--white);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .toggleCard {
    width: 100%;
  }
}
