@import '../css/variables.css';

.redDot {
  width: 5px;
  height: 5px;
  background-color: rgb(255, 138, 138);
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.userListTitle {
  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
  padding: 12px 16px;
  display: none;
}

.pageDropdown {
  height: calc(100vh - 270px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.employeeName {
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
}

.editIconWrapper {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  padding: 2px;
}

.dropdownItem:hover .editIconWrapper {
  opacity: 1;
}

.noUserData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 340px);
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--lightBlack);
}

.noUserImg {
  height: 88px;
  margin-bottom: 15px;
}

.loaderContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cityLoaderWrapper {
  position: relative;
  width: 45px;
  height: 45px;
}

.cityLoader {
  width: 100%;
  height: 100%;
  border: 3px solid #b7e7c2;
  border-top-color: #41c26f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.centerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
