.box {
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid var(--borderColor);
  margin-bottom: 10px;
  width: 310px;
  box-shadow: 0 2px 8px #0000000f;
}
.boxHeader {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  border: 1px solid var(--borderColor);
}
.preset {
  width: 33.33%;
  padding: 20px 16px;
  background-color: var(--white);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  text-align: center;
}
.count {
  font-size: 18px;
  color: #1f9c47;
  font-family: var(--fontGraphikMedium);
}
.Absent {
  width: 33.33%;
  padding: 20px 16px;
  background-color: var(--white);
  text-align: center;
  border-left: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
}
.countAbsent {
  font-size: 18px;
  color: #cc4040;
  font-family: var(--fontGraphikMedium);
}

.Hour {
  width: 33.33%;
  padding: 20px 16px;
  background-color: var(--white);
  /* border-radius: 6px; */
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  position: relative;
}
.countHrs {
  font-size: 18px;
  color: #2ebee9;
  font-family: var(--fontGraphikMedium);
}
.CountName {
  font-size: 11px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}
.convartHr {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.monthHeading {
  font-size: 15px;
  font-family: var(--fontGraphikMedium);
  color: var(--black);
}
.Icon {
  width: 12px;
  transform: rotate(-90deg);
}
.Icon2 {
  width: 12px;
  transform: rotate(90deg);
}
.PrevBtn {
  /* background-color: var(--whitef5); */
  display: flex;
}
.Icon3 {
  width: 14px;
}

@media (max-width: 767.98px) {
  .employeeSelection {
    width: 100% !important;
  }
  .box{
    width: 100%;
    margin-bottom: 80px;
  }
}
