.Detailscard {
  background-color: var(--white);
  border-radius: 6px;
  padding: 16px;
  width: 310px;
  position: relative;
  box-shadow: 0 2px 8px #0000000f;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e9ebec; */
  padding: 0px 0px;
  font-family: Poppins;
  font-size: 14px;
  margin-bottom: 16px;
}

.heading {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}

.listLine {
  margin-bottom: 0px;
  padding-left: 0px;
}
.Scroll_List {
  min-height: 40px;
  max-height: calc(100vh - 235px);
  overflow: auto;
}

.list_item {
  background-color: var(--whitefa);
  border-bottom: 1px solid var(--borderColor) !important;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  width: 100%;
}

.list_item:nth-last-child(1) {
  border-bottom: none !important;
}

.foundNot {
  height: 80px;
}

.edit_icon {
  width: 13px;
  color: #555;
  cursor: pointer;
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}
.searchWrapper {
  height: 18px;
}
.searchInput {
  border: none;
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.searchIcon {
  cursor: pointer;
}
.closeIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.dropdownItemNot {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--regularColor);
  gap: 4px;
  margin-top: -40px;
}
.notFoundImg {
  width: 75px;
}
/************ Media Query Starts Here ************/
@media (max-width: 767.98px) {
  .Detailscard {
    width: 100%;
  }
  .Scroll_List {
    max-height: 300px;
  }
  .listLine {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  /* .list_item{
    width: calc(100% / 2);
  } */
}
