/* Container Styling */
.container {
    background-color: #ffffff;
    max-width: 350px;
    padding: 30px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Input {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.customAvatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
