.hideDesktop {
  display: none;
}
.yearName {
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
  margin: 0px;
}
.pageDropdown {
  height: calc(100vh - 60px);
  width: 220px;
}
.listTitle {
  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
  padding: 12px 16px;
  display: none;
}

.noDataView {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.noDataImg {
  width: 120px;
  margin-bottom: 8px;
}
.noDataText {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

@media (max-width: 767.98px) {
  .hideDesktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .listTitle {
    display: block;
  }
  .pageDropdown {
    width: 100%;
  }
}
