.boxDetails {
  padding: 10px 16px;
  width: 100%;
  background-color: var(--white);
  border-radius: 6px;
}

.boxHeader {
  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}


.rowItem {
  background-color: var(--whitefa);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 4px;
}

.rowItem:hover {
  background-color: #3fb2f108;
}

.active {
  background-color: #e0f7fa;
}


.amount {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  color: var(--darkBlack);

}

.iconRupee {
  width: 14px;
}

.catText {
  width: calc(100% - 90px);
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--darkBlack);
}

.rowItem {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--darkBlack);
}

.columnBox {
  max-height: calc(100vh - 155px);
  min-height: 50px;
  overflow: auto;
}

.expensePopupOverlay {
  background-color: aqua;
  position: absolute;
  z-index: 11;
  width: 100%;
}



.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.actionBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 30px;
  box-shadow: 0 8px 20px 0 #0000000a;
}

.actionBtn h3 {
  font-size: 18px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikSemibold);
  word-break: break-word;
}

.iconClose {
  width: 18px;
  cursor: pointer;

}

.iconClose:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(828%) hue-rotate(331deg) brightness(103%) contrast(88%);
}


.modalBody {
  padding: 30px;
}

.detailsView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  margin-bottom: 0px;
}
.expenseListText{
    display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);
  margin-bottom: 10px;
}

.fileUploadGroup {
  display: flex;
  width: 100%;
  padding: 4px 10px 4px 4px;
  margin-bottom: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  transition: 0.3s;

  &:hover {
    background-color: var(--whitef5);

    .iconFileAction {
      opacity: 1;
    }

    .filePreviewBg {
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 8px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAWCAYAAAA8VJfMAAAACXBIWXMAAAsSAAALEgHS3X78AAACP0lEQVRIiZVWi3HbMAx98QJJJog2sDaIO0HdCeJOUKEcoOoAOigTVJ6g7gSRJ6i7gTtB3QncQ+7RgWVScnHn44km8PDwI2+OxyOmRCQUAFYAFgBKALdO5S+AHYAewEa12U3ZGwUVCQZSA3ic9OxNtqaj2vT/BSoS7gB0AN677R/GxFh5NiKhJHtz8GkAvlRtDpOgNGLGH7j1TM8vlDPOVgC+cMtCvxiG/AyUgD1z9svyeE2OEuAlIzVPAZ9A6eXeAS5y7Hi2ZKjHzvQOuFRtzD5m7txmCtAYiAQz9AfAi60iYceCOxPqL2jvlsxxAhUJS1ehqxwgPY/ntlyNyQttpICXZPooElaeac3160gOYySsiu9VG2NxD2DN/7uUEkPaepybqvpsDH7SmyLDcsFwJs+IhD2r/V2qPwf18mFG+uA0mWqLXOFsuF7kFm9hjpEoZ/QgqzCQu8x+wXWf+d/bP8zopYXtIVWFlJjneSyGKNSJkys5+nhmzs/utU9FQs0p8lu1KTKKVgyf+Lkmq8KNvmfVpsro7gi6Vm1WsXpbx7ZNKdJgrNQnOhkB1yOAtRsQr2f8RLKC+s6zH1WbZAuwX31P9rkbhan4NrQ5nL0+hNazdcrYNSISjJW6SJxqIXXLdC5sW06osaoc6hdMVyyuM8AkqAtL614Ilst27MZh2KvBnSqqzUWNZF8O9LgbvBri08R+B/ZtmXjCWISqnJOTbyTHwIrHGx6KOWQ93409Va4CTThgEbA1irHZX33ZA/gHpoQvKf2+iAYAAAAASUVORK5CYII=);
        background-size: cover;
        width: 21px;
        height: 16px;
    
    }
  }

  .iconFileType {
    display: none;
  }
}
}

.fileUploadLeft {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
}

.filePreviewBg {
  background-color: transparent;
  border-radius: 6px;
  /* border: 1px solid var(--borderColor); */
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 4px;
  transition: 0.3s;
}

.uploadFileInfo {
  width: calc(100% - 50px);
}

.iconFileType {
  width: 22px;
  height: 22px;
}

.uploadFileTitle {
  font-size: 13px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}