.Detailscard {
  background-color: var(--white);
  border-radius: 6px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}
.user_count {
  font-size: 12px;
  color: #000;
  font-family: var(--fontGraphikMedium);
  margin-top: 6px;
}
.Icon {
  width: 13px;
}
.Icon2 {
  width: 13px;
}
.Icon:hover {
  filter: brightness(0) saturate(100%) invert(47%) sepia(77%) saturate(1520%)
    hue-rotate(162deg) brightness(99%) contrast(101%);
}
.View_icon {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.headingDepartent {
  font-size: 15px;
  color: var(--darkBlack);
  font-family: var(--fontGraphikMedium);
}

/* mobile responsive */
@media (max-width: 576px) {
  .card_header {
    background-color: #48b54920;
  }
}

.statusbtn2 {
  padding: 0px;
  margin-left: 10px;
}
