.dropDown {
    display: flex;
    align-items: center;
    position: relative;
  }
  .dropdownBtn {
    border: none;
    background: #ffffff00;
    padding: 4px 0px;
    border-radius: 6px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-size: var(--fontGraphik);
  }
 .Icon {
    transition: 0.2s;
    transform: rotate(90deg);
  }
  .Icon{
    width: 10px;
  
    
  }
  .iconWidth {
    width: 10px;
    display: flex;
    align-items: center; /* Center icon vertically */
}
  .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .employee{
   margin-right: 10px;
  }

  .dropdownMenu {
    padding: 0px;
    border: none;
    box-shadow: 0 10px 20px 0 #e5e5e5;
    z-index: 1000;
    background-color: var(--white);
  }
  
  .dropdownMenu::-webkit-scrollbar {
    width: 5px;
    background: #ffffff;
  }
  
  .dropdownMenu::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .dropdownMenu::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  
  .dropdownMenu:hover::-webkit-scrollbar-thumb {
    background: var(--themeColor);
  }
  
  .dropdownDesktop {
    list-style: none;
    padding: 0px;
    height: calc(100vh - 118px);
    overflow: auto;
  }
  .departmentName{
    font-size: 13px;
    color: var(--black);
    font-family: var(--fontGraphik);
    margin: 0px;
    /* padding: 0px 14px;
    border-radius: 14px; */
   
  }
  .overlay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 4px;
    cursor: pointer;
  }


  .dropdownLi:hover{
    background-color: var(--whitef5);
  }
  .dropdownItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 12px;
    background-color: var(--white);
    /* border-radius: 4px; */
  
    &:hover {
      background-color: var(--whitef5) ;
  
      .cityInfo {
        color: var(--black);
      }
  
      .userInfo {
        color: var(--black) ;
      }
    }
    &:active{
        color: var(--black) ;
    }
  }
  .hideDesktop {
    display: none;
  }
  .dropdownItemNot{
    height: calc(100vh - 220px);
    font-size: 12px;
    color: var(--gray);
    font-family: var(--fontGraphik);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

  }
  .foundNot{
    height: 80px;
  }


  @media (max-width: 767.98px) {
    .pMobile {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .header {
      flex-direction: column;
    }
    .Icon{
display: none;
      
    }
  
    .headerLeft {
      width: 100%;
    }
  
    .headerRight {
      width: 100%;
      justify-content: flex-start;
    }
  
    .hideDesktop {
      display: flex;
    }
  
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #00000090;
    }
  
    .dropdownLi {
      &:nth-last-child(1) {
        margin-bottom: 125px;
      }
    }
  
    .userListTitle {
      display: block;
    }
  
    .listScroll {
      height: calc(100% - 165px);
      overflow: auto;
    }
  
    .dropdownDesktop {
      position: fixed;
      top: 40%;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100vh - 40vh);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      overflow: hidden;
      animation: slideUp 0.3s ease-out forwards;
    }
  
    @keyframes slideUp {
      from {
        transform: translateY(100%);
      }
  
      to {
        transform: translateY(0);
      }
    }
  
    .floatingDiv {
      z-index: 2;
    }
  }