.ProjectMainPage {
    display: flex;
    width: 100%;
    margin-top: 60px;
  }
  .userLeft {
    width: 250px;
  }
  .userRight {
    width: calc(100% - 250px);
    padding: 10px 10px;
    height: calc(100vh - 60px);
    overflow: scroll;
  }
  
  @media (max-width: 767.98px) {
    .userLeft {
      width: 100%;
      position: fixed;
      left: 0px;
      right: 0px;
      top: 60px;
      background: var(--white);
      padding: 10px 16px;
      height: auto;
      border-bottom: 1px solid var(--borderColor);
      z-index: 2;
    }
  }
  