.commonBox {
    padding: 16px 16px;
    border-radius: 6px;
    background-color: var(--white);
    width: 100%;
    margin-bottom: 10px;
  }
  .commonBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .headerTitle {
    font-size: 15px;
    color: var(--black);
    font-family: var(--fontGraphikMedium);
  }
  .btnEdit{
    border: none;
    background-color: transparent;
    padding: 0px;
  }
  .iconEdit {
    width: 16px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      filter: brightness(0) saturate(100%) invert(65%) sepia(57%) saturate(6247%)
        hue-rotate(164deg) brightness(102%) contrast(102%);
    }
  }
  .listUL {
    padding: 0px;
    margin: 0px;
  }
  .listRow {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    &:nth-last-child(1) {
      padding-bottom: 0px;
    }
  }
  .detailsLeft {
    margin-right: 15px;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  .iconCommon {
    width: 16px;
  }
  .detailsRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    color: var(--black);
    font-family: var(--fontGraphik);
    word-break: break-word;
  }
  .label{
    font-size: 11px;
    color: var(--gray);
    font-family: var(--fontGraphik);
  }

  .statusbtn {

    color: #0ab350;
}

.statusbtn:hover {
    color: #0ab350
}

.statusbtn3 {
    
    color: #db2938;
}

.statusbtn3:hover {
    color: #db2938
}

.statusbtn4 {
    color: #0ab350;
}

.statusbtn4:hover {
    color: #0ab350
}
.statusbtn5 {
    /* padding: 3px 9px 3px 9px; */
    /* background-color: #f0644818; */
    /* font-size: 12px;
    font-weight: 400; */
    color: #f06548;
    /* border-radius: 4px; */
}

.statusbtn5:hover {
    color: #f06548
}