@import "../../css/variable.css";
@import "../../css/fonts.css";
@import "../../css/normalize.css";

.subTaskBox {
  background-color: var(--white);
  border-radius: 6px;
  /* box-shadow: 0px 4px 8px #0000000d; */
  margin-bottom: 10px;
  overflow: hidden;
}
.tableSubTask{
  height: calc(100vh - 210px);
  overflow: auto;
}
.TaskNot{
  height: 70vh;
}
.subTaskBoxHeader {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 16px;
}
.subTaskTile {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.subTaskAddBtn {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  &:hover{
    background-color: var(--themeColor);
    color: var(--white);
  }
}
.iconEye{
  width: 16px;
  height: 16px;
}

.ownerBG{
  width: 34px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--darkBlack);
  font-family: var(--fontGraphik);
}
/** No Data Available **/
.noData {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.noDataImg {
  width: 110px;
  margin-bottom: 10px;
}
.noDataText {
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}


/**  Loader **/

.loaderContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--themeColor);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
.loaderText{
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}

.subTaskBoxFooter{
  width: 100%;
  /* padding: 16px 16px; */
  background-color: var(--white);
  text-align: center;
  position: relative;
  position: relative;
  border-radius: 6px;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.tableTask tbody tr {
  padding: 6px 16px;
  cursor: pointer;
}
.tableTask tbody tr td{
  padding: 6px 16px;
}