@import "../../assets/css/variable.css";

.iconEdit {
  width: 14px;
  position: absolute;
  top: 20px;
  right: 12px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    filter: brightness(0) saturate(100%) invert(61%) sepia(69%) saturate(1458%)
      hue-rotate(172deg) brightness(98%) contrast(92%);
  }
}
.iconEye{
    width: 18px;
    position: absolute;
    top: 16px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      filter: brightness(0) saturate(100%) invert(61%) sepia(69%) saturate(1458%)
        hue-rotate(172deg) brightness(98%) contrast(92%);
    }
}
.iconDefault{
  width: 16px;
  position: absolute;
  top: 19px;
  left: 12px;
  transition: 0.3s;
}
:global(.form-control:focus) + label + img {
  filter: brightness(0) saturate(100%) invert(61%) sepia(69%) saturate(1458%)
  hue-rotate(172deg) brightness(98%) contrast(92%);
}
/*** CSS Starts Here ***/
.companyLogo {
  margin-bottom: 8px;
  width: 100px;
}
.logoText {
  font-size: 10px;
  color: var(--lightBlack);
  font-family: var(--fontGraphikMedium);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.titleText {
  font-family: var(--fontGraphiK);
  font-size: 16px;
  color: var(--darkBlack);
  margin-bottom: 30px;
}
.pageTitle {
  color: var(--white);
  font-size: 32px;
  font-family: var(--fontGraphikBold);
}
.pageInfo {
  color: var(--white);
  font-size: 16px;
  font-family: var(--fontGraphik);
}
/*** CSS Ends Here ***/

.login100_form_title {
  width: 100%;
  display: block;
  padding-bottom: 30px;
}

.login100_form_title_para {
  font-family: var(--fontGraphikMedium);
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #93979b;
}

.login100_form_title_head {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #405189;
  font-family: var(--fontGraphikBold);
  font-size: 28px !important;
}

.wrap_input_effects {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input_green {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  display: block;
  width: 100%;
  background-color: #fff;

  padding: 10px 13px !important;
  border-radius: 4px;
  border: 1px solid #ced4da !important;
}

.login_btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.float_end a {
  color: #878a99 !important;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
}

input:focus {
  outline: none;
}

.bg-section {
  margin-left: 80px !important;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: grey;
  margin: 0 10px;
}

.account_items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.otpcard {
  margin-bottom: 0px;
  text-align: center;
}

.input_control {
  display: block;
  width: 12%;
  align-items: center;
  padding: 0.5rem 0.9rem;
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: sans-serif;
  background-color: white;
  appearance: none;
  border-radius: 0.35rem;
  border: 1px solid #ced4da;
  line-height: 1.5;
  height: 60px;
  margin: 4px;
}

.circle_background {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* margin: auto; */
  background-color: aliceblue;
  margin-bottom: 18px;
}

.done_card {
  padding-bottom: 7.5rem;
}

.loader_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.wrapper {
  /* display: grid;
  grid-template-rows: 3fr; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 12%;
}

@media (max-width: 991px) {
  .wrapper {
    position: absolute;
    right: 43%;
    top: 45%;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0ab39c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.loader_text {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Loginloadercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerLogin {
  margin-right: 10px;
  animation: spin 1s linear infinite;
}

.loaderText {
  color: white;
  font-size: 13px;
  text-transform: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
