.container {
    padding: 20px;
    overflow: auto;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateBox {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.dateBox input {
    width: 100%;
    padding: 10px 35px 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
     cursor: pointer;
}

.calendarIcon {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #444;
}

.rightButtons {
    display: flex;
    gap: 10px;
    position: relative;   /* REQUIRED for dropdown anchor */
}
.sortBtn {
    background: #0d8f3c;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.exportBtn {
    background: #077bff;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.tableContainer {
    margin-top: 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.table th {
    padding: 10px;
    background: #f1f1f1;
    font-weight: 600;
    border: 1px solid #ddd;
}

.table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.remark {
    max-width: 250px;
    white-space: normal;
    word-wrap: break-word;
}

.sortDropdown {
    position: absolute;
    top: 100%;        /* Drop exactly below Sort button */
    right: 90%;         /* Align to right side */
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 240px;
    z-index: 9999;
    padding: 6px 0;
    margin-top: 6px;  /* Small gap below button */
}


.sortItem {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}

.sortItem:hover {
    background: #f7f7f7;
}

.sortUpIcon {
    color: red;
}

.sortDownIcon {
    color: green;
}