.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  padding: 10px;
  position: relative;
  z-index: 3;
}

.dateBox {
  position: relative;
}

.dateBox input {
  cursor: pointer;
  width: 100%;
  padding: 10px 10px 10px 12px;
  background-color: var(--white);
  border: 2px solid var(--borderColor);
  border-radius: 4px;
  color: var(--black);
  font-size: 13px;
  font-family: var(--fontGraphik);
  height: 40px;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  top: 12px;
  color: #444;
}

.rightButtons {
  display: flex;
  gap: 10px;
  position: relative;
  /* REQUIRED for dropdown anchor */
}

.sortBtn {
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background-color: var(--white);
  color: var(--black);
  border-radius: 4px;
  border: 2px solid var(--borderColor);
  font-size: 13px;
  font-family: var(--fontGraphik);
  height: 40px;
}

.exportBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 18px;
  border: none;
  background: var(--gradientTheme);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-family: var(--fontGraphik);
  transition: 0.3s;
  text-align: left;
  box-shadow: #667eea4d 0px 4px 12px;
  height: 40px;
}
.iconExcel {
  width: 16px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(9deg) brightness(105%) contrast(100%);
}
.tableContainer {
  margin-top: 10px;
  background-color: var(--white);
  border-radius: 6px;
  overflow-x: auto;
  z-index: 1;
  position: relative;
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white);
}

.table th {
  background: #f4f3f8;
  text-align: left;
  white-space: nowrap;

  color: var(--black);

  font-family: var(--fontGraphikMedium);
  font-size: 13px;

  padding: 12px 16px;
  transition: all 0.3s;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  white-space: nowrap;
}

.table td {
  padding: 12px 16px;
  font-family: var(--fontGraphik);
  border-bottom: 1px solid var(--borderColor);
  color: var(--black);
  font-size: 13px;
  white-space: nowrap;
}
.table td {
  vertical-align: middle;
}
.table tr > th:first-child,
.table tr > td:first-child {
  position: sticky;
  left: 0;
  border-right: 1px solid var(--borderColor);
}
.table tr > th:first-child {
  background: #f4f3f8;
  z-index: 3;
}
.table tr > td:first-child {
  background-color: var(--white);
  z-index: 2;
}
.vehicleNumber {
  padding: 6px 12px;
  background: linear-gradient(135deg, #667eea1f 0%, #764ba21f 100%);
  color: var(--black);
  border-radius: 4px;
}
.tripBG {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: var(--gradientTheme);
  color: var(--black);
  border-radius: 4px;
  font-size: 13px;
  font-family: var(--fontGraphik);
  background: linear-gradient(135deg, #667eea1f 0%, #764ba21f 100%);
}
.progressCell {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.percentageText {
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  color: #374151;
}

.progressBar {
  width: 80px;
  height: 6px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  border-radius: 3px;
  transition: width 1s ease;
  background: var(--progress-color);
}

/* Specific Column Widths */
/* .table th:nth-child(1) {
  min-width: 80px;
} */

/* .table th:nth-child(2) {
  min-width: 90px;
}

.table th:nth-child(3) {
  min-width: 110px;
}

.table th:nth-child(4) {
  min-width: 90px;
}

.table th:nth-child(5) {
  min-width: 130px;
}

.table th:nth-child(6) {
  min-width: 180px;
}

.table th:nth-child(7) {
  min-width: 180px;
} */

/* 
.table th:nth-child(8) {
  min-width: 120px;
}


.table th:nth-child(9) {
  min-width: 80px;
}


.table th:nth-child(10) {
  min-width: 90px;
}


.table th:nth-child(11) {
  min-width: 90px;
}


.table th:nth-child(12) {
  min-width: 100px;
}


.table th:nth-child(13) {
  min-width: 100px;
}


.table th:nth-child(14) {
  min-width: 90px;
}


.table th:nth-child(15) {
  min-width: 110px;
}


.table th:nth-child(16) {
  min-width: 250px;
} */

/* Remark */

/* --- STICKY COLUMNS (Fixing first 6 columns) --- */

/* .table th:nth-child(-n + 6),
.table td:nth-child(-n + 6) {
  position: sticky;
  z-index: 5;
  background: #fff;
}

.table th:nth-child(-n + 6) {
  z-index: 20;
  background: #f7f9fc;
} */

/* Offsets Calculation */
/* 
.table th:nth-child(1),
.table td:nth-child(1) {
  left: 0;
}


.table th:nth-child(2),
.table td:nth-child(2) {
  left: 80px;
}


.table th:nth-child(3),
.table td:nth-child(3) {
  left: 170px;
}


.table th:nth-child(4),
.table td:nth-child(4) {
  left: 280px;
}


.table th:nth-child(5),
.table td:nth-child(5) {
  left: 370px;
}


.table th:nth-child(6),
.table td:nth-child(6) {
  left: 500px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
} */

/* Add shadow to last fixed col */
.driverName,
.helperName {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
.remark {
  width: 300px;
  max-width: 300px;
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
}

.sortDropdown {
  position: absolute;
  top: 100%;
  right: 60%;

  border: none;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 #0000001a;
  margin: 0;
  min-width: 140px;
  padding: 12px;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
}

.sortItem {
  padding: 14px 12px;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  font-size: 13px;
  font-family: var(--fontGraphik);
  white-space: nowrap;
  border-radius: 4px;
}

.sortItem:hover {
  background: var(--whitef5);
}

.sortUpIcon {
  color: var(--textDanger);
}

.sortDownIcon {
  color: var(--textSuccess);
}

@media (max-width: 767.98px) {
  .topbar {
    gap: 10px;
    flex-wrap: wrap;
  }
  .sortBtn div {
    display: none;
  }
  .exportBtn div {
    display: none;
  }
}
