.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    animation: fadeIn 0.25s ease-in-out;
}

.modalContent {
    position: relative;
    animation: zoomIn 0.25s ease-in-out;
    max-width: 90%;
    max-height: 90%;
}

.modalImage {
    width: 100%;
    max-height: 85vh;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.closeBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border: none;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

.closeBtn:hover {
    background: #ff3b3b;
    color: white;
}

.modalTitle {
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}