.mainLayout {
    width: 100%;
    /* height: 100vh; */
}

.mainContent {
    margin-left: var(--d2d-sidebar-width, 80px);
    margin-top: 60px;
    height: calc(100vh - 60px);
    transition: margin-left 0.3s ease;
    position: relative;
    z-index: 1;
}

@media (max-width: 767.98px) {
    .mainContent {
        margin-left: 0;
        margin-top: 60px;
        min-height: calc(100vh - 60px);
    }
}
