.Title_box {
    /* width: calc(100% - 36px); */
    /* background: var(--white); */
    /* height:65px; */
    position: sticky;
    padding: 10px 0px 0px 0px;
    /* box-shadow: 20px -8px 0px 0 #0000000a; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    border-radius: 4px;

}

.btn_radios {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
}

.lable_title {
    font-size: 12px;
    font-weight: 400;
    color: var(--darkBlack);
}

.radio>label {
    cursor: pointer;
    margin-bottom: 0;

}

.radio>input {
    cursor: pointer;

}

.radio {
    display: flex;
    align-items: center;
    gap: 5px;
}


.textEnter {
    width: 100%;
    padding: 16px 14px 14px 14px;
    overflow: hidden;
    resize: none;
    font-size: 13px;
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: 6px;
    height: 53px;

}

.textEnter:focus {
    border: 1px solid var(--borderColor);
}

.chat_box {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icon_Msg {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-bottom: 2px;
    filter: brightness(0) saturate(100%) invert(49%) sepia(46%) saturate(598%) hue-rotate(180deg) brightness(111%) contrast(92%);

}

.sendBtn {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: var(--themeColor);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 1px 6px;
    border: none !important;
    position: absolute;
    right: 13px;
    top: 12px;
  

}
.iconSend{
    width: 38px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(3%) hue-rotate(171deg) brightness(109%) contrast(98%);
}
.sendBtn:hover {
    background-color: var(--themeColorDark);
}

  .inputWrapper{
    width: 100%;
    position: relative;
  }

@media (max-width: 768px) {
    .Title_box {
        width: 100%;
        /* margin-left: -14px; */
        background-color: var(--white);
    }

    .textEnter {
        width: 100%;
    }
}