.scrollableContainer {
  min-height: 50px;
  max-height: calc(100vh - 90px);
  overflow: auto;
  background-color: var(--white);
  border-radius: 6px;
  /* box-shadow: 0 2px 11px 0 #0000000f; */
  background-image: linear-gradient(#F4F6F9, #fff);
}
.HolidayWidth {
  width: 400px !important;
  background-color: #f8f8f9 !important;
}
