.statusOptions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.statusbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none !important;
}
.taskTime {
  width: 90px;
  text-align: end;
}
.taskstatus {
  width: 70px;
  text-align: end;
}
.hours {
  font-family: var(--fontGraphik);
  font-size: 12px;
  color: var(--black);
}
.subTaskRow {
  display: inline-flex;
  margin-left: 10px;
  align-items: center;
}
.subTaskCount {
  font-size: 13px;
  /* color: var(--gray); */
  color: #9b9b9b;
  font-family: var(--fontGraphikMedium);
}
.iconSubTask {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  /* filter: brightness(0) saturate(100%) invert(72%) sepia(2%) saturate(19%)
    hue-rotate(9deg) brightness(87%) contrast(84%); */
}
/* .StatusBtn{
    color: #fff; 
    text-align: center;
    border-radius: 4px;
    font-family: var(--fontGraphik);
    font-size: 10px;
    padding:4px 4px;
} */
/**** Status Classess start *****/

.statusInprogress {
  background-color: blue;
  color: white;
}

.statusInReview {
  background-color: blue;
  color: white;
}

.statusdone {
  background-color: #48b54920;
  color: black;
}

.statusVerified {
  background-color: #48b54920;
  color: black;
}

.statusCompleted {
  background-color: #48b54920;
  color: black;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.flexRow {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.statusReopen {
  background-color: red;
  color: white;
}

.statusPause {
  background-color: red;
  color: white;
}

.statusOpen {
  background-color: lightgray;
  color: black;
}

.statusReviewed {
  background-color: #23d9f1;
  color: black;
}
.textChat {
  position: sticky;
  padding: 20px 30px;
  box-shadow: 20px 0px 0px 0 #0000000a;
  background-color: var(--white);

  /* background: red; */
}
.eyeicon {
  width: 14px;
  margin-bottom: 4px;
}

.loaderContainer {
  width: 100%;
  height: calc(100vh - 242px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
}
.loaderText {
  font-size: 16px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  margin-top: 10px;
}
.loaderText2 {
  font-size: 12px;
  font-family: var(--fontGraphik);
  color: var(--gray);
  margin-top: 8px;
}

.textboxGroup {
  margin-bottom: 24px;
  /* text-align: center; */
  font-family: var(--fontGraphik);
  font-size: 15px;
}
.textboxGroup {
  margin-bottom: 10px;
}
.textboxMain {
  display: flex;
  border-radius: 4px;
  border: 1px solid #ced4da;
  width: 100%;
}
.textboxLeft {
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  background-color: #eff2f7;
  padding: 0px 10px;
  height: 36px;
  width: 131px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.textboxRight {
  width: calc(100% - 131px);
  position: relative; /* Ensure proper positioning */
  overflow: visible !important;
}
.scrollableContainer td {
  padding: 6px 10px !important;
}

.btnOwner {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
  font-size: 13px;
  height: 30px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  &:hover {
    background-color: var(--whitef5) !important;
  }
}
.btnOwner:disabled {
  pointer-events: auto;
}
.ownerDropdown {
  max-height: 250px;
  overflow-y: auto;
  padding: 12px;
  margin: 0px;
  box-shadow: 0px 0px 8px 0px #0000001a;
  border-radius: 6px;
  border: none;
}
.ownerDropdown::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #b9bdb900;
  -webkit-box-shadow: transparent;
}

.ownerDropdown:hover::-webkit-scrollbar-thumb {
  background: var(--themeColor) !important;
}
.ownerDropdown::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
  border-radius: 0.25rem;
  background-color: #c8c8c800;
}
.ownerDropdown:hover::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
.dropdownItem {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--white);
  transition: 0.2s;
  &:hover {
    background-color: var(--whitef5);
    .btnOwner {
      background-color: var(--white) !important;
    }
    .ownerName {
      color: var(--black);
    }
  }
}
.ownerName {
  font-size: 13px;
  color: var(--regularColor);
  font-family: var(--fontGraphik);
}

/** Custom Table UI Design **/

.tableHeaderRow {
  display: flex;
  width: 100%;
  gap: 14px;
  padding-bottom: 8px;
  padding: 0px 16px;
  transition: all 0.3s;
  border: 1px solid #ffffff00;
  margin-bottom: 5px;
  border-radius: 6px;
  background-color: var(--whitefa);
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
}
.tableHeaderLeft {
  width: calc(100% - 280px);
  display: flex;
  gap: 14px;
}
.tableHeaderRight {
  width: 280px;
  display: flex;
}
.tableBody{
  height: calc(100vh - 242px);
  overflow: auto;
}
.tableRow {
  display: flex;
  width: 100%;
  gap: 14px;
  padding-bottom: 8px;
  align-items: flex-start;
  padding: 0px 16px;
  transition: all 0.3s;
  border: 1px solid #ffffff00;
  margin-bottom: 2px;
  border-radius: 6px;
  background-color: var(--white);
  font-size: 13px;
  color: var(--black);
  font-family: var(--fontGraphik);

  &:hover {
    background-color: #3fb2f108;
    border: 1px solid #3fb2f165;
    .dateTimeStatus {
      color: var(--black);
    }
  }
}
.tableColumn {
  padding: 7px 0px;
  min-height: 44px;
  align-items: center;
  display: flex;
}
.tableLeft {
  width: calc(100% - 280px);
  display: flex;
  gap: 14px;
}
.tableTask {
  width: calc(100% - 150px);
}
.tableColumnCreated,
.tableColumnStarted {
  width: 115px;
  display: flex;
  justify-content: flex-end;
}
.tableRight {
  width: 280px;
  display: flex;
  gap: 14px;
  justify-content: flex-end;
}
.dateTimeStatus {
  color: var(--regularColor);
}
.statusLabel {
  color: var(--regularColor);
  font-size: 8px;
  font-family: var(--fontGraphik);
}
