.AddDepartment_button2 {
    position: fixed;
    right: 14px;
    bottom: 50px;
}

.custom_AddDepartment_btn {
    background-color: #5eb1f4;
    color: white;
    border-radius: 10%;
    border: #5eb1f4;
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.icon_add_department {
    font-size: 15px;
}

.userRight {
    width: 250px;
    position: fixed;
    left: 0px;
    top: 70px;
    height: calc(100vh - 70px);
}

.userLeft {
  margin-left: 345px;
  width: calc(100% - 370px);
  }
  @media (max-width: 767.98px){
    .userLeft {
        width: 100%;
        margin-top: 80px;
        margin-left: 0px;
    }
    .userRight{
      width: 100%;
      position: fixed;
      right: 0px;
      top: 70px;
      background: white;
      padding: 10px 16px;
      height: auto;
      border-bottom: 1px solid var(--borderColor);
      z-index: 3;
  }
  .orderFirst{
    order: 1;
  }
  .orderSecond{
    order: 2;
  }
  
  }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--transparentBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}

.actionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff; */
    position: relative;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 40px;
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03); */

}

.headerDefaultGroup {
    border-top-right-radius: 6px;
    width: 90px;
    height: 73px;
    overflow: hidden;
    padding: 5px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    position: absolute;
    top: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border: 1px solid var(--borderColor);
}

.ImgAdd {
    width: 100%;
    height: auto;
    padding: 10px;
}

.closeBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: 0.5s ease-in-out;
}

.closeImg {
    width: 20px;
    height: 20px;
}

.closeBtn:hover .closeImg {
    filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(828%) hue-rotate(331deg) brightness(103%) contrast(88%);
}

.close_popup {
    filter: brightness(0) saturate(100%) invert(0%) sepia(86%) saturate(7443%) hue-rotate(220deg) brightness(105%) contrast(84%);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.close_popup:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(51%) saturate(2305%) hue-rotate(345deg) brightness(93%) contrast(94%);
}

.dialogbox {
    background: var(--white);
    padding: 24px 24px;
    width: 650px;
    display: flex;
    box-shadow: 0 2px 10px #0000001a;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.dialogbox2 {
    width: 490px;
}

.modalBody {
    width: 100%;
}

.mobileBody {
    flex-grow: 1;
}
.formGroup{
    margin-bottom: 10px;
}
@media (max-width: 767.98px) {
    .overlay {
        z-index: 1071;
    }

    .dialogbox {
        padding: 0px 16px;
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
    }

    .alertBox {
        justify-content: center;
    }

    .backBtn {
        left: 16px;
    }

    .closeBtn {
        right: 16px;
    }

    .headerDefaultGroup {
        margin-top: 20px;
    }

    .modalBody {
        padding: 0px;
        background-color: var(--white);
        border-radius: 0px;
        /* height: calc(100vh - 234px);
      overflow: auto; */
        padding-bottom: 20px;
    }

    .modalBody::-webkit-scrollbar {
        width: 0px;
    }

    .listStyle {
        min-height: 50px;
        max-height: 428px;
        overflow: auto;
    }

    .vehicleScrollMob {
        max-height: max-content;
    }

    .vehicleScroll {
        height: calc(100vh - 260px);
        overflow: auto;
    }

    .checkStyle {
        width: calc(100% / 2 - 10px);
    }

    .checkValue {
        font-size: 14px;
    }

    .btnSuccess,
    .btnCancel,
    .btnDelete {
        padding: 15px 15px;
    }

    .msgText {
        font-size: 14px;
    }

    .inputSearch {
        background-position: 10px 15px;
        padding: 15px 16px 15px 32px;

        &:focus {
            background-position: 95% 15px;
            padding: 15px 32px 15px 16px;
        }
    }

    .searchGroup {
        display: none;
    }

    .userListTitle {
        display: block;
    }

    .userScroll {
        height: calc(100vh - 360px);
        overflow: auto;
    }
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    padding: 20px;
}

.headerText {
    font-size: 16px;
    color: var(--black);
    font-family: var(--fontGraphikBold);
}