/* .Detailscard{
    margin-top: 70px;
} */
.card{
    background-color: var(--white);
    padding: 10px 16px;
    border-radius: 4px;

}
.cardHeader{
    margin-bottom: 10px;
}
.DetailscardUser{
    margin-bottom: 10px;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.noData{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    flex-flow: column;
  }
  .noDataImg{
    height: 80px;
    margin-bottom: 8px;
  }
  .noDataText{
    font-size: 12px;
    font-family: var(--fontGraphik);
    color: var(--gray);
  }

.nameheading{
    font-size: 15px;
    color: var(--lightBlack);
    font-family: var(--fontGraphikMedium);
}
.details{
  
    word-break: break-word;
    font-size: 13px;
    color: var(--lightBlack);
    font-family: var(--fontGraphik);
    word-break: break-word;
}
.userName{
    font-size: 13px;
    color: var(--lightBlack);
    font-family: var(--fontGraphikMedium);
}
.userLeft{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}
.detailsLeft{
    margin-right: 15px;
    font-size: 24px;
    display: flex;  
}
.detailsLeft{
    display: flex;
    flex-direction: column;
}
.username{
    font-size: 13px;
    color: var(--lightBlack);
    font-family: var(--fontGraphik);
    margin-top: 3px;
    word-break: break-word;
}
.edit_icon{
    width: 15px;
    height: 15px;
}
.listLine{
    padding: 0px;
    margin: 0px;
}


/* Table design */

.scrollableContainer {
    background-color: var(--white);
    border-radius: 6px;
    overflow: auto;
    width: 100%;
    min-height: 50px;
    max-height: calc(100vh - 86px);
    
}

.update_table {
    width: 100%;
    border-collapse: collapse;
}
.nameUser{
    font-family: var(--fontGraphikMedium) !important;
}
/* .table_ligh{
    padding: 9px 12px 9px 12px;
    


}

.nameUser{
font-family: var(--fontGraphikMedium);
} 

.table_ligh tr th{
    padding: 14px 12px 14px 12px;
    font-size: 13px;
    font-family: var(--fontGraphikMedium);
    color: var(--darkBlack);
    background-color: var(--whitefa);
    position: sticky;
    top: 0px;
    z-index: 1;
    
}
.show_list tr td{
    padding: 12px 12px 12px 12px;
    border-bottom: 1px solid var(--borderColor);
    font-size: 13px;
    font-family: var(--fontGraphik);
    color: var(--black);

    
}
.show_list tr:nth-last-child(1){
    border-bottom: none !important;
}
.show_list tr td:nth-last-child(6){
    font-size: 13px;
    font-family: var(--fontGraphikSemibold);
} */
.foundNot{
    height: 100px;
  }
  .dropdownItemNot{
    height: calc(100vh - 200px);
    font-size: 12px;
    color: #707070;
    font-family: var(--fontGraphik);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

  }
