.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    text-align: center;
}

.disabledInput {
    background-color: #cac7c7 !important;
    color: #6c757d !important;
    cursor: not-allowed !important;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

.formGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.actionButtons {
    width: 100%;
    display: flex;
    justify-content: row;
    gap: 20px;
    /* padding: 10px 0; */
    /* background-color: #f1f1f1; */
    /* border-top: 1px solid #ddd; */
}

/* .formGroup input {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
} */

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    /* gap: 10px; */
}

.submitButton {
    background-color: #bdeaff;
    width: 50%;
    color: rgb(8, 1, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #01030e;
}

.submitButton:hover {
    background-color: #7ab1d1;
    color: #01030e;
}

.Loginloadercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinnerLogin {
    margin-right: 10px;
    animation: spin 1s linear infinite;
}

.loaderText {
    color: white;
    font-size: 13px;
    text-transform: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cancelButton {
    background-color: #f5c3c7;
    /* Light red */
    color: #000000;
    /* Red text */
    width: 50%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancelButton:hover {
    background-color: #e28e97;
    color: #000000;
}

.addImageButton {
    background-color: #daebfd;
    color: rgb(35, 72, 121);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    font-size: 2rem;
    width: 70px;
    height: 70px;
}

.addImageButton:hover {
    background-color: #b0d4fb;
}

.fileInputContainer {
    display: flex;
    align-items: center;
}

.selectedImage {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-width: 2px;
    border-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Error Input Style */
.inputError {
    border: 1px solid red;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Error Message Style */
.errorMessage {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}