@import '../css/variables.css';

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.deleteContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.headerText {
    font-size: 18px;
    font-family: var(--fontGraphikSemibold);
    color: var(--black);
}

.deleteIcon {
    font-size: 10px;
    color: #dc3545; /* Bootstrap danger color */
}

.deleteText {
    font-size: 16px;
    font-weight: bold;
    color: #dc3545;
    margin-left: 5px;
}

.confirmationText {
    font-size: 16px;
    color: #3d4145; /* Bootstrap muted color */
    margin-top: 0px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
}

.cancelButton,
.deleteButton {
    flex: 1;
    margin: 0 10px;
    height: 45px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancelButton {
    background-color: #daebfd; 
    color: rgb(35, 72, 121);
}

.cancelButton:hover {
    background-color: #b0d4fb; /* Darker blue */
}

.deleteButton {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Red text */
}

.deleteButton:hover {
    background-color: #fcbfc5; /* Slightly darker light red */
}
