.canvas_container {
    padding: 20px;
}
.canvas_header_end {
    position: absolute;
    top: 10px;
    left: -36px;
    padding: 12px 2px 14px 14px;
    min-height: auto;
    background: rgb(255, 255, 255);
    box-shadow: rgba(140, 147, 159, 0.25) -4px 0px 50px 0px;
    border-radius: 40px 0px 0px 40px;
  
  }
  .close_popup {
   width: 20px;
  }
  
  .close_popup:hover {
    filter: brightness(0) saturate(100%) invert(47%) sepia(77%) saturate(1520%) hue-rotate(162deg) brightness(99%) contrast(101%);
  }


.department_title {
    font-size: 16px;
    font-family: var(--fontGraphikMedium);
    color: var(--darkBlack);
    margin-bottom: 14px;
}

.close_popup {
    font-size: 1.5rem;
    cursor: pointer;
}

.department_details {
    margin-top: 24px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    color: #495057;
    line-height: 1.6;
}

.department_details p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background: #f8f9fa;
    border-radius: 8px;
    margin: 8px 0;
    transition: background-color 0.3s;
}

.department_details p:hover {
    background-color: #e9ecef;
}

.department_details strong {
    font-weight: 600;
    color: #007bff;
}

.department_details span {
    color: #6c757d;
}

.scrollableContainer {
    height:calc(100vh - 75px); 
    overflow: auto;
    width: 100%;
    border: 1px solid var(--borderColor);
    
}

.update_table {
    width: 100%;
    border-collapse: collapse;
}
.update_table thead {
    position: sticky;
    top: 0px;
    background-color: #eef1f4;
    z-index: 10;
}

.table_ligh{
    padding: 9px 12px 9px 12px;
    border: 1px solid var(--borderColor);


}
.table_ligh tr th{
    padding: 10px 12px 10px 12px;
    font-size: 13px;
    font-family: var(--fontGraphikMedium);
    color: var(--lightBlack);
    
}
.show_list tr td{
    padding: 12px 12px 12px 12px;
    border-bottom: 1px solid var(--borderColor);
    font-size: 12px;
    font-family: var(--fontGraphik);
    color: var(--darkBlack);
    
}
.foundNot{
    height: 100px;
  }
  .dropdownItemNot{
    height: calc(100vh - 200px);
    font-size: 12px;
    color: #707070;
    font-family: var(--fontGraphik);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

  }

