.modal-content {
    background-color: #f0f0f0; /* Gray background */
    border-radius: 8px;
    padding: 20px;
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.imageCol {
    flex: 1 0 21%; /* Responsive column */
    max-width: 21%;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.imageCol:hover {
    transform: scale(1.05);
}

.selectedImage {
    border: 3px solid blue; /* Highlight border for selected image */
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.submitButton {
    background-color: #bdeaff;
    width: 30%;
    color: rgb(8, 1, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #01030e;
}

.submitButton:hover {
    background-color: #7ab1d1;
    color: #01030e;
}

.cancelButton {
    background-color: #f5c3c7; /* Light red */
    color: #000000; /* Red text */
    width: 30%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancelButton:hover {
    background-color: #e28e97;
    color: #000000;
}