.btnAction {
  display: flex;
  margin-top: 5px;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
  margin-right: 10px;
  padding: 0px 10px;
}

.addIcon {
  font-family: var(--fontGraphikMedium);
  font-size: 18px;
  color: var(--themeColor);
}

.ButtonAddTask {
  color: var(--themeColor);
  border: none;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--themeColor);
  line-height: 0px;
  gap: 4px;
}

.ButtonAddTask {
  transition: all 0.3s ease;
  /* Smooth transition effect */
}

.ButtonAddTask:hover {
  background-color: var(--themeColor);
  /* Button ka hover color */
  color: var(--white);
}

.ButtonAddTask:hover .addIcon {
  color: var(--white)
    /* + icon ka color bhi change ho */
}

.galleryRow {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 146px;
  max-width: 100%;
  overflow-x: auto;
  gap: 10px;
  margin: 15px 0px;
}

.galleryBox {
  flex-shrink: 0;
}

.checkBoxBG {
  margin-left: auto;
  background-color: var(--white);
  height: 35px;
  padding: 5px 10px;
  border-radius: 4px;
  width: auto;
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.TaskcheckBoxLabel {
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  line-height: 0px;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.customCheckbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--white);
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  margin-right: 8px;
  vertical-align: middle;
  transition: background-color 0.2s, border-color 0.2s;
  position: relative;
}

.hiddenCheckbox:checked+.customCheckbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 8px;
  border: solid var(--textSuccess);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.modalTicketBody1 {
  padding: 20px 20px 20px 20px;
}

.modalTicketBody2 {
  padding: 0px;
  width: 750px;
}

.modalTicketTitle {
  width: 750px;
}

.btnSaveTickets {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: var(--themeColorDark);
  }
}

.textboxLeft {
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  background-color: #eff2f7;
  padding: 0px 10px;
  height: 36px;
  width: 100px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.formControl {
  display: block;
  width: 320px;
  padding: .375rem .75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

