.iconEditBox {
  /* opacity: 0; */
  transition: 0.2s ease-in;
  width: 40px;
  text-align: end;
}

.iconHeader {
  width: 16px;
  height: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(37%) saturate(3186%) hue-rotate(172deg) brightness(99%) contrast(91%);
  }
}

.descriptionArea {
  width: calc(100% - 40px);
}

.descripationBox {
  height: calc(100vh - 70px);
  overflow: auto;
}

.noData {
  height: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.noDataImg {
  height: 80px;
  padding: 0px !important;
}

.noDataText {
  padding: 0px !important;
  font-size: 12px;
  color: var(--gray);
  font-family: var(--fontGraphik);
}

.addDesc {
  font-size: 14px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  background-color: var(--white);
  border-radius: 4px;
  font-family: var(--fontGraphikMedium);
  width: 26px;
  height: 22px;
  line-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}

.btnCommon {
  padding: 5px 10px;
  font-size: 10px;
  font-family: var(--fontGraphikMedium);
  outline: none;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btnTheme {
  background-color: var(--white);
  border: 1px solid var(--themeColor);
  color: var(--themeColor);

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);

    .iconRightStatus {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(245%) hue-rotate(293deg) brightness(116%) contrast(100%);
    }
  }
}

iconRightStatus {
  width: 12px;
}

.iconDone {
  filter: brightness(0) saturate(100%) invert(65%) sepia(52%) saturate(1999%) hue-rotate(172deg) brightness(95%) contrast(98%);
}

.fileUploadGroup {
  display: flex;
  width: 100%;
  padding: 4px 10px 4px 4px;
  margin-bottom: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  transition: 0.3s;

  &:hover {
    background-color: var(--whitef5);

    .iconFileAction {
      opacity: 1;
    }

    .filePreviewBg {
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 10;
        left: 10;
        background-image: url(../../images/icons/iconEye.png);
        background-size: cover;
        width: 18px;
        height: 18px;
      }
    }

    .iconFileType {
      display: none;
    }
  }
}

.fileUploadLeft {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
}

.filePreviewBg {
  background-color: transparent;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 4px;
  transition: 0.3s;
}

.iconFileType {
  width: 22px;
  height: 22px;
}

.uploadFileInfo {
  width: calc(100% - 50px);
}

.filePreviewBg:hover::after {
  filter: brightness(0) saturate(100%) invert(70%) sepia(39%) saturate(4290%) hue-rotate(172deg) brightness(100%) contrast(90%);
}

.uploadFileTitle {
  font-size: 15px;
  color: var(--gray);
  font-family: var(--fontGraphik);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ClosedButton {
  font-family: var(--fontGraphik);
  background-Color:var(--textDanger);
  color: var(--white);
  border-radius: 6px;
  border: none;
  padding: 5px;
  height: 28px;
}