*{
    font-family: var(--fontGraphik);
}
.modal {
  z-index: 1055;
}

.headerTitle {
  font-weight: 700;
  color: #1ca44e;
}

.body {
  max-height: 70vh;
  overflow-y: auto;
}

.cityCard {
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: 6px 10px;
  text-align: center;
  cursor: pointer;
  background: var(--white);
  transition: all 0.15s ease;
  /* height: 120px; */

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
}

.cityCard:hover {
  border-color: var(--themeColor);
}

.selected {
  border: 1px solid var(--themeColor);
  background-color: #f4f8ff;
}

.logoWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin: 0 auto 8px; */
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cityName {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}
.checkBoxStyle {
  width: 18px;
  height: 18px;
  cursor: pointer;
  /* accent-color:  var(--themeColor) ; */
  color: var(--white) !important;
  border-radius: 120px !important;

}

.emptyState {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #6b7280;
}

.emptyState h5 {
  font-weight: 600;
  margin-bottom: 8px;
  color: #374151;
}

.emptyState p {
  font-size: 14px;
}
