.noScroll {
  overflow: hidden;
}

.textboxGroup {
  margin-bottom: 24px;
  /* text-align: center; */
  font-family: var(--fontGraphik);
  font-size: 15px;
}
.searchGroup {
  padding: 0px 0px 16px 0px;
}
.memberListWrapper{
  position: relative;
}
.fadeBottom{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background: linear-gradient(to bottom, #ffffff00, #ffffff);
  pointer-events: none;
  z-index: 1;
}
.memberUL {
  height: 50vh;
  overflow: auto;
  list-style-type: none;
  padding: 0px;
  margin: 0px;

}
.memberUL::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #fff;
  -webkit-box-shadow: transparent;
}

.memberUL:hover::-webkit-scrollbar-thumb {
  background: var(--themeColor) !important;
}
.memberUL::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    background-color: #fff;
}
.memberUL:hover::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.memberList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid var(--borderColor);
  width: 100%;
  &:nth-last-child(1) {
    margin-bottom: 0px;
  }
  &:hover {
    background-color: var(--whitef5);
    .addButton {
        background-color: var(--themeColor);
        color: var(--white);
    }
    .userAvtar{
      background-color: var(--white);
    }
  }
}
.memberLeft {
  width: calc(100% - 35px);
  display: flex;
  align-items: center;
  gap: 10px;
}
.userAvtar {
  height: 38px;
  width: 42px;
  background-color: var(--whitef5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-size: 13px;
  font-family: var(--fontGraphik);
  letter-spacing: 1px;
  border-radius: 6px;
  overflow: hidden;
  text-transform: uppercase;
}
.userName {
  font-size: 15px;
  color: var(--black);
  font-family: var(--fontGraphikMedium);
  word-break: break-word;
  width: calc(100% - 52px);
}
.memberRight {
  width: 35px;
  display: flex;
  justify-content: flex-end;
}
.addButton {
  background-color: #e5e5e5;
  border: none;
  border-radius: 4px;
  padding: 3px 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: var(--fontGraphikMedium);
  color: var(--black70);
  transition: 0.2s;
  &:hover{
    background-color: var(--themeColor);
    color: var(--white);
  }
}
.noDataView {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}

.noDataView img {
  height: 88px;
  margin-bottom: 15px;
}

.noData {
  width: 110px;
  height: auto;
  margin-bottom: 12px;
}

.noDataText {
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--gray);
}

.textbox {
  font-size: 14px;
  font-family: var(--fontGraphik);
  color: var(--lighBlack);
}

.dropdown {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
}

.modalBody {
  width: 100%;
  padding: 30px 30px 30px 30px;
}

.btnSave {
  background-color: var(--themeColor);
  color: var(--white);
  font-size: 14px;
  font-family: var(--fontGraphikSemibold);
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: var(--themeColorDark);
  }
}

/*** Error Messages **/
.errorMessage,
.invalidfeedback {
  font-size: 12px;
  color: var(--textDanger);
  font-display: var(--fontGraphik);
  margin-top: 2px;
}

/*** Textbox New Design Starts here **/
.textboxGroup {
  margin-bottom: 10px;
}

.textboxMain {
  display: flex;
  border-radius: 6px;
  border: 1px solid #ced4da;
  width: 100%;
}

.textboxLeft {
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  background-color: #eff2f7;
  padding: 0px 10px;
  height: 36px;
  width: 131px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.textLableLeft {
  font-size: 13px;
  color: var(--lightBlack);
  font-family: var(--fontGraphik);
  background-color: #eff2f7;
  padding: 0px 10px;
  height: 36px;
  width: 65px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.textboxRight {
  width: calc(100% - 131px);
  position: relative;
  /* Ensure proper positioning */
  overflow: visible !important;
}

.textboxRightSelect {
  width: calc(100% - 65px);
  position: relative;
  /* Ensure proper positioning */
  overflow: visible !important;
}

.formTextbox {
  border: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: var(--fontGraphik);
  color: var(--black);
  padding: 0px 10px;
  height: 36px;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
}

.textBoxRow {
  width: 100%;
  display: flex;
  gap: 10px;
}

.textBoxRowLeft {
  width: calc(100% - 0px);
}

.textBoxRowRight {
  text-align: end;
  width: 36px;
}

.btnAddClient {
  background-color: var(--white);
  border: 1px solid var(--themeColor);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  font-size: 14px;
  color: var(--themeColor);
  font-family: var(--fontGraphikMedium);
  transition: 0.5s;
  border-radius: 6px;

  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}
.plusIcon {
  color: grey;
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  transition: 0.3s;
}

.plusIcon:hover {
  color: black;
  transform: scale(1.2);
}
