.ProjectMainPage {
  display: flex;
  width: 100%;
  margin-top: 60px;
}

.userLeft {
  width: 250px;
}

.userRight {
  width: 100%;
  padding: 10px 10px;
  height: calc(100vh - 60px);
  overflow: scroll;
}
.btnAction{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 10px;
}
.addIcon {
  font-family: var(--fontGraphikMedium);
  font-size: 18px;
}
.floatingBtn {
  height: 36px;
  border-radius: 4px;
  font-size: 13px;
  font-family: var(--fontGraphikMedium);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  line-height: 0px;
  gap: 4px;
  padding: 0px 14px;
  &:hover {
    background-color: var(--themeColor);
    color: var(--white);
  }
}
.btnGridBox {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid var(--themeColor);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--themeColor);
    .iconRight {
      filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(2428%) hue-rotate(38deg) brightness(112%) contrast(99%);
    }
  }
}
.iconRight {
  transition: 0.2s;
  width: 18px;
  height: 18px;
}
.btnGridBox .gridView{
display: none;
}
.btnGridBox.iconRotate .listView{
  display: none;
}

.btnGridBox.iconRotate .gridView{
  display: block;
}